footer.site-footer {
  background: #000;
  color: #fff;
  padding: 55px 0;
  margin: 0;
  p, a {
    color: inherit;
  }
}

.site-footer__linklist-item {
  display: inline-block;
  @media (min-width: 750px) {
    display: inline-block;
  }
}