<div id="shopify-section-1505984104237" class="shopify-section  index-section index-section--flush"
     data-theme-editor-section-35856769247="{&quot;id&quot;:&quot;1505984104237&quot;,&quot;type&quot;:&quot;hero&quot;,&quot;hidden&quot;:false}">
    <div class="hero hero--medium hero__overlay box ratio-container js lazyloaded" data-bgset="//cdn.shopify.com/s/files/1/2334/0831/files/Factory-WST-050_180x.jpg?v=1505984117 180w 120h,
    //cdn.shopify.com/s/files/1/2334/0831/files/Factory-WST-050_360x.jpg?v=1505984117 360w 240h,
    //cdn.shopify.com/s/files/1/2334/0831/files/Factory-WST-050_540x.jpg?v=1505984117 540w 360h,
    //cdn.shopify.com/s/files/1/2334/0831/files/Factory-WST-050_720x.jpg?v=1505984117 720w 480h,
    //cdn.shopify.com/s/files/1/2334/0831/files/Factory-WST-050_900x.jpg?v=1505984117 900w 600h,
    //cdn.shopify.com/s/files/1/2334/0831/files/Factory-WST-050_1080x.jpg?v=1505984117 1080w 720h,
    //cdn.shopify.com/s/files/1/2334/0831/files/Factory-WST-050_1296x.jpg?v=1505984117 1296w 864h,
    //cdn.shopify.com/s/files/1/2334/0831/files/Factory-WST-050_1512x.jpg?v=1505984117 1512w 1008h,
    //cdn.shopify.com/s/files/1/2334/0831/files/Factory-WST-050_1728x.jpg?v=1505984117 1728w 1152h,
    //cdn.shopify.com/s/files/1/2334/0831/files/Factory-WST-050_1950x.jpg?v=1505984117 1950w 1300h,
    //cdn.shopify.com/s/files/1/2334/0831/files/Factory-WST-050_2100x.jpg?v=1505984117 2100w 1400h,
    //cdn.shopify.com/s/files/1/2334/0831/files/Factory-WST-050_2260x.jpg?v=1505984117 2260w 1507h,
    //cdn.shopify.com/s/files/1/2334/0831/files/Factory-WST-050_2450x.jpg?v=1505984117 2450w 1634h,





    //cdn.shopify.com/s/files/1/2334/0831/files/Factory-WST-050.jpg?v=1505984117 2500w 1667h" data-parent-fit="cover"
         style="background-position: center center; background-image: url(&quot;https://cdn.shopify.com/s/files/1/2334/0831/files/Factory-WST-050_1296x.jpg?v=1505984117&quot;);">

        <div class="hero__inner">
            <div class="page-width text-center">

                <h2 class="h1 mega-title" data-theme-editor-setting="section.1505984104237.title/escape">品 牌</h2>


            </div>
        </div>
        <picture style="display: none;">
            <source data-srcset="//cdn.shopify.com/s/files/1/2334/0831/files/Factory-WST-050_180x.jpg?v=1505984117 180w 120h, //cdn.shopify.com/s/files/1/2334/0831/files/Factory-WST-050_360x.jpg?v=1505984117 360w 240h, //cdn.shopify.com/s/files/1/2334/0831/files/Factory-WST-050_540x.jpg?v=1505984117 540w 360h, //cdn.shopify.com/s/files/1/2334/0831/files/Factory-WST-050_720x.jpg?v=1505984117 720w 480h, //cdn.shopify.com/s/files/1/2334/0831/files/Factory-WST-050_900x.jpg?v=1505984117 900w 600h, //cdn.shopify.com/s/files/1/2334/0831/files/Factory-WST-050_1080x.jpg?v=1505984117 1080w 720h, //cdn.shopify.com/s/files/1/2334/0831/files/Factory-WST-050_1296x.jpg?v=1505984117 1296w 864h, //cdn.shopify.com/s/files/1/2334/0831/files/Factory-WST-050_1512x.jpg?v=1505984117 1512w 1008h, //cdn.shopify.com/s/files/1/2334/0831/files/Factory-WST-050_1728x.jpg?v=1505984117 1728w 1152h, //cdn.shopify.com/s/files/1/2334/0831/files/Factory-WST-050_1950x.jpg?v=1505984117 1950w 1300h, //cdn.shopify.com/s/files/1/2334/0831/files/Factory-WST-050_2100x.jpg?v=1505984117 2100w 1400h, //cdn.shopify.com/s/files/1/2334/0831/files/Factory-WST-050_2260x.jpg?v=1505984117 2260w 1507h, //cdn.shopify.com/s/files/1/2334/0831/files/Factory-WST-050_2450x.jpg?v=1505984117 2450w 1634h, //cdn.shopify.com/s/files/1/2334/0831/files/Factory-WST-050.jpg?v=1505984117 2500w 1667h"
                    sizes="632px"
                    srcset="//cdn.shopify.com/s/files/1/2334/0831/files/Factory-WST-050_180x.jpg?v=1505984117 180w 120h, //cdn.shopify.com/s/files/1/2334/0831/files/Factory-WST-050_360x.jpg?v=1505984117 360w 240h, //cdn.shopify.com/s/files/1/2334/0831/files/Factory-WST-050_540x.jpg?v=1505984117 540w 360h, //cdn.shopify.com/s/files/1/2334/0831/files/Factory-WST-050_720x.jpg?v=1505984117 720w 480h, //cdn.shopify.com/s/files/1/2334/0831/files/Factory-WST-050_900x.jpg?v=1505984117 900w 600h, //cdn.shopify.com/s/files/1/2334/0831/files/Factory-WST-050_1080x.jpg?v=1505984117 1080w 720h, //cdn.shopify.com/s/files/1/2334/0831/files/Factory-WST-050_1296x.jpg?v=1505984117 1296w 864h, //cdn.shopify.com/s/files/1/2334/0831/files/Factory-WST-050_1512x.jpg?v=1505984117 1512w 1008h, //cdn.shopify.com/s/files/1/2334/0831/files/Factory-WST-050_1728x.jpg?v=1505984117 1728w 1152h, //cdn.shopify.com/s/files/1/2334/0831/files/Factory-WST-050_1950x.jpg?v=1505984117 1950w 1300h, //cdn.shopify.com/s/files/1/2334/0831/files/Factory-WST-050_2100x.jpg?v=1505984117 2100w 1400h, //cdn.shopify.com/s/files/1/2334/0831/files/Factory-WST-050_2260x.jpg?v=1505984117 2260w 1507h, //cdn.shopify.com/s/files/1/2334/0831/files/Factory-WST-050_2450x.jpg?v=1505984117 2450w 1634h, //cdn.shopify.com/s/files/1/2334/0831/files/Factory-WST-050.jpg?v=1505984117 2500w 1667h">
            <img alt="" class="lazyautosizes lazyloaded" data-sizes="auto" data-parent-fit="cover" sizes="632px">
        </picture>
    </div>

    <noscript>
        &lt;div class="hero hero--medium hero__overlay" style="background-image:
        url('//cdn.shopify.com/s/files/1/2334/0831/files/Factory-WST-050_2048x.jpg?v=1505984117'); background-position:
        center center;"&gt;&lt;/div&gt;
    </noscript>


</div>
<div id="shopify-section-1505984408311" class="shopify-section index-section"
     data-theme-editor-section-35856769247="{&quot;id&quot;:&quot;1505984408311&quot;,&quot;type&quot;:&quot;custom-content&quot;,&quot;hidden&quot;:false}">
    <div class="page-width">

        <div class="section-header text-center">
            <h4 class="h2" data-theme-editor-setting="section.1505984408311.title/escape">历史</h4>
        </div>


        <div class="custom-content">


            <div class="custom__item custom__item--1505984408311-0 small--one-half medium-up--one-half align--top-middle"
                 data-theme-editor-block-35856769247="{&quot;id&quot;:&quot;1505984408311-0&quot;,&quot;type&quot;:&quot;text&quot;}">
                <div class="custom__item-inner custom__item-inner--text">

                    <div class="medium-up--text-left">


                        <div class="rte-setting"
                             data-theme-editor-setting="section.1505984408311.block.1505984408311-0.text"><p>
                                1877年，Adolph Heinrich Geyer（阿道夫•海因里希•盖耶）在艾森伯格建立了第一个钢琴专业工厂。 &nbsp;
                                在20世纪初，艾森伯格发展成一个以钢琴制造工业闻名的德国城市，仅在市内的钢琴工厂达到50多家，被誉为德国现代钢琴工业的发源地。二战期间，所有的钢琴企业几乎都被征用、停产或被摧毁，盖耶家族的钢琴工厂因悠久的历史而幸免被征用。二战结束后，政府以盖耶钢琴工厂为基础整合该地区的钢琴工厂资源。</p>
                        </div>

                    </div>

                </div>
            </div>


            <div class="custom__item custom__item--1505984501820 small--one-half medium-up--one-half align--top-middle"
                 data-theme-editor-block-35856769247="{&quot;id&quot;:&quot;1505984501820&quot;,&quot;type&quot;:&quot;text&quot;}">
                <div class="custom__item-inner custom__item-inner--text">

                    <div class="medium-up--text-left">


                        <div class="rte-setting"
                             data-theme-editor-setting="section.1505984408311.block.1505984501820.text"><p>
                                德意志民主共和国时期（1949-1990）,盖耶工厂（后改名为WILH. STEINBERG AG）归为国有, 组建成VEB Pianofortefabrik
                                Eisenberg, 并与其他钢琴工厂转名为VEB Möbelkombinat Eisenberg。东西德合并后，成立Eisenberger Pianofortefabrik
                                GmbH（后改为WILH. STEINBERG AG）。在1999年，以所在州更名為Thüringer Pianoforte GmbH。</p></div>

                    </div>

                </div>
            </div>


        </div>


    </div>


</div>
<div id="shopify-section-1505984534528" class="shopify-section index-section"
     data-theme-editor-section-35856769247="{&quot;id&quot;:&quot;1505984534528&quot;,&quot;type&quot;:&quot;feature-row&quot;,&quot;hidden&quot;:false}">
    <div class="page-width feature-row">


        <div class="feature-row">


            <div class="feature-row__item feature-row__text feature-row__text--right">

                <h2 class="h3" data-theme-editor-setting="section.1505984534528.title/escape">WILH.
                    STEINBERG钢琴的故乡—德国图林根州/艾森伯格</h2>


                <div class="rte-setting featured-row__subtext" data-theme-editor-setting="section.1505984534528.text">
                    <p>从法兰克福沿５号线高速公路向东北约340km，沿着广袤的大地驱车约3小时，就来到了宁静的小镇艾森伯格（Eisenberg）。这里就是WILH. STEINBERG钢琴的故乡。</p>
                    <p>
                        离此不远，是一大片绿色富饶的葡萄田园。每一滴液体里都凝聚着自然恩惠的美丽的葡萄酒厂区、以生产艺术工艺陶瓷而闻名的梅森瓷器、以及浓缩了欧洲文化艺术精髓的古都德累斯顿都座落在这里。19世纪伟大的歌剧作曲家理查德·瓦格纳（W.R.Wagner）就是在德累斯顿创作出了许多脍炙人口的优秀作品。</p>
                    <p>承袭欧洲文化历史的深厚的音乐渊源、汇集传统制琴技术及工艺之地—这就是艾森伯格（Eisenberg），也是WILH. STEINBERG钢琴的诞生地。</p></div>


            </div>


            <div class="feature-row__item">


                <style>


                    @media screen and (min-width: 750px) {
                        #FeatureRowImage-1505984534528 {
                            max-width: 545px;
                            max-height: 363.3333333333333px;
                        }

                        #FeatureRowImageWrapper-1505984534528 {
                            max-width: 545px;
                            max-height: 363.3333333333333px;
                        }
                    }

                    @media screen and (max-width: 749px) {
                        #FeatureRowImage-1505984534528 {
                            max-width: 750px;
                            max-height: 750px;
                        }

                        #FeatureRowImageWrapper-1505984534528 {
                            max-width: 750px;
                        }
                    }

                </style>

                <div id="FeatureRowImageWrapper-1505984534528" class="feature-row__image-wrapper js">
                    <div style="padding-top:66.66666666666666%;">
                        <img id="FeatureRowImage-1505984534528" class="feature-row__image lazyautosizes lazyloaded"
                             src="//cdn.shopify.com/s/files/1/2334/0831/files/WST-The-Legacy-01-copy_200x200.jpg?v=1505984584"
                             data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                             data-aspectratio="1.5" data-sizes="auto" alt=""
                             data-srcset="//cdn.shopify.com/s/files/1/2334/0831/files/WST-The-Legacy-01-copy_180x.jpg?v=1505984584 180w, //cdn.shopify.com/s/files/1/2334/0831/files/WST-The-Legacy-01-copy_360x.jpg?v=1505984584 360w, //cdn.shopify.com/s/files/1/2334/0831/files/WST-The-Legacy-01-copy_540x.jpg?v=1505984584 540w, //cdn.shopify.com/s/files/1/2334/0831/files/WST-The-Legacy-01-copy_720x.jpg?v=1505984584 720w, //cdn.shopify.com/s/files/1/2334/0831/files/WST-The-Legacy-01-copy_900x.jpg?v=1505984584 900w, //cdn.shopify.com/s/files/1/2334/0831/files/WST-The-Legacy-01-copy_1080x.jpg?v=1505984584 1080w, //cdn.shopify.com/s/files/1/2334/0831/files/WST-The-Legacy-01-copy_1296x.jpg?v=1505984584 1296w, //cdn.shopify.com/s/files/1/2334/0831/files/WST-The-Legacy-01-copy_1512x.jpg?v=1505984584 1512w, //cdn.shopify.com/s/files/1/2334/0831/files/WST-The-Legacy-01-copy_1728x.jpg?v=1505984584 1728w, //cdn.shopify.com/s/files/1/2334/0831/files/WST-The-Legacy-01-copy_2048x.jpg?v=1505984584 2048w"
                             sizes="588px"
                             srcset="//cdn.shopify.com/s/files/1/2334/0831/files/WST-The-Legacy-01-copy_180x.jpg?v=1505984584 180w, //cdn.shopify.com/s/files/1/2334/0831/files/WST-The-Legacy-01-copy_360x.jpg?v=1505984584 360w, //cdn.shopify.com/s/files/1/2334/0831/files/WST-The-Legacy-01-copy_540x.jpg?v=1505984584 540w, //cdn.shopify.com/s/files/1/2334/0831/files/WST-The-Legacy-01-copy_720x.jpg?v=1505984584 720w, //cdn.shopify.com/s/files/1/2334/0831/files/WST-The-Legacy-01-copy_900x.jpg?v=1505984584 900w, //cdn.shopify.com/s/files/1/2334/0831/files/WST-The-Legacy-01-copy_1080x.jpg?v=1505984584 1080w, //cdn.shopify.com/s/files/1/2334/0831/files/WST-The-Legacy-01-copy_1296x.jpg?v=1505984584 1296w, //cdn.shopify.com/s/files/1/2334/0831/files/WST-The-Legacy-01-copy_1512x.jpg?v=1505984584 1512w, //cdn.shopify.com/s/files/1/2334/0831/files/WST-The-Legacy-01-copy_1728x.jpg?v=1505984584 1728w, //cdn.shopify.com/s/files/1/2334/0831/files/WST-The-Legacy-01-copy_2048x.jpg?v=1505984584 2048w">
                    </div>
                </div>

                <noscript>
                    &lt;img
                    src="//cdn.shopify.com/s/files/1/2334/0831/files/WST-The-Legacy-01-copy_600x600@2x.jpg?v=1505984584"
                    alt="" class="feature-row__image" /&gt;
                </noscript>

            </div>


        </div>
    </div>


</div>
<div id="shopify-section-1505984599023" class="shopify-section index-section"
     data-theme-editor-section-35856769247="{&quot;id&quot;:&quot;1505984599023&quot;,&quot;type&quot;:&quot;feature-row&quot;,&quot;hidden&quot;:false}">
    <div class="page-width feature-row">


        <div class="feature-row">


            <div class="feature-row__item">


                <style>


                    @media screen and (min-width: 750px) {
                        #FeatureRowImage-1505984599023 {
                            max-width: 545px;
                            max-height: 363.5107421875px;
                        }

                        #FeatureRowImageWrapper-1505984599023 {
                            max-width: 545px;
                            max-height: 363.5107421875px;
                        }
                    }

                    @media screen and (max-width: 749px) {
                        #FeatureRowImage-1505984599023 {
                            max-width: 750px;
                            max-height: 750px;
                        }

                        #FeatureRowImageWrapper-1505984599023 {
                            max-width: 750px;
                        }
                    }

                </style>

                <div id="FeatureRowImageWrapper-1505984599023" class="feature-row__image-wrapper js">
                    <div style="padding-top:66.69921875%;">
                        <img id="FeatureRowImage-1505984599023" class="feature-row__image lazyautosizes lazyloaded"
                             src="//cdn.shopify.com/s/files/1/2334/0831/files/Factory-WST-008-1024x683_200x200.jpg?v=1505984625"
                             data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                             data-aspectratio="1.499267935578331" data-sizes="auto" alt=""
                             data-srcset="//cdn.shopify.com/s/files/1/2334/0831/files/Factory-WST-008-1024x683_180x.jpg?v=1505984625 180w, //cdn.shopify.com/s/files/1/2334/0831/files/Factory-WST-008-1024x683_360x.jpg?v=1505984625 360w, //cdn.shopify.com/s/files/1/2334/0831/files/Factory-WST-008-1024x683_540x.jpg?v=1505984625 540w, //cdn.shopify.com/s/files/1/2334/0831/files/Factory-WST-008-1024x683_720x.jpg?v=1505984625 720w, //cdn.shopify.com/s/files/1/2334/0831/files/Factory-WST-008-1024x683_900x.jpg?v=1505984625 900w, //cdn.shopify.com/s/files/1/2334/0831/files/Factory-WST-008-1024x683_1080x.jpg?v=1505984625 1080w, //cdn.shopify.com/s/files/1/2334/0831/files/Factory-WST-008-1024x683_1296x.jpg?v=1505984625 1296w, //cdn.shopify.com/s/files/1/2334/0831/files/Factory-WST-008-1024x683_1512x.jpg?v=1505984625 1512w, //cdn.shopify.com/s/files/1/2334/0831/files/Factory-WST-008-1024x683_1728x.jpg?v=1505984625 1728w, //cdn.shopify.com/s/files/1/2334/0831/files/Factory-WST-008-1024x683_2048x.jpg?v=1505984625 2048w"
                             sizes="588px"
                             srcset="//cdn.shopify.com/s/files/1/2334/0831/files/Factory-WST-008-1024x683_180x.jpg?v=1505984625 180w, //cdn.shopify.com/s/files/1/2334/0831/files/Factory-WST-008-1024x683_360x.jpg?v=1505984625 360w, //cdn.shopify.com/s/files/1/2334/0831/files/Factory-WST-008-1024x683_540x.jpg?v=1505984625 540w, //cdn.shopify.com/s/files/1/2334/0831/files/Factory-WST-008-1024x683_720x.jpg?v=1505984625 720w, //cdn.shopify.com/s/files/1/2334/0831/files/Factory-WST-008-1024x683_900x.jpg?v=1505984625 900w, //cdn.shopify.com/s/files/1/2334/0831/files/Factory-WST-008-1024x683_1080x.jpg?v=1505984625 1080w, //cdn.shopify.com/s/files/1/2334/0831/files/Factory-WST-008-1024x683_1296x.jpg?v=1505984625 1296w, //cdn.shopify.com/s/files/1/2334/0831/files/Factory-WST-008-1024x683_1512x.jpg?v=1505984625 1512w, //cdn.shopify.com/s/files/1/2334/0831/files/Factory-WST-008-1024x683_1728x.jpg?v=1505984625 1728w, //cdn.shopify.com/s/files/1/2334/0831/files/Factory-WST-008-1024x683_2048x.jpg?v=1505984625 2048w">
                    </div>
                </div>

                <noscript>
                    &lt;img
                    src="//cdn.shopify.com/s/files/1/2334/0831/files/Factory-WST-008-1024x683_600x600@2x.jpg?v=1505984625"
                    alt="" class="feature-row__image" /&gt;
                </noscript>

            </div>


            <div class="feature-row__item feature-row__text feature-row__text--left">

                <h2 class="h3" data-theme-editor-setting="section.1505984599023.title/escape">
                    18世纪80年代德国图林根州/艾森伯格汇集了制琴必须的所有要素(材料、技术及经验等)</h2>


                <div class="rte-setting featured-row__subtext" data-theme-editor-setting="section.1505984599023.text">
                    <p>翻开WILH. STEINBERG钢琴的历史，不得不提约翰·沃尔夫冈·冯·歌德。</p>
                    <p>1775年，当时统治萨克森-魏玛-艾森纳赫公国的卡尔·奥古斯特公爵邀请沃尔夫冈·冯·歌德来到图林根州。这件事对后来WILH. STEINBERG钢琴的诞生有着重要影响。</p>
                    <p>
                        歌德几乎把自己的一生都贡献给了德国文化艺术事业，他和他的家族们对推动图林根地区音乐作曲及演奏事业的发展做出了重大贡献。他的到来不仅促进了整个图林根州音乐文化艺术的繁荣，也带动了艾森伯格地区钢琴手工制造工艺的蓬勃发展。</p>
                    <p>◆&nbsp;英文版产品手册局部，讲述德国制琴技术发源于艾森伯格的背景故事。</p>
                    <p>◆&nbsp;位于艾森伯格市中心的重要建筑市政厅大厦。该文艺复兴样式的建筑始建于1579年。</p>
                    <p>◆&nbsp;Cristiansburg的宫殿公园及教堂，如此华丽装饰的建筑物为图林根州最具特色的巴洛克式教堂。</p></div>


            </div>


        </div>
    </div>


</div>
<div id="shopify-section-1505984641853" class="shopify-section index-section"
     data-theme-editor-section-35856769247="{&quot;id&quot;:&quot;1505984641853&quot;,&quot;type&quot;:&quot;feature-row&quot;,&quot;hidden&quot;:false}">
    <div class="page-width feature-row">


        <div class="feature-row">


            <div class="feature-row__item feature-row__text feature-row__text--right">

                <h2 class="h3" data-theme-editor-setting="section.1505984641853.title/escape">WILH. STEINBERG钢琴诞生于钢琴制造圣地
                    — 德国图林根州/艾森伯格</h2>


                <div class="rte-setting featured-row__subtext" data-theme-editor-setting="section.1505984641853.text">
                    <p>18世纪末，艾森伯格的一些手工作坊和手工艺者就开始为著名德国钢琴制造商生产钢琴零部件。不久，<br>这些手工作坊逐渐发展成以艾森伯格闻名的、拥有出色制琴工艺的钢琴制造工厂。与此同时，图林根地区广袤的森林保证了源源不断的木材供应，艾森伯格钢琴制造业的繁荣与此密不可分。
                    </p>
                    <p>就在德国制琴业发展的鼎盛时期，1877年，WILH. STEINBERG钢琴创立于艾森伯格盖耶家族的钢琴手工作坊。</p></div>


            </div>


            <div class="feature-row__item">


                <style>


                    @media screen and (min-width: 750px) {
                        #FeatureRowImage-1505984641853 {
                            max-width: 363.3333333333333px;
                            max-height: 545px;
                        }

                        #FeatureRowImageWrapper-1505984641853 {
                            max-width: 363.3333333333333px;
                            max-height: 545px;
                        }
                    }

                    @media screen and (max-width: 749px) {
                        #FeatureRowImage-1505984641853 {
                            max-width: 499.99999999999994px;
                            max-height: 750px;
                        }

                        #FeatureRowImageWrapper-1505984641853 {
                            max-width: 499.99999999999994px;
                        }
                    }

                </style>

                <div id="FeatureRowImageWrapper-1505984641853" class="feature-row__image-wrapper js">
                    <div style="padding-top:150.0%;">
                        <img id="FeatureRowImage-1505984641853" class="feature-row__image lazyautosizes lazyloaded"
                             src="//cdn.shopify.com/s/files/1/2334/0831/files/BTS-Eisenberg-094_200x200.jpg?v=1505984675"
                             data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                             data-aspectratio="0.6666666666666666" data-sizes="auto" alt=""
                             data-srcset="//cdn.shopify.com/s/files/1/2334/0831/files/BTS-Eisenberg-094_180x.jpg?v=1505984675 180w, //cdn.shopify.com/s/files/1/2334/0831/files/BTS-Eisenberg-094_360x.jpg?v=1505984675 360w, //cdn.shopify.com/s/files/1/2334/0831/files/BTS-Eisenberg-094_540x.jpg?v=1505984675 540w, //cdn.shopify.com/s/files/1/2334/0831/files/BTS-Eisenberg-094_720x.jpg?v=1505984675 720w, //cdn.shopify.com/s/files/1/2334/0831/files/BTS-Eisenberg-094_900x.jpg?v=1505984675 900w, //cdn.shopify.com/s/files/1/2334/0831/files/BTS-Eisenberg-094_1080x.jpg?v=1505984675 1080w, //cdn.shopify.com/s/files/1/2334/0831/files/BTS-Eisenberg-094_1296x.jpg?v=1505984675 1296w, //cdn.shopify.com/s/files/1/2334/0831/files/BTS-Eisenberg-094_1512x.jpg?v=1505984675 1512w, //cdn.shopify.com/s/files/1/2334/0831/files/BTS-Eisenberg-094_1728x.jpg?v=1505984675 1728w, //cdn.shopify.com/s/files/1/2334/0831/files/BTS-Eisenberg-094_2048x.jpg?v=1505984675 2048w"
                             sizes="500px"
                             srcset="//cdn.shopify.com/s/files/1/2334/0831/files/BTS-Eisenberg-094_180x.jpg?v=1505984675 180w, //cdn.shopify.com/s/files/1/2334/0831/files/BTS-Eisenberg-094_360x.jpg?v=1505984675 360w, //cdn.shopify.com/s/files/1/2334/0831/files/BTS-Eisenberg-094_540x.jpg?v=1505984675 540w, //cdn.shopify.com/s/files/1/2334/0831/files/BTS-Eisenberg-094_720x.jpg?v=1505984675 720w, //cdn.shopify.com/s/files/1/2334/0831/files/BTS-Eisenberg-094_900x.jpg?v=1505984675 900w, //cdn.shopify.com/s/files/1/2334/0831/files/BTS-Eisenberg-094_1080x.jpg?v=1505984675 1080w, //cdn.shopify.com/s/files/1/2334/0831/files/BTS-Eisenberg-094_1296x.jpg?v=1505984675 1296w, //cdn.shopify.com/s/files/1/2334/0831/files/BTS-Eisenberg-094_1512x.jpg?v=1505984675 1512w, //cdn.shopify.com/s/files/1/2334/0831/files/BTS-Eisenberg-094_1728x.jpg?v=1505984675 1728w, //cdn.shopify.com/s/files/1/2334/0831/files/BTS-Eisenberg-094_2048x.jpg?v=1505984675 2048w">
                    </div>
                </div>

                <noscript>
                    &lt;img
                    src="//cdn.shopify.com/s/files/1/2334/0831/files/BTS-Eisenberg-094_600x600@2x.jpg?v=1505984675"
                    alt="" class="feature-row__image" /&gt;
                </noscript>

            </div>


        </div>
    </div>


</div>
<div id="shopify-section-1505984688515" class="shopify-section index-section"
     data-theme-editor-section-35856769247="{&quot;id&quot;:&quot;1505984688515&quot;,&quot;type&quot;:&quot;feature-row&quot;,&quot;hidden&quot;:false}">
    <div class="page-width feature-row">


        <div class="feature-row">


            <div class="feature-row__item">


                <style>


                    @media screen and (min-width: 750px) {
                        #FeatureRowImage-1505984688515 {
                            max-width: 400px;
                            max-height: 469px;
                        }

                        #FeatureRowImageWrapper-1505984688515 {
                            max-width: 400px;
                            max-height: 469px;
                        }
                    }

                    @media screen and (max-width: 749px) {
                        #FeatureRowImage-1505984688515 {
                            max-width: 639.6588486140724px;
                            max-height: 750px;
                        }

                        #FeatureRowImageWrapper-1505984688515 {
                            max-width: 639.6588486140724px;
                        }
                    }

                </style>

                <div id="FeatureRowImageWrapper-1505984688515" class="feature-row__image-wrapper js">
                    <div style="padding-top:117.25%;">
                        <img id="FeatureRowImage-1505984688515" class="feature-row__image lazyautosizes lazyloaded"
                             src="//cdn.shopify.com/s/files/1/2334/0831/files/processPic_07_200x200.jpg?v=1505984705"
                             data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                             data-aspectratio="0.8528784648187633" data-sizes="auto" alt=""
                             data-srcset="//cdn.shopify.com/s/files/1/2334/0831/files/processPic_07_180x.jpg?v=1505984705 180w, //cdn.shopify.com/s/files/1/2334/0831/files/processPic_07_360x.jpg?v=1505984705 360w, //cdn.shopify.com/s/files/1/2334/0831/files/processPic_07_540x.jpg?v=1505984705 540w, //cdn.shopify.com/s/files/1/2334/0831/files/processPic_07_720x.jpg?v=1505984705 720w, //cdn.shopify.com/s/files/1/2334/0831/files/processPic_07_900x.jpg?v=1505984705 900w, //cdn.shopify.com/s/files/1/2334/0831/files/processPic_07_1080x.jpg?v=1505984705 1080w, //cdn.shopify.com/s/files/1/2334/0831/files/processPic_07_1296x.jpg?v=1505984705 1296w, //cdn.shopify.com/s/files/1/2334/0831/files/processPic_07_1512x.jpg?v=1505984705 1512w, //cdn.shopify.com/s/files/1/2334/0831/files/processPic_07_1728x.jpg?v=1505984705 1728w, //cdn.shopify.com/s/files/1/2334/0831/files/processPic_07_2048x.jpg?v=1505984705 2048w"
                             sizes="588px"
                             srcset="//cdn.shopify.com/s/files/1/2334/0831/files/processPic_07_180x.jpg?v=1505984705 180w, //cdn.shopify.com/s/files/1/2334/0831/files/processPic_07_360x.jpg?v=1505984705 360w, //cdn.shopify.com/s/files/1/2334/0831/files/processPic_07_540x.jpg?v=1505984705 540w, //cdn.shopify.com/s/files/1/2334/0831/files/processPic_07_720x.jpg?v=1505984705 720w, //cdn.shopify.com/s/files/1/2334/0831/files/processPic_07_900x.jpg?v=1505984705 900w, //cdn.shopify.com/s/files/1/2334/0831/files/processPic_07_1080x.jpg?v=1505984705 1080w, //cdn.shopify.com/s/files/1/2334/0831/files/processPic_07_1296x.jpg?v=1505984705 1296w, //cdn.shopify.com/s/files/1/2334/0831/files/processPic_07_1512x.jpg?v=1505984705 1512w, //cdn.shopify.com/s/files/1/2334/0831/files/processPic_07_1728x.jpg?v=1505984705 1728w, //cdn.shopify.com/s/files/1/2334/0831/files/processPic_07_2048x.jpg?v=1505984705 2048w">
                    </div>
                </div>

                <noscript>
                    &lt;img src="//cdn.shopify.com/s/files/1/2334/0831/files/processPic_07_600x600@2x.jpg?v=1505984705"
                    alt="" class="feature-row__image" /&gt;
                </noscript>

            </div>


            <div class="feature-row__item feature-row__text feature-row__text--left">

                <h2 class="h3" data-theme-editor-setting="section.1505984688515.title/escape">传承135年的传统工艺和技术是WILH.
                    STEINBERG钢琴的骄傲</h2>


                <div class="rte-setting featured-row__subtext" data-theme-editor-setting="section.1505984688515.text">
                    <p>WILH. STEINBERG公司自成立以来，在为数众多的德国钢琴品牌中，始终保持着屹立不倒的地位。<br>经典优雅的设计、富有魅力的音质和令人信赖的品质，保证了WILH.
                        STEINBERG钢琴在漫长的钢琴制造史中不断取得瞩目成功；135年以上悠久的制造传统、代代传承的宝贵经验，融合现代德国制琴技术，<br>造就了WILH.
                        STEINBERG钢琴完美的音色和卓越的品质。</p></div>


            </div>


        </div>
    </div>


</div>
<div id="shopify-section-1505984716508" class="shopify-section index-section"
     data-theme-editor-section-35856769247="{&quot;id&quot;:&quot;1505984716508&quot;,&quot;type&quot;:&quot;feature-row&quot;,&quot;hidden&quot;:false}">
    <div class="page-width feature-row">


        <div class="feature-row">


            <div class="feature-row__item feature-row__text feature-row__text--right">

                <h2 class="h3" data-theme-editor-setting="section.1505984716508.title/escape">传承135年的制琴技术和传统</h2>


                <div class="rte-setting featured-row__subtext" data-theme-editor-setting="section.1505984716508.text">
                    <p>WILH. STEINBERG钢琴始终不变的独特价值在于其代代传承的手工制琴工艺。随着与现代科技的完美融合，WILH.
                        STEINBERG钢琴的品质更加达到了无以伦比的境界，而培养传承未来的接班人也成为<br>WILH. STEINBERG越来越重要的课题。</p>
                    <p>
                        艾森伯格135年以上的制琴经验，加之严格的工厂质量管理，保证了每一位顾客都能拥有堪称完美杰作<br>的德国钢琴。她稳定的表现、出色的手感、完美的音色和方便的护理，陪伴每一位顾客用心感受音乐<br>的喜悦。
                    </p>
                    <p><strong>WILH. STEINBERG钢琴曾使用意大利Val di Fiemme云杉音板</strong><br><strong>被著名小提琴品牌Stradivarius所采用的意大利Val
                            di Fiemme实木</strong></p>
                    <p>WILH. STEINBERG钢琴由6000多个零部件组成（其中约60%由木材制作），在出厂之前需要经过众多工艺流程，这其中最重要的是音板。</p>
                    <p>目前，WILH. STEINBERG钢琴使用音色及平衡感都较好的阿拉斯加云杉实木作为音板。<br>但WILH. STEINBERG公司早期制作的钢琴，其音板都使用拥有唯一编号及保障的意大利Val
                        di Fiemme<br>实木云杉。</p>
                    <p>该地区的云杉生长在海拔1000m以上的地区，拥有紧致的年轮，是构成当时WILH.
                        STEINBERG钢琴著名音色的重要成分。据说，Strdivarius在制作他的名作小提琴时也使用了该地区的木材，<br>而WILH.
                        STEINBERG钢琴也因使用了该地区的云杉作为音板，因而拥有亮丽的音质和饱满的音色，在当时享誉世界。</p></div>


            </div>


            <div class="feature-row__item">


                <style>


                    @media screen and (min-width: 750px) {
                        #FeatureRowImage-1505984716508 {
                            max-width: 545px;
                            max-height: 422.36356003358526px;
                        }

                        #FeatureRowImageWrapper-1505984716508 {
                            max-width: 545px;
                            max-height: 422.36356003358526px;
                        }
                    }

                    @media screen and (max-width: 749px) {
                        #FeatureRowImage-1505984716508 {
                            max-width: 750px;
                            max-height: 750px;
                        }

                        #FeatureRowImageWrapper-1505984716508 {
                            max-width: 750px;
                        }
                    }

                </style>

                <div id="FeatureRowImageWrapper-1505984716508" class="feature-row__image-wrapper js">
                    <div style="padding-top:77.49790092359362%;">
                        <img id="FeatureRowImage-1505984716508" class="feature-row__image lazyautosizes lazyloaded"
                             src="//cdn.shopify.com/s/files/1/2334/0831/files/Inside-WST-Factory_200x200.jpg?v=1505984727"
                             data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                             data-aspectratio="1.2903575297941494" data-sizes="auto" alt=""
                             data-srcset="//cdn.shopify.com/s/files/1/2334/0831/files/Inside-WST-Factory_180x.jpg?v=1505984727 180w, //cdn.shopify.com/s/files/1/2334/0831/files/Inside-WST-Factory_360x.jpg?v=1505984727 360w, //cdn.shopify.com/s/files/1/2334/0831/files/Inside-WST-Factory_540x.jpg?v=1505984727 540w, //cdn.shopify.com/s/files/1/2334/0831/files/Inside-WST-Factory_720x.jpg?v=1505984727 720w, //cdn.shopify.com/s/files/1/2334/0831/files/Inside-WST-Factory_900x.jpg?v=1505984727 900w, //cdn.shopify.com/s/files/1/2334/0831/files/Inside-WST-Factory_1080x.jpg?v=1505984727 1080w, //cdn.shopify.com/s/files/1/2334/0831/files/Inside-WST-Factory_1296x.jpg?v=1505984727 1296w, //cdn.shopify.com/s/files/1/2334/0831/files/Inside-WST-Factory_1512x.jpg?v=1505984727 1512w, //cdn.shopify.com/s/files/1/2334/0831/files/Inside-WST-Factory_1728x.jpg?v=1505984727 1728w, //cdn.shopify.com/s/files/1/2334/0831/files/Inside-WST-Factory_2048x.jpg?v=1505984727 2048w"
                             sizes="588px"
                             srcset="//cdn.shopify.com/s/files/1/2334/0831/files/Inside-WST-Factory_180x.jpg?v=1505984727 180w, //cdn.shopify.com/s/files/1/2334/0831/files/Inside-WST-Factory_360x.jpg?v=1505984727 360w, //cdn.shopify.com/s/files/1/2334/0831/files/Inside-WST-Factory_540x.jpg?v=1505984727 540w, //cdn.shopify.com/s/files/1/2334/0831/files/Inside-WST-Factory_720x.jpg?v=1505984727 720w, //cdn.shopify.com/s/files/1/2334/0831/files/Inside-WST-Factory_900x.jpg?v=1505984727 900w, //cdn.shopify.com/s/files/1/2334/0831/files/Inside-WST-Factory_1080x.jpg?v=1505984727 1080w, //cdn.shopify.com/s/files/1/2334/0831/files/Inside-WST-Factory_1296x.jpg?v=1505984727 1296w, //cdn.shopify.com/s/files/1/2334/0831/files/Inside-WST-Factory_1512x.jpg?v=1505984727 1512w, //cdn.shopify.com/s/files/1/2334/0831/files/Inside-WST-Factory_1728x.jpg?v=1505984727 1728w, //cdn.shopify.com/s/files/1/2334/0831/files/Inside-WST-Factory_2048x.jpg?v=1505984727 2048w">
                    </div>
                </div>

                <noscript>
                    &lt;img
                    src="//cdn.shopify.com/s/files/1/2334/0831/files/Inside-WST-Factory_600x600@2x.jpg?v=1505984727"
                    alt="" class="feature-row__image" /&gt;
                </noscript>

            </div>


        </div>
    </div>


</div>
<div id="shopify-section-1505984786250" class="shopify-section index-section"
     data-theme-editor-section-35856769247="{&quot;id&quot;:&quot;1505984786250&quot;,&quot;type&quot;:&quot;feature-row&quot;,&quot;hidden&quot;:false}">
    <div class="page-width feature-row">


        <div class="feature-row">


            <div class="feature-row__item">


                <style>


                    @media screen and (min-width: 750px) {
                        #FeatureRowImage-1505984786250 {
                            max-width: 237px;
                            max-height: 264px;
                        }

                        #FeatureRowImageWrapper-1505984786250 {
                            max-width: 237px;
                            max-height: 264px;
                        }
                    }

                    @media screen and (max-width: 749px) {
                        #FeatureRowImage-1505984786250 {
                            max-width: 673.2954545454545px;
                            max-height: 750px;
                        }

                        #FeatureRowImageWrapper-1505984786250 {
                            max-width: 673.2954545454545px;
                        }
                    }

                </style>

                <div id="FeatureRowImageWrapper-1505984786250" class="feature-row__image-wrapper js">
                    <div style="padding-top:111.3924051%;">
                        <img id="FeatureRowImage-1505984786250" class="feature-row__image lazyautosizes lazyloaded"
                             src="//cdn.shopify.com/s/files/1/2334/0831/files/processPic_09_200x200.png?v=1505984804"
                             data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                             data-aspectratio="0.8977272727272727" data-sizes="auto" alt=""
                             data-srcset="//cdn.shopify.com/s/files/1/2334/0831/files/processPic_09_180x.png?v=1505984804 180w, //cdn.shopify.com/s/files/1/2334/0831/files/processPic_09_360x.png?v=1505984804 360w, //cdn.shopify.com/s/files/1/2334/0831/files/processPic_09_540x.png?v=1505984804 540w, //cdn.shopify.com/s/files/1/2334/0831/files/processPic_09_720x.png?v=1505984804 720w, //cdn.shopify.com/s/files/1/2334/0831/files/processPic_09_900x.png?v=1505984804 900w, //cdn.shopify.com/s/files/1/2334/0831/files/processPic_09_1080x.png?v=1505984804 1080w, //cdn.shopify.com/s/files/1/2334/0831/files/processPic_09_1296x.png?v=1505984804 1296w, //cdn.shopify.com/s/files/1/2334/0831/files/processPic_09_1512x.png?v=1505984804 1512w, //cdn.shopify.com/s/files/1/2334/0831/files/processPic_09_1728x.png?v=1505984804 1728w, //cdn.shopify.com/s/files/1/2334/0831/files/processPic_09_2048x.png?v=1505984804 2048w"
                             sizes="588px"
                             srcset="//cdn.shopify.com/s/files/1/2334/0831/files/processPic_09_180x.png?v=1505984804 180w, //cdn.shopify.com/s/files/1/2334/0831/files/processPic_09_360x.png?v=1505984804 360w, //cdn.shopify.com/s/files/1/2334/0831/files/processPic_09_540x.png?v=1505984804 540w, //cdn.shopify.com/s/files/1/2334/0831/files/processPic_09_720x.png?v=1505984804 720w, //cdn.shopify.com/s/files/1/2334/0831/files/processPic_09_900x.png?v=1505984804 900w, //cdn.shopify.com/s/files/1/2334/0831/files/processPic_09_1080x.png?v=1505984804 1080w, //cdn.shopify.com/s/files/1/2334/0831/files/processPic_09_1296x.png?v=1505984804 1296w, //cdn.shopify.com/s/files/1/2334/0831/files/processPic_09_1512x.png?v=1505984804 1512w, //cdn.shopify.com/s/files/1/2334/0831/files/processPic_09_1728x.png?v=1505984804 1728w, //cdn.shopify.com/s/files/1/2334/0831/files/processPic_09_2048x.png?v=1505984804 2048w">
                    </div>
                </div>

                <noscript>
                    &lt;img src="//cdn.shopify.com/s/files/1/2334/0831/files/processPic_09_600x600@2x.png?v=1505984804"
                    alt="" class="feature-row__image" /&gt;
                </noscript>

            </div>


            <div class="feature-row__item feature-row__text feature-row__text--left">

                <h2 class="h3" data-theme-editor-setting="section.1505984786250.title/escape">WILH.
                    STEINBERG钢琴音板上书写的是饱满音色和优异品质的承诺证明</h2>


                <div class="rte-setting featured-row__subtext" data-theme-editor-setting="section.1505984786250.text">
                    <p>意大利Val di Fiemme云杉，生长在海拔1000米以上，拥有细密紧致的年轮，其少有的耐久性可使音板持续保持张力，这正是它的精华所在。</p>
                    <p>该木材为全世界各大钢琴制造商竞相争购，唯有位于艾森伯格的WILH. STEINBERG工厂，由于与Ciresa<br>公司拥有长期信赖关系，一直得到充分供应。</p>
                    <p>目前，WILH. STEINBERG钢琴使用阿拉斯加云杉实木作为音板，其不变的完美音色仍一如既往地受到全世界的好评。</p></div>


            </div>


        </div>
    </div>


</div>
<div id="shopify-section-1505984822506" class="shopify-section index-section"
     data-theme-editor-section-35856769247="{&quot;id&quot;:&quot;1505984822506&quot;,&quot;type&quot;:&quot;feature-row&quot;,&quot;hidden&quot;:false}">
    <div class="page-width feature-row">


        <div class="feature-row">


            <div class="feature-row__item feature-row__text feature-row__text--right">

                <h2 class="h3" data-theme-editor-setting="section.1505984822506.title/escape">荣获法国《音乐世界》杂志奖</h2>


                <div class="rte-setting featured-row__subtext" data-theme-editor-setting="section.1505984822506.text">
                    <p>一年一度于巴黎举行的、由来自全世界300多家钢琴制造商参加的法国《音乐世界》CHOC大奖评比，<br>汇集了包括德国在内的欧洲、亚洲和美国等全世界的优秀钢琴。</p>
                    <p>自1994年起，WILH. STEINBERG钢琴已经荣获了3次CHOC大奖。正是由于她拥有足以感动演奏者心灵的丰富表现和超越自身的卓越价值，所以才能获得如此殊荣。</p></div>


            </div>


            <div class="feature-row__item">


                <style>


                    @media screen and (min-width: 750px) {
                        #FeatureRowImage-1505984822506 {
                            max-width: 384.88700564971754px;
                            max-height: 545px;
                        }

                        #FeatureRowImageWrapper-1505984822506 {
                            max-width: 384.88700564971754px;
                            max-height: 545px;
                        }
                    }

                    @media screen and (max-width: 749px) {
                        #FeatureRowImage-1505984822506 {
                            max-width: 529.6610169491526px;
                            max-height: 750px;
                        }

                        #FeatureRowImageWrapper-1505984822506 {
                            max-width: 529.6610169491526px;
                        }
                    }

                </style>

                <div id="FeatureRowImageWrapper-1505984822506" class="feature-row__image-wrapper js">
                    <div style="padding-top:141.6%;">
                        <img id="FeatureRowImage-1505984822506" class="feature-row__image lazyautosizes lazyloaded"
                             src="//cdn.shopify.com/s/files/1/2334/0831/files/Brand_5t1_200x200.jpg?v=1505984849"
                             data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                             data-aspectratio="0.7062146892655368" data-sizes="auto" alt=""
                             data-srcset="//cdn.shopify.com/s/files/1/2334/0831/files/Brand_5t1_180x.jpg?v=1505984849 180w, //cdn.shopify.com/s/files/1/2334/0831/files/Brand_5t1_360x.jpg?v=1505984849 360w, //cdn.shopify.com/s/files/1/2334/0831/files/Brand_5t1_540x.jpg?v=1505984849 540w, //cdn.shopify.com/s/files/1/2334/0831/files/Brand_5t1_720x.jpg?v=1505984849 720w, //cdn.shopify.com/s/files/1/2334/0831/files/Brand_5t1_900x.jpg?v=1505984849 900w, //cdn.shopify.com/s/files/1/2334/0831/files/Brand_5t1_1080x.jpg?v=1505984849 1080w, //cdn.shopify.com/s/files/1/2334/0831/files/Brand_5t1_1296x.jpg?v=1505984849 1296w, //cdn.shopify.com/s/files/1/2334/0831/files/Brand_5t1_1512x.jpg?v=1505984849 1512w, //cdn.shopify.com/s/files/1/2334/0831/files/Brand_5t1_1728x.jpg?v=1505984849 1728w, //cdn.shopify.com/s/files/1/2334/0831/files/Brand_5t1_2048x.jpg?v=1505984849 2048w"
                             sizes="530px"
                             srcset="//cdn.shopify.com/s/files/1/2334/0831/files/Brand_5t1_180x.jpg?v=1505984849 180w, //cdn.shopify.com/s/files/1/2334/0831/files/Brand_5t1_360x.jpg?v=1505984849 360w, //cdn.shopify.com/s/files/1/2334/0831/files/Brand_5t1_540x.jpg?v=1505984849 540w, //cdn.shopify.com/s/files/1/2334/0831/files/Brand_5t1_720x.jpg?v=1505984849 720w, //cdn.shopify.com/s/files/1/2334/0831/files/Brand_5t1_900x.jpg?v=1505984849 900w, //cdn.shopify.com/s/files/1/2334/0831/files/Brand_5t1_1080x.jpg?v=1505984849 1080w, //cdn.shopify.com/s/files/1/2334/0831/files/Brand_5t1_1296x.jpg?v=1505984849 1296w, //cdn.shopify.com/s/files/1/2334/0831/files/Brand_5t1_1512x.jpg?v=1505984849 1512w, //cdn.shopify.com/s/files/1/2334/0831/files/Brand_5t1_1728x.jpg?v=1505984849 1728w, //cdn.shopify.com/s/files/1/2334/0831/files/Brand_5t1_2048x.jpg?v=1505984849 2048w">
                    </div>
                </div>

                <noscript>
                    &lt;img src="//cdn.shopify.com/s/files/1/2334/0831/files/Brand_5t1_600x600@2x.jpg?v=1505984849"
                    alt="" class="feature-row__image" /&gt;
                </noscript>

            </div>


        </div>
    </div>


</div>
<div id="shopify-section-1505984918129" class="shopify-section index-section"
     data-theme-editor-section-35856769247="{&quot;id&quot;:&quot;1505984918129&quot;,&quot;type&quot;:&quot;custom-content&quot;,&quot;hidden&quot;:false}">
    <div class="page-width">

        <div class="section-header text-center">
            <h4 class="h2" data-theme-editor-setting="section.1505984918129.title/escape">WILH. STEINBERG钢琴的骄傲</h4>
        </div>


        <div class="custom-content">


            <div class="custom__item custom__item--1505984918129-0 one-whole align--center"
                 data-theme-editor-block-35856769247="{&quot;id&quot;:&quot;1505984918129-0&quot;,&quot;type&quot;:&quot;text&quot;}">
                <div class="custom__item-inner custom__item-inner--text">

                    <div class="medium-up--text-left">


                        <div class="rte-setting"
                             data-theme-editor-setting="section.1505984918129.block.1505984918129-0.text"><p>WILH.
                                STEINBERG对钢琴音板从成型到完成的制造工艺花费了大量心思，即使在追求生产效率和交货速度的今天，也绝不妥协。<br>因为WILH.
                                STEINBERG深知，音板是决定钢琴音色和耐久性的重要因素，也是钢琴制造的精髓所在。</p>
                            <p>融合了135年的钢琴制造经验和现代制造技术的WILH. STEINBERG，成就显著。</p>
                            <p>在将自然木材做成音板成品的过程中，需要耗费大量的生产工艺和时间。为了保证钢琴的质量，WILH. STEINBERG采用独创工艺生产音板及<br>铁板骨架组装成钢琴共鸣盘。这种独创的传统制法既是WILH.
                                STEINBERG钢琴的立身之本，也是WILH. STEINBERG钢琴最引以为傲之处。</p></div>

                    </div>

                </div>
            </div>


            <style>


                #CustomImage--2-11329830940 {
                    max-width: 345px;
                    max-height: 230.11230468749997px;
                }

                #CustomImageWrapper--2-11329830940 {
                    max-width: 345px;
                    max-height: 230.11230468749997px;
                }


            </style>


            <div class="custom__item custom__item--1505984918129-1 small--one-half medium-up--one-third align--center"
                 data-theme-editor-block-35856769247="{&quot;id&quot;:&quot;1505984918129-1&quot;,&quot;type&quot;:&quot;image&quot;}">
                <div class="custom__item-inner custom__item-inner--image" id="CustomImageWrapper--2-11329830940">


                    <div style="padding-top:66.69921875%;">
                        <img id="CustomImage--2-11329830940" class="custom__image js lazyautosizes lazyloaded"
                             src="//cdn.shopify.com/s/files/1/2334/0831/files/01-1024x683_300x300.jpg?v=1505985036"
                             data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                             data-aspectratio="1.499267935578331" data-sizes="auto" alt=""
                             data-srcset="//cdn.shopify.com/s/files/1/2334/0831/files/01-1024x683_180x.jpg?v=1505985036 180w, //cdn.shopify.com/s/files/1/2334/0831/files/01-1024x683_360x.jpg?v=1505985036 360w, //cdn.shopify.com/s/files/1/2334/0831/files/01-1024x683_540x.jpg?v=1505985036 540w, //cdn.shopify.com/s/files/1/2334/0831/files/01-1024x683_720x.jpg?v=1505985036 720w, //cdn.shopify.com/s/files/1/2334/0831/files/01-1024x683_900x.jpg?v=1505985036 900w, //cdn.shopify.com/s/files/1/2334/0831/files/01-1024x683_1080x.jpg?v=1505985036 1080w, //cdn.shopify.com/s/files/1/2334/0831/files/01-1024x683_1296x.jpg?v=1505985036 1296w, //cdn.shopify.com/s/files/1/2334/0831/files/01-1024x683_1512x.jpg?v=1505985036 1512w, //cdn.shopify.com/s/files/1/2334/0831/files/01-1024x683_1728x.jpg?v=1505985036 1728w, //cdn.shopify.com/s/files/1/2334/0831/files/01-1024x683_2048x.jpg?v=1505985036 2048w"
                             sizes="283px"
                             srcset="//cdn.shopify.com/s/files/1/2334/0831/files/01-1024x683_180x.jpg?v=1505985036 180w, //cdn.shopify.com/s/files/1/2334/0831/files/01-1024x683_360x.jpg?v=1505985036 360w, //cdn.shopify.com/s/files/1/2334/0831/files/01-1024x683_540x.jpg?v=1505985036 540w, //cdn.shopify.com/s/files/1/2334/0831/files/01-1024x683_720x.jpg?v=1505985036 720w, //cdn.shopify.com/s/files/1/2334/0831/files/01-1024x683_900x.jpg?v=1505985036 900w, //cdn.shopify.com/s/files/1/2334/0831/files/01-1024x683_1080x.jpg?v=1505985036 1080w, //cdn.shopify.com/s/files/1/2334/0831/files/01-1024x683_1296x.jpg?v=1505985036 1296w, //cdn.shopify.com/s/files/1/2334/0831/files/01-1024x683_1512x.jpg?v=1505985036 1512w, //cdn.shopify.com/s/files/1/2334/0831/files/01-1024x683_1728x.jpg?v=1505985036 1728w, //cdn.shopify.com/s/files/1/2334/0831/files/01-1024x683_2048x.jpg?v=1505985036 2048w">
                    </div>
                    <noscript>

                        &lt;img
                        src="//cdn.shopify.com/s/files/1/2334/0831/files/01-1024x683_345x_crop_top@2x.jpg?v=1505985036"
                        alt="" class="custom__image" /&gt;
                    </noscript>


                </div>
            </div>


            <style>


                #CustomImage--3-11330027548 {
                    max-width: 345px;
                    max-height: 230.11230468749997px;
                }

                #CustomImageWrapper--3-11330027548 {
                    max-width: 345px;
                    max-height: 230.11230468749997px;
                }


            </style>


            <div class="custom__item custom__item--1505984999072 small--one-half medium-up--one-third align--center"
                 data-theme-editor-block-35856769247="{&quot;id&quot;:&quot;1505984999072&quot;,&quot;type&quot;:&quot;image&quot;}">
                <div class="custom__item-inner custom__item-inner--image" id="CustomImageWrapper--3-11330027548">


                    <div style="padding-top:66.69921875%;">
                        <img id="CustomImage--3-11330027548" class="custom__image js lazyautosizes lazyloaded"
                             src="//cdn.shopify.com/s/files/1/2334/0831/files/02-1024x683_300x300.jpg?v=1505985091"
                             data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                             data-aspectratio="1.499267935578331" data-sizes="auto" alt=""
                             data-srcset="//cdn.shopify.com/s/files/1/2334/0831/files/02-1024x683_180x.jpg?v=1505985091 180w, //cdn.shopify.com/s/files/1/2334/0831/files/02-1024x683_360x.jpg?v=1505985091 360w, //cdn.shopify.com/s/files/1/2334/0831/files/02-1024x683_540x.jpg?v=1505985091 540w, //cdn.shopify.com/s/files/1/2334/0831/files/02-1024x683_720x.jpg?v=1505985091 720w, //cdn.shopify.com/s/files/1/2334/0831/files/02-1024x683_900x.jpg?v=1505985091 900w, //cdn.shopify.com/s/files/1/2334/0831/files/02-1024x683_1080x.jpg?v=1505985091 1080w, //cdn.shopify.com/s/files/1/2334/0831/files/02-1024x683_1296x.jpg?v=1505985091 1296w, //cdn.shopify.com/s/files/1/2334/0831/files/02-1024x683_1512x.jpg?v=1505985091 1512w, //cdn.shopify.com/s/files/1/2334/0831/files/02-1024x683_1728x.jpg?v=1505985091 1728w, //cdn.shopify.com/s/files/1/2334/0831/files/02-1024x683_2048x.jpg?v=1505985091 2048w"
                             sizes="283px"
                             srcset="//cdn.shopify.com/s/files/1/2334/0831/files/02-1024x683_180x.jpg?v=1505985091 180w, //cdn.shopify.com/s/files/1/2334/0831/files/02-1024x683_360x.jpg?v=1505985091 360w, //cdn.shopify.com/s/files/1/2334/0831/files/02-1024x683_540x.jpg?v=1505985091 540w, //cdn.shopify.com/s/files/1/2334/0831/files/02-1024x683_720x.jpg?v=1505985091 720w, //cdn.shopify.com/s/files/1/2334/0831/files/02-1024x683_900x.jpg?v=1505985091 900w, //cdn.shopify.com/s/files/1/2334/0831/files/02-1024x683_1080x.jpg?v=1505985091 1080w, //cdn.shopify.com/s/files/1/2334/0831/files/02-1024x683_1296x.jpg?v=1505985091 1296w, //cdn.shopify.com/s/files/1/2334/0831/files/02-1024x683_1512x.jpg?v=1505985091 1512w, //cdn.shopify.com/s/files/1/2334/0831/files/02-1024x683_1728x.jpg?v=1505985091 1728w, //cdn.shopify.com/s/files/1/2334/0831/files/02-1024x683_2048x.jpg?v=1505985091 2048w">
                    </div>
                    <noscript>

                        &lt;img
                        src="//cdn.shopify.com/s/files/1/2334/0831/files/02-1024x683_345x_crop_top@2x.jpg?v=1505985091"
                        alt="" class="custom__image" /&gt;
                    </noscript>


                </div>
            </div>


            <style>


                #CustomImage--4-11330093084 {
                    max-width: 345px;
                    max-height: 230.11230468749997px;
                }

                #CustomImageWrapper--4-11330093084 {
                    max-width: 345px;
                    max-height: 230.11230468749997px;
                }


            </style>


            <div class="custom__item custom__item--1505985017318 small--one-half medium-up--one-third align--center"
                 data-theme-editor-block-35856769247="{&quot;id&quot;:&quot;1505985017318&quot;,&quot;type&quot;:&quot;image&quot;}">
                <div class="custom__item-inner custom__item-inner--image" id="CustomImageWrapper--4-11330093084">


                    <div style="padding-top:66.69921875%;">
                        <img id="CustomImage--4-11330093084" class="custom__image js lazyautosizes lazyloaded"
                             src="//cdn.shopify.com/s/files/1/2334/0831/files/03-1024x683_300x300.jpg?v=1505985121"
                             data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                             data-aspectratio="1.499267935578331" data-sizes="auto" alt=""
                             data-srcset="//cdn.shopify.com/s/files/1/2334/0831/files/03-1024x683_180x.jpg?v=1505985121 180w, //cdn.shopify.com/s/files/1/2334/0831/files/03-1024x683_360x.jpg?v=1505985121 360w, //cdn.shopify.com/s/files/1/2334/0831/files/03-1024x683_540x.jpg?v=1505985121 540w, //cdn.shopify.com/s/files/1/2334/0831/files/03-1024x683_720x.jpg?v=1505985121 720w, //cdn.shopify.com/s/files/1/2334/0831/files/03-1024x683_900x.jpg?v=1505985121 900w, //cdn.shopify.com/s/files/1/2334/0831/files/03-1024x683_1080x.jpg?v=1505985121 1080w, //cdn.shopify.com/s/files/1/2334/0831/files/03-1024x683_1296x.jpg?v=1505985121 1296w, //cdn.shopify.com/s/files/1/2334/0831/files/03-1024x683_1512x.jpg?v=1505985121 1512w, //cdn.shopify.com/s/files/1/2334/0831/files/03-1024x683_1728x.jpg?v=1505985121 1728w, //cdn.shopify.com/s/files/1/2334/0831/files/03-1024x683_2048x.jpg?v=1505985121 2048w"
                             sizes="283px"
                             srcset="//cdn.shopify.com/s/files/1/2334/0831/files/03-1024x683_180x.jpg?v=1505985121 180w, //cdn.shopify.com/s/files/1/2334/0831/files/03-1024x683_360x.jpg?v=1505985121 360w, //cdn.shopify.com/s/files/1/2334/0831/files/03-1024x683_540x.jpg?v=1505985121 540w, //cdn.shopify.com/s/files/1/2334/0831/files/03-1024x683_720x.jpg?v=1505985121 720w, //cdn.shopify.com/s/files/1/2334/0831/files/03-1024x683_900x.jpg?v=1505985121 900w, //cdn.shopify.com/s/files/1/2334/0831/files/03-1024x683_1080x.jpg?v=1505985121 1080w, //cdn.shopify.com/s/files/1/2334/0831/files/03-1024x683_1296x.jpg?v=1505985121 1296w, //cdn.shopify.com/s/files/1/2334/0831/files/03-1024x683_1512x.jpg?v=1505985121 1512w, //cdn.shopify.com/s/files/1/2334/0831/files/03-1024x683_1728x.jpg?v=1505985121 1728w, //cdn.shopify.com/s/files/1/2334/0831/files/03-1024x683_2048x.jpg?v=1505985121 2048w">
                    </div>
                    <noscript>
                        &lt;img
                        src="//cdn.shopify.com/s/files/1/2334/0831/files/03-1024x683_345x_crop_top@2x.jpg?v=1505985121"
                        alt="" class="custom__image" /&gt;
                    </noscript>
                </div>
            </div>
            <style>
                #CustomImage--5-11330125852 {
                    max-width: 345px;
                    max-height: 230.11230468749997px;
                }

                #CustomImageWrapper--5-11330125852 {
                    max-width: 345px;
                    max-height: 230.11230468749997px;
                }
            </style>
            <div class="custom__item custom__item--1505985131646 small--one-half medium-up--one-third align--center"
                 data-theme-editor-block-35856769247="{&quot;id&quot;:&quot;1505985131646&quot;,&quot;type&quot;:&quot;image&quot;}">
                <div class="custom__item-inner custom__item-inner--image" id="CustomImageWrapper--5-11330125852">


                    <div style="padding-top:66.69921875%;">
                        <img id="CustomImage--5-11330125852" class="custom__image js lazyautosizes lazyloaded"
                             src="//cdn.shopify.com/s/files/1/2334/0831/files/04-1024x683_300x300.jpg?v=1505985136"
                             data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                             data-aspectratio="1.499267935578331" data-sizes="auto" alt=""
                             data-srcset="//cdn.shopify.com/s/files/1/2334/0831/files/04-1024x683_180x.jpg?v=1505985136 180w, //cdn.shopify.com/s/files/1/2334/0831/files/04-1024x683_360x.jpg?v=1505985136 360w, //cdn.shopify.com/s/files/1/2334/0831/files/04-1024x683_540x.jpg?v=1505985136 540w, //cdn.shopify.com/s/files/1/2334/0831/files/04-1024x683_720x.jpg?v=1505985136 720w, //cdn.shopify.com/s/files/1/2334/0831/files/04-1024x683_900x.jpg?v=1505985136 900w, //cdn.shopify.com/s/files/1/2334/0831/files/04-1024x683_1080x.jpg?v=1505985136 1080w, //cdn.shopify.com/s/files/1/2334/0831/files/04-1024x683_1296x.jpg?v=1505985136 1296w, //cdn.shopify.com/s/files/1/2334/0831/files/04-1024x683_1512x.jpg?v=1505985136 1512w, //cdn.shopify.com/s/files/1/2334/0831/files/04-1024x683_1728x.jpg?v=1505985136 1728w, //cdn.shopify.com/s/files/1/2334/0831/files/04-1024x683_2048x.jpg?v=1505985136 2048w"
                             sizes="283px"
                             srcset="//cdn.shopify.com/s/files/1/2334/0831/files/04-1024x683_180x.jpg?v=1505985136 180w, //cdn.shopify.com/s/files/1/2334/0831/files/04-1024x683_360x.jpg?v=1505985136 360w, //cdn.shopify.com/s/files/1/2334/0831/files/04-1024x683_540x.jpg?v=1505985136 540w, //cdn.shopify.com/s/files/1/2334/0831/files/04-1024x683_720x.jpg?v=1505985136 720w, //cdn.shopify.com/s/files/1/2334/0831/files/04-1024x683_900x.jpg?v=1505985136 900w, //cdn.shopify.com/s/files/1/2334/0831/files/04-1024x683_1080x.jpg?v=1505985136 1080w, //cdn.shopify.com/s/files/1/2334/0831/files/04-1024x683_1296x.jpg?v=1505985136 1296w, //cdn.shopify.com/s/files/1/2334/0831/files/04-1024x683_1512x.jpg?v=1505985136 1512w, //cdn.shopify.com/s/files/1/2334/0831/files/04-1024x683_1728x.jpg?v=1505985136 1728w, //cdn.shopify.com/s/files/1/2334/0831/files/04-1024x683_2048x.jpg?v=1505985136 2048w">
                    </div>
                    <noscript>

                        &lt;img
                        src="//cdn.shopify.com/s/files/1/2334/0831/files/04-1024x683_345x_crop_top@2x.jpg?v=1505985136"
                        alt="" class="custom__image" /&gt;
                    </noscript>


                </div>
            </div>


            <style>


                #CustomImage--6-11330256924 {
                    max-width: 230.1123046875px;
                    max-height: 345px;
                }

                #CustomImageWrapper--6-11330256924 {
                    max-width: 230.1123046875px;
                    max-height: 345px;
                }


            </style>


            <div class="custom__item custom__item--1505985154770 small--one-half medium-up--one-third align--center"
                 data-theme-editor-block-35856769247="{&quot;id&quot;:&quot;1505985154770&quot;,&quot;type&quot;:&quot;image&quot;}">
                <div class="custom__item-inner custom__item-inner--image" id="CustomImageWrapper--6-11330256924">


                    <div style="padding-top:149.9267936%;">
                        <img id="CustomImage--6-11330256924" class="custom__image js lazyautosizes lazyloaded"
                             src="//cdn.shopify.com/s/files/1/2334/0831/files/05-683x1024_300x300.jpg?v=1505985159"
                             data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                             data-aspectratio="0.6669921875" data-sizes="auto" alt=""
                             data-srcset="//cdn.shopify.com/s/files/1/2334/0831/files/05-683x1024_180x.jpg?v=1505985159 180w, //cdn.shopify.com/s/files/1/2334/0831/files/05-683x1024_360x.jpg?v=1505985159 360w, //cdn.shopify.com/s/files/1/2334/0831/files/05-683x1024_540x.jpg?v=1505985159 540w, //cdn.shopify.com/s/files/1/2334/0831/files/05-683x1024_720x.jpg?v=1505985159 720w, //cdn.shopify.com/s/files/1/2334/0831/files/05-683x1024_900x.jpg?v=1505985159 900w, //cdn.shopify.com/s/files/1/2334/0831/files/05-683x1024_1080x.jpg?v=1505985159 1080w, //cdn.shopify.com/s/files/1/2334/0831/files/05-683x1024_1296x.jpg?v=1505985159 1296w, //cdn.shopify.com/s/files/1/2334/0831/files/05-683x1024_1512x.jpg?v=1505985159 1512w, //cdn.shopify.com/s/files/1/2334/0831/files/05-683x1024_1728x.jpg?v=1505985159 1728w, //cdn.shopify.com/s/files/1/2334/0831/files/05-683x1024_2048x.jpg?v=1505985159 2048w"
                             sizes="230px"
                             srcset="//cdn.shopify.com/s/files/1/2334/0831/files/05-683x1024_180x.jpg?v=1505985159 180w, //cdn.shopify.com/s/files/1/2334/0831/files/05-683x1024_360x.jpg?v=1505985159 360w, //cdn.shopify.com/s/files/1/2334/0831/files/05-683x1024_540x.jpg?v=1505985159 540w, //cdn.shopify.com/s/files/1/2334/0831/files/05-683x1024_720x.jpg?v=1505985159 720w, //cdn.shopify.com/s/files/1/2334/0831/files/05-683x1024_900x.jpg?v=1505985159 900w, //cdn.shopify.com/s/files/1/2334/0831/files/05-683x1024_1080x.jpg?v=1505985159 1080w, //cdn.shopify.com/s/files/1/2334/0831/files/05-683x1024_1296x.jpg?v=1505985159 1296w, //cdn.shopify.com/s/files/1/2334/0831/files/05-683x1024_1512x.jpg?v=1505985159 1512w, //cdn.shopify.com/s/files/1/2334/0831/files/05-683x1024_1728x.jpg?v=1505985159 1728w, //cdn.shopify.com/s/files/1/2334/0831/files/05-683x1024_2048x.jpg?v=1505985159 2048w">
                    </div>
                    <noscript>
                        &lt;img
                        src="//cdn.shopify.com/s/files/1/2334/0831/files/05-683x1024_345x_crop_top@2x.jpg?v=1505985159"
                        alt="" class="custom__image" /&gt;
                    </noscript>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="shopify-section-1505985889684" class="shopify-section index-section"
     data-theme-editor-section-35856769247="{&quot;id&quot;:&quot;1505985889684&quot;,&quot;type&quot;:&quot;custom-content&quot;,&quot;hidden&quot;:false}">
    <div class="page-width">

        <div class="section-header text-center">
            <h4 class="h2" data-theme-editor-setting="section.1505985889684.title/escape">经典的德国制造钢琴—IQ系列</h4>
        </div>


        <div class="custom-content">


            <style>


                #CustomImage--1-11333533724 {
                    max-width: 530px;
                    max-height: 382.4431818181818px;
                }

                #CustomImageWrapper--1-11333533724 {
                    max-width: 530px;
                    max-height: 382.4431818181818px;
                }


            </style>


            <div class="custom__item custom__item--1505985889684-1 small--one-half medium-up--one-half align--center"
                 data-theme-editor-block-35856769247="{&quot;id&quot;:&quot;1505985889684-1&quot;,&quot;type&quot;:&quot;image&quot;}">
                <div class="custom__item-inner custom__item-inner--image" id="CustomImageWrapper--1-11333533724">


                    <div style="padding-top:72.1590909090909%;">
                        <img id="CustomImage--1-11333533724" class="custom__image js lazyautosizes lazyloaded"
                             src="//cdn.shopify.com/s/files/1/2334/0831/files/page01_300x300.jpg?v=1505985968"
                             data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                             data-aspectratio="1.3858267716535433" data-sizes="auto" alt=""
                             data-srcset="//cdn.shopify.com/s/files/1/2334/0831/files/page01_180x.jpg?v=1505985968 180w, //cdn.shopify.com/s/files/1/2334/0831/files/page01_360x.jpg?v=1505985968 360w, //cdn.shopify.com/s/files/1/2334/0831/files/page01_540x.jpg?v=1505985968 540w, //cdn.shopify.com/s/files/1/2334/0831/files/page01_720x.jpg?v=1505985968 720w, //cdn.shopify.com/s/files/1/2334/0831/files/page01_900x.jpg?v=1505985968 900w, //cdn.shopify.com/s/files/1/2334/0831/files/page01_1080x.jpg?v=1505985968 1080w, //cdn.shopify.com/s/files/1/2334/0831/files/page01_1296x.jpg?v=1505985968 1296w, //cdn.shopify.com/s/files/1/2334/0831/files/page01_1512x.jpg?v=1505985968 1512w, //cdn.shopify.com/s/files/1/2334/0831/files/page01_1728x.jpg?v=1505985968 1728w, //cdn.shopify.com/s/files/1/2334/0831/files/page01_2048x.jpg?v=1505985968 2048w"
                             sizes="283px"
                             srcset="//cdn.shopify.com/s/files/1/2334/0831/files/page01_180x.jpg?v=1505985968 180w, //cdn.shopify.com/s/files/1/2334/0831/files/page01_360x.jpg?v=1505985968 360w, //cdn.shopify.com/s/files/1/2334/0831/files/page01_540x.jpg?v=1505985968 540w, //cdn.shopify.com/s/files/1/2334/0831/files/page01_720x.jpg?v=1505985968 720w, //cdn.shopify.com/s/files/1/2334/0831/files/page01_900x.jpg?v=1505985968 900w, //cdn.shopify.com/s/files/1/2334/0831/files/page01_1080x.jpg?v=1505985968 1080w, //cdn.shopify.com/s/files/1/2334/0831/files/page01_1296x.jpg?v=1505985968 1296w, //cdn.shopify.com/s/files/1/2334/0831/files/page01_1512x.jpg?v=1505985968 1512w, //cdn.shopify.com/s/files/1/2334/0831/files/page01_1728x.jpg?v=1505985968 1728w, //cdn.shopify.com/s/files/1/2334/0831/files/page01_2048x.jpg?v=1505985968 2048w">
                    </div>
                    <noscript>

                        &lt;img
                        src="//cdn.shopify.com/s/files/1/2334/0831/files/page01_530x_crop_top@2x.jpg?v=1505985968"
                        alt="" class="custom__image" /&gt;
                    </noscript>


                </div>
            </div>


            <style>


                #CustomImage--2-11333632028 {
                    max-width: 530px;
                    max-height: 382.4431818181818px;
                }

                #CustomImageWrapper--2-11333632028 {
                    max-width: 530px;
                    max-height: 382.4431818181818px;
                }


            </style>


            <div class="custom__item custom__item--1505985953706 small--one-half medium-up--one-half align--center"
                 data-theme-editor-block-35856769247="{&quot;id&quot;:&quot;1505985953706&quot;,&quot;type&quot;:&quot;image&quot;}">
                <div class="custom__item-inner custom__item-inner--image" id="CustomImageWrapper--2-11333632028">


                    <div style="padding-top:72.1590909090909%;">
                        <img id="CustomImage--2-11333632028" class="custom__image js lazyautosizes lazyloaded"
                             src="//cdn.shopify.com/s/files/1/2334/0831/files/page02_300x300.jpg?v=1505985977"
                             data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                             data-aspectratio="1.3858267716535433" data-sizes="auto" alt=""
                             data-srcset="//cdn.shopify.com/s/files/1/2334/0831/files/page02_180x.jpg?v=1505985977 180w, //cdn.shopify.com/s/files/1/2334/0831/files/page02_360x.jpg?v=1505985977 360w, //cdn.shopify.com/s/files/1/2334/0831/files/page02_540x.jpg?v=1505985977 540w, //cdn.shopify.com/s/files/1/2334/0831/files/page02_720x.jpg?v=1505985977 720w, //cdn.shopify.com/s/files/1/2334/0831/files/page02_900x.jpg?v=1505985977 900w, //cdn.shopify.com/s/files/1/2334/0831/files/page02_1080x.jpg?v=1505985977 1080w, //cdn.shopify.com/s/files/1/2334/0831/files/page02_1296x.jpg?v=1505985977 1296w, //cdn.shopify.com/s/files/1/2334/0831/files/page02_1512x.jpg?v=1505985977 1512w, //cdn.shopify.com/s/files/1/2334/0831/files/page02_1728x.jpg?v=1505985977 1728w, //cdn.shopify.com/s/files/1/2334/0831/files/page02_2048x.jpg?v=1505985977 2048w"
                             sizes="283px"
                             srcset="//cdn.shopify.com/s/files/1/2334/0831/files/page02_180x.jpg?v=1505985977 180w, //cdn.shopify.com/s/files/1/2334/0831/files/page02_360x.jpg?v=1505985977 360w, //cdn.shopify.com/s/files/1/2334/0831/files/page02_540x.jpg?v=1505985977 540w, //cdn.shopify.com/s/files/1/2334/0831/files/page02_720x.jpg?v=1505985977 720w, //cdn.shopify.com/s/files/1/2334/0831/files/page02_900x.jpg?v=1505985977 900w, //cdn.shopify.com/s/files/1/2334/0831/files/page02_1080x.jpg?v=1505985977 1080w, //cdn.shopify.com/s/files/1/2334/0831/files/page02_1296x.jpg?v=1505985977 1296w, //cdn.shopify.com/s/files/1/2334/0831/files/page02_1512x.jpg?v=1505985977 1512w, //cdn.shopify.com/s/files/1/2334/0831/files/page02_1728x.jpg?v=1505985977 1728w, //cdn.shopify.com/s/files/1/2334/0831/files/page02_2048x.jpg?v=1505985977 2048w">
                    </div>
                    <noscript>
                        &lt;img
                        src="//cdn.shopify.com/s/files/1/2334/0831/files/page02_530x_crop_top@2x.jpg?v=1505985977"
                        alt="" class="custom__image" /&gt;
                    </noscript>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="page-width" style="display: none">
    <div class="grid">
        <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
            <div class="section-header text-center">
                <h1>{{ page.title }}</h1>
            </div>

            <div class="rte">
                {{ page.content }}
            </div>
        </div>
    </div>
</div>
