<div id="shopify-section-1505389484445" class="shopify-section index-section index-section--flush"
     data-theme-editor-section-35842597361="{&quot;id&quot;:&quot;1505389484445&quot;,&quot;type&quot;:&quot;hero&quot;,&quot;hidden&quot;:false}">
    <div class="hero hero--medium box ratio-container js lazyloaded" data-bgset="//cdn.shopify.com/s/files/1/2334/0831/files/WST-Landing-Banner-1_180x.jpg?v=1505389500 180w 123h,
    //cdn.shopify.com/s/files/1/2334/0831/files/WST-Landing-Banner-1_360x.jpg?v=1505389500 360w 246h,
    //cdn.shopify.com/s/files/1/2334/0831/files/WST-Landing-Banner-1_540x.jpg?v=1505389500 540w 369h,
    //cdn.shopify.com/s/files/1/2334/0831/files/WST-Landing-Banner-1_720x.jpg?v=1505389500 720w 492h,
    //cdn.shopify.com/s/files/1/2334/0831/files/WST-Landing-Banner-1_900x.jpg?v=1505389500 900w 615h,
    //cdn.shopify.com/s/files/1/2334/0831/files/WST-Landing-Banner-1_1080x.jpg?v=1505389500 1080w 739h,
    //cdn.shopify.com/s/files/1/2334/0831/files/WST-Landing-Banner-1_1296x.jpg?v=1505389500 1296w 886h,
    //cdn.shopify.com/s/files/1/2334/0831/files/WST-Landing-Banner-1_1512x.jpg?v=1505389500 1512w 1034h,
    //cdn.shopify.com/s/files/1/2334/0831/files/WST-Landing-Banner-1_1728x.jpg?v=1505389500 1728w 1182h,
    //cdn.shopify.com/s/files/1/2334/0831/files/WST-Landing-Banner-1_1950x.jpg?v=1505389500 1950w 1333h,
    //cdn.shopify.com/s/files/1/2334/0831/files/WST-Landing-Banner-1_2100x.jpg?v=1505389500 2100w 1436h,
    //cdn.shopify.com/s/files/1/2334/0831/files/WST-Landing-Banner-1_2260x.jpg?v=1505389500 2260w 1545h,
    //cdn.shopify.com/s/files/1/2334/0831/files/WST-Landing-Banner-1_2450x.jpg?v=1505389500 2450w 1675h,
    //cdn.shopify.com/s/files/1/2334/0831/files/WST-Landing-Banner-1_2700x.jpg?v=1505389500 2700w 1846h,
    //cdn.shopify.com/s/files/1/2334/0831/files/WST-Landing-Banner-1.jpg?v=1505389500 2777w 1899h"
         data-parent-fit="cover"
         style="background-position: center center; background-image: url(&quot;https://cdn.shopify.com/s/files/1/2334/0831/files/WST-Landing-Banner-1.jpg?v=1505389500&quot;);">
        <picture style="display: none;">
            <source data-srcset="//cdn.shopify.com/s/files/1/2334/0831/files/WST-Landing-Banner-1_180x.jpg?v=1505389500 180w 123h, //cdn.shopify.com/s/files/1/2334/0831/files/WST-Landing-Banner-1_360x.jpg?v=1505389500 360w 246h, //cdn.shopify.com/s/files/1/2334/0831/files/WST-Landing-Banner-1_540x.jpg?v=1505389500 540w 369h, //cdn.shopify.com/s/files/1/2334/0831/files/WST-Landing-Banner-1_720x.jpg?v=1505389500 720w 492h, //cdn.shopify.com/s/files/1/2334/0831/files/WST-Landing-Banner-1_900x.jpg?v=1505389500 900w 615h, //cdn.shopify.com/s/files/1/2334/0831/files/WST-Landing-Banner-1_1080x.jpg?v=1505389500 1080w 739h, //cdn.shopify.com/s/files/1/2334/0831/files/WST-Landing-Banner-1_1296x.jpg?v=1505389500 1296w 886h, //cdn.shopify.com/s/files/1/2334/0831/files/WST-Landing-Banner-1_1512x.jpg?v=1505389500 1512w 1034h, //cdn.shopify.com/s/files/1/2334/0831/files/WST-Landing-Banner-1_1728x.jpg?v=1505389500 1728w 1182h, //cdn.shopify.com/s/files/1/2334/0831/files/WST-Landing-Banner-1_1950x.jpg?v=1505389500 1950w 1333h, //cdn.shopify.com/s/files/1/2334/0831/files/WST-Landing-Banner-1_2100x.jpg?v=1505389500 2100w 1436h, //cdn.shopify.com/s/files/1/2334/0831/files/WST-Landing-Banner-1_2260x.jpg?v=1505389500 2260w 1545h, //cdn.shopify.com/s/files/1/2334/0831/files/WST-Landing-Banner-1_2450x.jpg?v=1505389500 2450w 1675h, //cdn.shopify.com/s/files/1/2334/0831/files/WST-Landing-Banner-1_2700x.jpg?v=1505389500 2700w 1846h, //cdn.shopify.com/s/files/1/2334/0831/files/WST-Landing-Banner-1.jpg?v=1505389500 2777w 1899h"
                    sizes="884px"
                    srcset="//cdn.shopify.com/s/files/1/2334/0831/files/WST-Landing-Banner-1_180x.jpg?v=1505389500 180w 123h, //cdn.shopify.com/s/files/1/2334/0831/files/WST-Landing-Banner-1_360x.jpg?v=1505389500 360w 246h, //cdn.shopify.com/s/files/1/2334/0831/files/WST-Landing-Banner-1_540x.jpg?v=1505389500 540w 369h, //cdn.shopify.com/s/files/1/2334/0831/files/WST-Landing-Banner-1_720x.jpg?v=1505389500 720w 492h, //cdn.shopify.com/s/files/1/2334/0831/files/WST-Landing-Banner-1_900x.jpg?v=1505389500 900w 615h, //cdn.shopify.com/s/files/1/2334/0831/files/WST-Landing-Banner-1_1080x.jpg?v=1505389500 1080w 739h, //cdn.shopify.com/s/files/1/2334/0831/files/WST-Landing-Banner-1_1296x.jpg?v=1505389500 1296w 886h, //cdn.shopify.com/s/files/1/2334/0831/files/WST-Landing-Banner-1_1512x.jpg?v=1505389500 1512w 1034h, //cdn.shopify.com/s/files/1/2334/0831/files/WST-Landing-Banner-1_1728x.jpg?v=1505389500 1728w 1182h, //cdn.shopify.com/s/files/1/2334/0831/files/WST-Landing-Banner-1_1950x.jpg?v=1505389500 1950w 1333h, //cdn.shopify.com/s/files/1/2334/0831/files/WST-Landing-Banner-1_2100x.jpg?v=1505389500 2100w 1436h, //cdn.shopify.com/s/files/1/2334/0831/files/WST-Landing-Banner-1_2260x.jpg?v=1505389500 2260w 1545h, //cdn.shopify.com/s/files/1/2334/0831/files/WST-Landing-Banner-1_2450x.jpg?v=1505389500 2450w 1675h, //cdn.shopify.com/s/files/1/2334/0831/files/WST-Landing-Banner-1_2700x.jpg?v=1505389500 2700w 1846h, //cdn.shopify.com/s/files/1/2334/0831/files/WST-Landing-Banner-1.jpg?v=1505389500 2777w 1899h">
            <img alt="" class="lazyautosizes lazyloaded" data-sizes="auto" data-parent-fit="cover" sizes="884px">
        </picture>
    </div>

    <noscript>
        &lt;div class="hero hero--medium" style="background-image:
        url('//cdn.shopify.com/s/files/1/2334/0831/files/WST-Landing-Banner-1_2048x.jpg?v=1505389500');
        background-position: center center;"&gt;&lt;/div&gt;
    </noscript>


</div>

<div class="page-width">
    <div class="grid">
        <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
            <div class="section-header text-center">
                <h1>{{ page.title }}</h1>
            </div>

            <div class="rte">
                {{ page.content }}
            </div>
        </div>
    </div>
</div>
