<div id="shopify-section-1505988076837" class="shopify-section index-section index-section--flush"
     data-theme-editor-section-35856858907="{&quot;id&quot;:&quot;1505988076837&quot;,&quot;type&quot;:&quot;image-bar&quot;,&quot;hidden&quot;:false}">
    <div class="grid grid--no-gutters image-bar image-bar--small">


        <div class="grid__item medium-up--one-third js"
             data-theme-editor-block-35856858907="{&quot;id&quot;:&quot;1505988076837-0&quot;,&quot;type&quot;:&quot;image&quot;}">

            <div class="image-bar__item image-bar__item--1505988076837-0 box ratio-container lazyloaded" data-bgset="//cdn.shopify.com/s/files/1/2334/0831/files/icon40_180x.jpg?v=1505988092 180w 120h,

















    //cdn.shopify.com/s/files/1/2334/0831/files/icon40.jpg?v=1505988092 275w 184h" data-parent-fit="cover"
                 style="background-position: center center; background-image: url(&quot;https://cdn.shopify.com/s/files/1/2334/0831/files/icon40.jpg?v=1505988092&quot;);">

                <div class="image-bar__content">


                </div>

                <picture style="display: none;">
                    <source data-srcset="//cdn.shopify.com/s/files/1/2334/0831/files/icon40_180x.jpg?v=1505988092 180w 120h, //cdn.shopify.com/s/files/1/2334/0831/files/icon40.jpg?v=1505988092 275w 184h"
                            sizes="400px"
                            srcset="//cdn.shopify.com/s/files/1/2334/0831/files/icon40_180x.jpg?v=1505988092 180w 120h, //cdn.shopify.com/s/files/1/2334/0831/files/icon40.jpg?v=1505988092 275w 184h">
                    <img alt="" class="lazyautosizes lazyloaded" data-sizes="auto" data-parent-fit="cover"
                         sizes="400px"></picture>
            </div>

        </div>
        <noscript>
            &lt;div class="grid__item medium-up--one-third" data-theme-editor-block="{&amp;quot;id&amp;quot;:&amp;quot;1505988076837-0&amp;quot;,&amp;quot;type&amp;quot;:&amp;quot;image&amp;quot;}"
            &gt;
            &lt;div class="image-bar__item image-bar__item--1505988076837-0" style="background-image:
            url(//cdn.shopify.com/s/files/1/2334/0831/files/icon40_2048x.jpg?v=1505988092);"&gt;&lt;/div&gt;
            &lt;/div&gt;
        </noscript>

        <div class="grid__item medium-up--one-third js"
             data-theme-editor-block-35856858907="{&quot;id&quot;:&quot;1505988076837-1&quot;,&quot;type&quot;:&quot;image&quot;}">

            <div class="image-bar__item image-bar__item--1505988076837-1 box ratio-container lazyloaded" data-bgset="//cdn.shopify.com/s/files/1/2334/0831/files/icon41_180x.jpg?v=1505988107 180w 127h,

















    //cdn.shopify.com/s/files/1/2334/0831/files/icon41.jpg?v=1505988107 260w 183h" data-parent-fit="cover"
                 style="background-position: center center; background-image: url(&quot;https://cdn.shopify.com/s/files/1/2334/0831/files/icon41.jpg?v=1505988107&quot;);">

                <div class="image-bar__content">


                </div>

                <picture style="display: none;">
                    <source data-srcset="//cdn.shopify.com/s/files/1/2334/0831/files/icon41_180x.jpg?v=1505988107 180w 127h, //cdn.shopify.com/s/files/1/2334/0831/files/icon41.jpg?v=1505988107 260w 183h"
                            sizes="400px"
                            srcset="//cdn.shopify.com/s/files/1/2334/0831/files/icon41_180x.jpg?v=1505988107 180w 127h, //cdn.shopify.com/s/files/1/2334/0831/files/icon41.jpg?v=1505988107 260w 183h">
                    <img alt="" class="lazyautosizes lazyloaded" data-sizes="auto" data-parent-fit="cover"
                         sizes="400px"></picture>
            </div>

        </div>
        <noscript>
            &lt;div class="grid__item medium-up--one-third" data-theme-editor-block="{&amp;quot;id&amp;quot;:&amp;quot;1505988076837-1&amp;quot;,&amp;quot;type&amp;quot;:&amp;quot;image&amp;quot;}"
            &gt;
            &lt;div class="image-bar__item image-bar__item--1505988076837-1" style="background-image:
            url(//cdn.shopify.com/s/files/1/2334/0831/files/icon41_2048x.jpg?v=1505988107);"&gt;&lt;/div&gt;
            &lt;/div&gt;
        </noscript>

        <div class="grid__item medium-up--one-third js"
             data-theme-editor-block-35856858907="{&quot;id&quot;:&quot;1505988076837-2&quot;,&quot;type&quot;:&quot;image&quot;}">

            <div class="image-bar__item image-bar__item--1505988076837-2 box ratio-container lazyloaded" data-bgset="//cdn.shopify.com/s/files/1/2334/0831/files/icon42_180x.jpg?v=1505988117 180w 146h,

















    //cdn.shopify.com/s/files/1/2334/0831/files/icon42.jpg?v=1505988117 225w 182h" data-parent-fit="cover"
                 style="background-position: center center; background-image: url(&quot;https://cdn.shopify.com/s/files/1/2334/0831/files/icon42.jpg?v=1505988117&quot;);">

                <div class="image-bar__content">


                </div>

                <picture style="display: none;">
                    <source data-srcset="//cdn.shopify.com/s/files/1/2334/0831/files/icon42_180x.jpg?v=1505988117 180w 146h, //cdn.shopify.com/s/files/1/2334/0831/files/icon42.jpg?v=1505988117 225w 182h"
                            sizes="400px"
                            srcset="//cdn.shopify.com/s/files/1/2334/0831/files/icon42_180x.jpg?v=1505988117 180w 146h, //cdn.shopify.com/s/files/1/2334/0831/files/icon42.jpg?v=1505988117 225w 182h">
                    <img alt="" class="lazyautosizes lazyloaded" data-sizes="auto" data-parent-fit="cover"
                         sizes="400px"></picture>
            </div>

        </div>
        <noscript>
            &lt;div class="grid__item medium-up--one-third" data-theme-editor-block="{&amp;quot;id&amp;quot;:&amp;quot;1505988076837-2&amp;quot;,&amp;quot;type&amp;quot;:&amp;quot;image&amp;quot;}"
            &gt;
            &lt;div class="image-bar__item image-bar__item--1505988076837-2" style="background-image:
            url(//cdn.shopify.com/s/files/1/2334/0831/files/icon42_2048x.jpg?v=1505988117);"&gt;&lt;/div&gt;
            &lt;/div&gt;
        </noscript>

    </div>


</div>
<div class="page-width">
    <div class="grid">
        <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
            <div class="section-header text-center" style="display: none">
                <h1>{{ page.title }}</h1>
            </div>

            <div class="rte">
                {{ page.content }}
            </div>
        </div>
    </div>
</div>