<div id="shopify-section-1505990332692" class="shopify-section index-section">
    <div class="page-width" data-section-id="1505990332692" data-section-type="quotes">

        <div class="section-header text-center">
            <h2>品牌点评</h2>
        </div>
        <div class="quotes-wrapper">
            <div class="quotes-slider" id="Quotes-1505990332692" data-count="3">
                <div class="quotes-slide--1505990332692-0">
                    <blockquote class="quotes-slider__text text-center">
                        <span class="quote-icon"><svg aria-hidden="true" focusable="false" role="presentation"
                                                      class="icon icon-quote" viewBox="0 0 41 35"><path
                                        d="M10.208 17.711h6.124v16.332H0V21.684C0 8.184 5.444.956 16.332 0v6.125c-4.083 1.14-6.124 4.414-6.124 9.82v1.766zm24.498 0h6.124v16.332H24.498V21.684C24.498 8.184 29.942.956 40.83 0v6.125c-4.083 1.14-6.124 4.414-6.124 9.82v1.766z"
                                        fill="#000" fill-rule="evenodd"></path></svg></span>

                        <div class="rte-setting"><p>
                                只要是敢推出九尺钢琴的，那就实力很强大。因为它增加一寸就需要很大的技术含量，当我弹奏这台长江钢琴时，我觉得是个惊喜，特别是在中音区的控制也挺精细的，我相当满意。</p></div>
                        <cite>金佛 著名爵士钢琴演奏家</cite>
                    </blockquote>
                </div>

                <div class="quotes-slide--1505990332692-1">
                    <blockquote class="quotes-slider__text text-center">
                        <span class="quote-icon"><svg aria-hidden="true" focusable="false" role="presentation"
                                                      class="icon icon-quote" viewBox="0 0 41 35"><path
                                        d="M10.208 17.711h6.124v16.332H0V21.684C0 8.184 5.444.956 16.332 0v6.125c-4.083 1.14-6.124 4.414-6.124 9.82v1.766zm24.498 0h6.124v16.332H24.498V21.684C24.498 8.184 29.942.956 40.83 0v6.125c-4.083 1.14-6.124 4.414-6.124 9.82v1.766z"
                                        fill="#000" fill-rule="evenodd"></path></svg></span>

                        <div class="rte-setting"><p>
                                毫无疑问长江系列钢琴在众多国产钢琴中的质量是很好的，我作为一个中国的钢琴家，非常高兴看到国产钢琴能够进入国际最高端，最高水准钢琴行列。</p>
                            <p>长江钢琴除了品牌塑造有很大的发展，企业的规模、技术、设备已经具备国内一流钢琴企业的能力。从品质上讲，九尺钢琴是个标志，目前能独立生产九
                                尺钢琴的企业屈指可数，而且长江九尺钢琴从演奏效果来看都已经和欧洲著名品牌比较接近，是施坦威和法奇奥里之外最好的演奏琴。长江钢琴一开始就在研究欧洲钢琴的基础
                                上，直接跨越日韩钢琴的品质，直接跟踪欧洲钢琴品牌的先进技术。所以，我个人认为长江钢琴已经是目前国内领先的钢琴品牌之一，而且具备追赶施坦威钢琴的技术实力。</p></div>


                        <cite>刘诗昆 著名钢琴大师</cite>

                    </blockquote>
                </div>

                <div class="quotes-slide--1505990332692-2">
                    <blockquote class="quotes-slider__text text-center">
                        <span class="quote-icon"><svg aria-hidden="true" focusable="false" role="presentation"
                                                      class="icon icon-quote" viewBox="0 0 41 35"><path
                                        d="M10.208 17.711h6.124v16.332H0V21.684C0 8.184 5.444.956 16.332 0v6.125c-4.083 1.14-6.124 4.414-6.124 9.82v1.766zm24.498 0h6.124v16.332H24.498V21.684C24.498 8.184 29.942.956 40.83 0v6.125c-4.083 1.14-6.124 4.414-6.124 9.82v1.766z"
                                        fill="#000" fill-rule="evenodd"></path></svg></span>
                        <div class="rte-setting"><p>民族品牌长江钢琴的质量是信得过的。今后重要的是要让政府、企业、音乐界共同联起手来,一起为推动民族品牌摇旗呐喊。不久的将来，长江钢琴一定会走向世界，在国际上占有一席之地，对此我很有信心。</p></div>
                        <cite>赵季平 中国音乐家协会主席</cite>
                    </blockquote>
                </div>
                <div class="quotes-slide--1505990332692-3">
                    <blockquote class="quotes-slider__text text-center">
                        <span class="quote-icon"><svg aria-hidden="true" focusable="false" role="presentation"
                                                      class="icon icon-quote" viewBox="0 0 41 35"><path
                                        d="M10.208 17.711h6.124v16.332H0V21.684C0 8.184 5.444.956 16.332 0v6.125c-4.083 1.14-6.124 4.414-6.124 9.82v1.766zm24.498 0h6.124v16.332H24.498V21.684C24.498 8.184 29.942.956 40.83 0v6.125c-4.083 1.14-6.124 4.414-6.124 9.82v1.766z"
                                        fill="#000" fill-rule="evenodd"></path></svg></span>
                        <div class="rte-setting"><p>
                                不错，不错，触键感很好，声音也不错，我觉得长江钢琴的音质和手感一点也不比国外差。有这样一个好的民族品牌，能让不少学琴的中国人受益
                                ，一定要做大！做强！让更多的人知道长江钢琴，用长江钢琴。宜昌金宝乐器制造有限
                                公司的设计理念、研发理念、经营理念都是现代的，钢琴质量也很好。长江钢琴在国际上是完全可以站得住脚的，产品档次和质量都很有高度，成绩可喜。</p></div>
                        <cite>徐沛东 中国文联副主席 中国音乐家协会分党组书记、副主席</cite>
                    </blockquote>
                </div>
                <div class="quotes-slide--1505990332692-4">
                    <blockquote class="quotes-slider__text text-center">
                        <span class="quote-icon"><svg aria-hidden="true" focusable="false" role="presentation"
                                                      class="icon icon-quote" viewBox="0 0 41 35"><path
                                        d="M10.208 17.711h6.124v16.332H0V21.684C0 8.184 5.444.956 16.332 0v6.125c-4.083 1.14-6.124 4.414-6.124 9.82v1.766zm24.498 0h6.124v16.332H24.498V21.684C24.498 8.184 29.942.956 40.83 0v6.125c-4.083 1.14-6.124 4.414-6.124 9.82v1.766z"
                                        fill="#000" fill-rule="evenodd"></path></svg></span>
                        <div class="rte-setting"><p>在不久的将来长江钢琴一定会在众多钢琴品牌中脱颖而出。</p></div>
                        <cite>李名强 著名钢琴教育家</cite>
                    </blockquote>
                </div>
                <div class="quotes-slide--1505990332692-5">
                    <blockquote class="quotes-slider__text text-center">
                        <span class="quote-icon"><svg aria-hidden="true" focusable="false" role="presentation"
                                                      class="icon icon-quote" viewBox="0 0 41 35"><path
                                        d="M10.208 17.711h6.124v16.332H0V21.684C0 8.184 5.444.956 16.332 0v6.125c-4.083 1.14-6.124 4.414-6.124 9.82v1.766zm24.498 0h6.124v16.332H24.498V21.684C24.498 8.184 29.942.956 40.83 0v6.125c-4.083 1.14-6.124 4.414-6.124 9.82v1.766z"
                                        fill="#000" fill-rule="evenodd"></path></svg></span>
                        <div class="rte-setting"><p>我觉得长江钢琴的品牌一定会为世人所熟悉。我很为长江钢琴感到骄傲，长江钢琴是目前国内唯一可以做到达到世界一流品质的钢琴，这是个奇迹！</p></div>
                        <cite>但昭义 著名钢琴教育家</cite>
                    </blockquote>
                </div>
                <div class="quotes-slide--1505990332692-6">
                    <blockquote class="quotes-slider__text text-center">
                        <span class="quote-icon"><svg aria-hidden="true" focusable="false" role="presentation"
                                                      class="icon icon-quote" viewBox="0 0 41 35"><path
                                        d="M10.208 17.711h6.124v16.332H0V21.684C0 8.184 5.444.956 16.332 0v6.125c-4.083 1.14-6.124 4.414-6.124 9.82v1.766zm24.498 0h6.124v16.332H24.498V21.684C24.498 8.184 29.942.956 40.83 0v6.125c-4.083 1.14-6.124 4.414-6.124 9.82v1.766z"
                                        fill="#000" fill-rule="evenodd"></path></svg></span>
                        <div class="rte-setting"><p>所接触到的每架长江钢琴都非常得心应手，能够充分表现我们内心和音乐要求的各种声音，而且音色都非常优美，与国外高水准的钢琴不相上下，完全能够满足一个演奏家在
                                音乐会上演奏的需要。艺术的特点就是永无止境，生产钢琴也是生产艺术品，它永远是永无止境的。当我第一次弹奏时，长江钢琴强有力的表现力，让我非常吃惊！琴做得精致，非常好，做为专业的演奏者，对钢琴的选择讲究实际，听声音，用长江钢琴试了古典、现代、轻柔、激烈等不同风格的曲子，
                                表现都很好，完全可以满足弹奏要求，得心应手， 音乐会上弹奏使用的长江九尺钢琴让人惊叹 ，3年时间就能够生产出世界一流的钢琴，这简直是个奇迹。
                                如此高水平的民族品牌钢琴，其选材、工艺都达到了国际一流水平。长江钢琴一定会走向世界！</p></div>
                        <cite>石叔诚 著名指挥家、教育家</cite>
                    </blockquote>
                </div>
                <div class="quotes-slide--1505990332692-7">
                    <blockquote class="quotes-slider__text text-center">
                        <span class="quote-icon"><svg aria-hidden="true" focusable="false" role="presentation"
                                                      class="icon icon-quote" viewBox="0 0 41 35"><path
                                        d="M10.208 17.711h6.124v16.332H0V21.684C0 8.184 5.444.956 16.332 0v6.125c-4.083 1.14-6.124 4.414-6.124 9.82v1.766zm24.498 0h6.124v16.332H24.498V21.684C24.498 8.184 29.942.956 40.83 0v6.125c-4.083 1.14-6.124 4.414-6.124 9.82v1.766z"
                                        fill="#000" fill-rule="evenodd"></path></svg></span>
                        <div class="rte-setting"><p>目前国内的钢琴企业应该很多，但我觉得长江钢琴在创业和追求品质方面是最了不起的，柏斯能有这样的技术储备和技术处理能力，我觉得很惊讶，“长江钢琴”音质、音色都非常好，表现很好，可以带给你想要的感觉。之前对国产钢琴多少还是有偏见，看了“长江钢琴”后，非常惊讶，“长江钢琴”声音的和弦感非常好，音与音的连接、层次感非常好。这说明“长江钢琴”具备从软硬件方面成为一流的钢琴，另外从企业的规模和设备，都足以说明柏斯是一个非常具有潜力并在管理上是一流的钢琴企业。</p></div>
                        <cite>洪昶 香港著名钢琴家</cite>
                    </blockquote>
                </div>
                <div class="quotes-slide--1505990332692-8">
                    <blockquote class="quotes-slider__text text-center">
                        <span class="quote-icon"><svg aria-hidden="true" focusable="false" role="presentation"
                                                      class="icon icon-quote" viewBox="0 0 41 35"><path
                                        d="M10.208 17.711h6.124v16.332H0V21.684C0 8.184 5.444.956 16.332 0v6.125c-4.083 1.14-6.124 4.414-6.124 9.82v1.766zm24.498 0h6.124v16.332H24.498V21.684C24.498 8.184 29.942.956 40.83 0v6.125c-4.083 1.14-6.124 4.414-6.124 9.82v1.766z"
                                        fill="#000" fill-rule="evenodd"></path></svg></span>
                        <div class="rte-setting"><p>长江钢琴音区特别平和，音色丰富，层次清晰，触感也很舒服，灵敏度很好，低音特别有厚度，而且低音的传送特别好，所有零件都是工厂自己生产的，这是非常了不起的，在其他企业很少见</p></div>
                        <cite>李未明 著名音乐教育家</cite>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="page-width" style="display: none">
    <div class="grid">
        <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
            <div class="section-header text-center">
                <h1>{{ page.title }}</h1>
            </div>

            <div class="rte">
                {{ page.content }}
            </div>
        </div>
    </div>
</div>