<div id="shopify-section-1505564481810" class="shopify-section index-section index-section--flush"
     data-theme-editor-section-35846773046="{&quot;id&quot;:&quot;1505564481810&quot;,&quot;type&quot;:&quot;hero&quot;,&quot;hidden&quot;:false}">
    <div class="hero hero--medium hero__overlay box ratio-container js lazyloaded" data-bgset="//cdn.shopify.com/s/files/1/2334/0831/files/university-study-group_180x.jpg?v=1505564833 180w 120h,
    //cdn.shopify.com/s/files/1/2334/0831/files/university-study-group_360x.jpg?v=1505564833 360w 240h,
    //cdn.shopify.com/s/files/1/2334/0831/files/university-study-group_540x.jpg?v=1505564833 540w 360h,
    //cdn.shopify.com/s/files/1/2334/0831/files/university-study-group_720x.jpg?v=1505564833 720w 480h,
    //cdn.shopify.com/s/files/1/2334/0831/files/university-study-group_900x.jpg?v=1505564833 900w 600h,
    //cdn.shopify.com/s/files/1/2334/0831/files/university-study-group_1080x.jpg?v=1505564833 1080w 720h,
    //cdn.shopify.com/s/files/1/2334/0831/files/university-study-group_1296x.jpg?v=1505564833 1296w 864h,
    //cdn.shopify.com/s/files/1/2334/0831/files/university-study-group_1512x.jpg?v=1505564833 1512w 1008h,
    //cdn.shopify.com/s/files/1/2334/0831/files/university-study-group_1728x.jpg?v=1505564833 1728w 1152h,
    //cdn.shopify.com/s/files/1/2334/0831/files/university-study-group_1950x.jpg?v=1505564833 1950w 1300h,
    //cdn.shopify.com/s/files/1/2334/0831/files/university-study-group_2100x.jpg?v=1505564833 2100w 1400h,
    //cdn.shopify.com/s/files/1/2334/0831/files/university-study-group_2260x.jpg?v=1505564833 2260w 1507h,
    //cdn.shopify.com/s/files/1/2334/0831/files/university-study-group_2450x.jpg?v=1505564833 2450w 1633h,
    //cdn.shopify.com/s/files/1/2334/0831/files/university-study-group_2700x.jpg?v=1505564833 2700w 1800h,
    //cdn.shopify.com/s/files/1/2334/0831/files/university-study-group_3000x.jpg?v=1505564833 3000w 2000h,
    //cdn.shopify.com/s/files/1/2334/0831/files/university-study-group_3350x.jpg?v=1505564833 3350w 2233h,
    //cdn.shopify.com/s/files/1/2334/0831/files/university-study-group.jpg?v=1505564833 3648w 2432h"
         data-parent-fit="cover"
         style="background-position: center center; background-image: url(&quot;https://cdn.shopify.com/s/files/1/2334/0831/files/university-study-group_2260x.jpg?v=1505564833&quot;);">
        <div class="hero__inner">
            <div class="page-width text-center">
                <div class="rte-setting mega-subtitle" data-theme-editor-setting="section.1505564481810.text"><p>
                        ADAMANTINE MUSIC TEAM, WE ARE A CARING BUNCH AND WE TAKE PRIDE IN PROVIDING YOU QUALITY SERVICE.
                        WHETHER YOU ARE LOOKING FOR AN INSTRUMENT OR DEVELOP A MUSICAL TALENT WE ARE HERE TO HELP. CALL
                        US TODAY.</p></div>
            </div>
        </div>
        <picture style="display: none;">
            <source data-srcset="//cdn.shopify.com/s/files/1/2334/0831/files/university-study-group_180x.jpg?v=1505564833 180w 120h, //cdn.shopify.com/s/files/1/2334/0831/files/university-study-group_360x.jpg?v=1505564833 360w 240h, //cdn.shopify.com/s/files/1/2334/0831/files/university-study-group_540x.jpg?v=1505564833 540w 360h, //cdn.shopify.com/s/files/1/2334/0831/files/university-study-group_720x.jpg?v=1505564833 720w 480h, //cdn.shopify.com/s/files/1/2334/0831/files/university-study-group_900x.jpg?v=1505564833 900w 600h, //cdn.shopify.com/s/files/1/2334/0831/files/university-study-group_1080x.jpg?v=1505564833 1080w 720h, //cdn.shopify.com/s/files/1/2334/0831/files/university-study-group_1296x.jpg?v=1505564833 1296w 864h, //cdn.shopify.com/s/files/1/2334/0831/files/university-study-group_1512x.jpg?v=1505564833 1512w 1008h, //cdn.shopify.com/s/files/1/2334/0831/files/university-study-group_1728x.jpg?v=1505564833 1728w 1152h, //cdn.shopify.com/s/files/1/2334/0831/files/university-study-group_1950x.jpg?v=1505564833 1950w 1300h, //cdn.shopify.com/s/files/1/2334/0831/files/university-study-group_2100x.jpg?v=1505564833 2100w 1400h, //cdn.shopify.com/s/files/1/2334/0831/files/university-study-group_2260x.jpg?v=1505564833 2260w 1507h, //cdn.shopify.com/s/files/1/2334/0831/files/university-study-group_2450x.jpg?v=1505564833 2450w 1633h, //cdn.shopify.com/s/files/1/2334/0831/files/university-study-group_2700x.jpg?v=1505564833 2700w 1800h, //cdn.shopify.com/s/files/1/2334/0831/files/university-study-group_3000x.jpg?v=1505564833 3000w 2000h, //cdn.shopify.com/s/files/1/2334/0831/files/university-study-group_3350x.jpg?v=1505564833 3350w 2233h, //cdn.shopify.com/s/files/1/2334/0831/files/university-study-group.jpg?v=1505564833 3648w 2432h"
                    sizes="749px"
                    srcset="//cdn.shopify.com/s/files/1/2334/0831/files/university-study-group_180x.jpg?v=1505564833 180w 120h, //cdn.shopify.com/s/files/1/2334/0831/files/university-study-group_360x.jpg?v=1505564833 360w 240h, //cdn.shopify.com/s/files/1/2334/0831/files/university-study-group_540x.jpg?v=1505564833 540w 360h, //cdn.shopify.com/s/files/1/2334/0831/files/university-study-group_720x.jpg?v=1505564833 720w 480h, //cdn.shopify.com/s/files/1/2334/0831/files/university-study-group_900x.jpg?v=1505564833 900w 600h, //cdn.shopify.com/s/files/1/2334/0831/files/university-study-group_1080x.jpg?v=1505564833 1080w 720h, //cdn.shopify.com/s/files/1/2334/0831/files/university-study-group_1296x.jpg?v=1505564833 1296w 864h, //cdn.shopify.com/s/files/1/2334/0831/files/university-study-group_1512x.jpg?v=1505564833 1512w 1008h, //cdn.shopify.com/s/files/1/2334/0831/files/university-study-group_1728x.jpg?v=1505564833 1728w 1152h, //cdn.shopify.com/s/files/1/2334/0831/files/university-study-group_1950x.jpg?v=1505564833 1950w 1300h, //cdn.shopify.com/s/files/1/2334/0831/files/university-study-group_2100x.jpg?v=1505564833 2100w 1400h, //cdn.shopify.com/s/files/1/2334/0831/files/university-study-group_2260x.jpg?v=1505564833 2260w 1507h, //cdn.shopify.com/s/files/1/2334/0831/files/university-study-group_2450x.jpg?v=1505564833 2450w 1633h, //cdn.shopify.com/s/files/1/2334/0831/files/university-study-group_2700x.jpg?v=1505564833 2700w 1800h, //cdn.shopify.com/s/files/1/2334/0831/files/university-study-group_3000x.jpg?v=1505564833 3000w 2000h, //cdn.shopify.com/s/files/1/2334/0831/files/university-study-group_3350x.jpg?v=1505564833 3350w 2233h, //cdn.shopify.com/s/files/1/2334/0831/files/university-study-group.jpg?v=1505564833 3648w 2432h">
            <img alt="" class="lazyautosizes lazyloaded" data-sizes="auto" data-parent-fit="cover" sizes="749px">
        </picture>
    </div>
    <noscript>
        &lt;div class="hero hero--medium hero__overlay" style="background-image:
        url('//cdn.shopify.com/s/files/1/2334/0831/files/university-study-group_2048x.jpg?v=1505564833');
        background-position: center center;"&gt;&lt;/div&gt;
    </noscript>
</div>

<div id="shopify-section-1506075061459" class="shopify-section index-section"
     data-theme-editor-section-35858929742="{&quot;id&quot;:&quot;1506075061459&quot;,&quot;type&quot;:&quot;feature-columns&quot;,&quot;hidden&quot;:false}">
    <div class="page-width">


        <div class="grid grid--uniform grid--flush-bottom">


            <div class="grid__item medium-up--one-third text-center"
                 data-theme-editor-block-35858929742="{&quot;id&quot;:&quot;1506075061459-0&quot;,&quot;type&quot;:&quot;text_block&quot;}">


                <style>


                    @media screen and (min-width: 750px) {
                        #TextColumnImage-1506075061459-0 {
                            max-width: 228.90684410646384px;
                            max-height: 345px;
                        }

                        #TextColumnImageWrapper-1506075061459-0 {
                            max-width: 228.90684410646384px;
                            max-height: 345px;
                        }
                    }

                    @media screen and (max-width: 749px) {
                        #TextColumnImage-1506075061459-0 {
                            max-width: 497.6235741444866px;
                            max-height: 750px;
                        }

                        #TextColumnImageWrapper-1506075061459-0 {
                            max-width: 497.6235741444866px;
                        }
                    }

                </style>

                <div id="TextColumnImageWrapper-1506075061459-0" class="feature-row__image-wrapper js">
                    <div style="padding-top:150.7163324%;">
                        <img id="TextColumnImage-1506075061459-0" class="feature-row__image lazyautosizes lazyloaded"
                             src="//cdn.shopify.com/s/files/1/2334/0831/files/Picture1_80ac0ec8-4937-406b-be91-06f7ba000bd3_300x300.png?v=1505565764"
                             data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                             data-aspectratio="0.6634980988593155" data-sizes="auto" alt=""
                             data-srcset="//cdn.shopify.com/s/files/1/2334/0831/files/Picture1_80ac0ec8-4937-406b-be91-06f7ba000bd3_180x.png?v=1505565764 180w, //cdn.shopify.com/s/files/1/2334/0831/files/Picture1_80ac0ec8-4937-406b-be91-06f7ba000bd3_360x.png?v=1505565764 360w, //cdn.shopify.com/s/files/1/2334/0831/files/Picture1_80ac0ec8-4937-406b-be91-06f7ba000bd3_540x.png?v=1505565764 540w, //cdn.shopify.com/s/files/1/2334/0831/files/Picture1_80ac0ec8-4937-406b-be91-06f7ba000bd3_720x.png?v=1505565764 720w, //cdn.shopify.com/s/files/1/2334/0831/files/Picture1_80ac0ec8-4937-406b-be91-06f7ba000bd3_900x.png?v=1505565764 900w, //cdn.shopify.com/s/files/1/2334/0831/files/Picture1_80ac0ec8-4937-406b-be91-06f7ba000bd3_1080x.png?v=1505565764 1080w, //cdn.shopify.com/s/files/1/2334/0831/files/Picture1_80ac0ec8-4937-406b-be91-06f7ba000bd3_1296x.png?v=1505565764 1296w, //cdn.shopify.com/s/files/1/2334/0831/files/Picture1_80ac0ec8-4937-406b-be91-06f7ba000bd3_1512x.png?v=1505565764 1512w, //cdn.shopify.com/s/files/1/2334/0831/files/Picture1_80ac0ec8-4937-406b-be91-06f7ba000bd3_1728x.png?v=1505565764 1728w, //cdn.shopify.com/s/files/1/2334/0831/files/Picture1_80ac0ec8-4937-406b-be91-06f7ba000bd3_2048x.png?v=1505565764 2048w"
                             sizes="293px"
                             srcset="//cdn.shopify.com/s/files/1/2334/0831/files/Picture1_80ac0ec8-4937-406b-be91-06f7ba000bd3_180x.png?v=1505565764 180w, //cdn.shopify.com/s/files/1/2334/0831/files/Picture1_80ac0ec8-4937-406b-be91-06f7ba000bd3_360x.png?v=1505565764 360w, //cdn.shopify.com/s/files/1/2334/0831/files/Picture1_80ac0ec8-4937-406b-be91-06f7ba000bd3_540x.png?v=1505565764 540w, //cdn.shopify.com/s/files/1/2334/0831/files/Picture1_80ac0ec8-4937-406b-be91-06f7ba000bd3_720x.png?v=1505565764 720w, //cdn.shopify.com/s/files/1/2334/0831/files/Picture1_80ac0ec8-4937-406b-be91-06f7ba000bd3_900x.png?v=1505565764 900w, //cdn.shopify.com/s/files/1/2334/0831/files/Picture1_80ac0ec8-4937-406b-be91-06f7ba000bd3_1080x.png?v=1505565764 1080w, //cdn.shopify.com/s/files/1/2334/0831/files/Picture1_80ac0ec8-4937-406b-be91-06f7ba000bd3_1296x.png?v=1505565764 1296w, //cdn.shopify.com/s/files/1/2334/0831/files/Picture1_80ac0ec8-4937-406b-be91-06f7ba000bd3_1512x.png?v=1505565764 1512w, //cdn.shopify.com/s/files/1/2334/0831/files/Picture1_80ac0ec8-4937-406b-be91-06f7ba000bd3_1728x.png?v=1505565764 1728w, //cdn.shopify.com/s/files/1/2334/0831/files/Picture1_80ac0ec8-4937-406b-be91-06f7ba000bd3_2048x.png?v=1505565764 2048w">
                    </div>
                </div>
                <noscript>
                    &lt;p&gt;
                    &lt;img
                    src="//cdn.shopify.com/s/files/1/2334/0831/files/Picture1_80ac0ec8-4937-406b-be91-06f7ba000bd3_480x480@2x.png?v=1505565764"
                    alt="" class="feature-row__image" /&gt;
                    &lt;/p&gt;
                </noscript>


                <h3 class="h4" data-theme-editor-setting="section.1506075061459.block.1506075061459-0.title/escape">
                    杨曼珊</h3>


                <div class="rte-setting" data-theme-editor-setting="section.1506075061459.block.1506075061459-0.text">
                    <p>弦乐部音乐总监，主要负责小提琴课程，乐理课程，弦乐队</p></div>


                <a href="/pages/%E6%9D%A8%E6%9B%BC%E7%8F%8A" class="btn btn--secondary btn--small"
                   data-theme-editor-setting="section.1506075061459.block.1506075061459-0.button_label/escape">
                    了解更多
                </a>

            </div>


            <div class="grid__item medium-up--one-third text-center"
                 data-theme-editor-block-35858929742="{&quot;id&quot;:&quot;1506075061459-1&quot;,&quot;type&quot;:&quot;text_block&quot;}">


                <style>


                    @media screen and (min-width: 750px) {
                        #TextColumnImage-1506075061459-1 {
                            max-width: 323.3760683760684px;
                            max-height: 345px;
                        }

                        #TextColumnImageWrapper-1506075061459-1 {
                            max-width: 323.3760683760684px;
                            max-height: 345px;
                        }
                    }

                    @media screen and (max-width: 749px) {
                        #TextColumnImage-1506075061459-1 {
                            max-width: 702.991452991453px;
                            max-height: 750px;
                        }

                        #TextColumnImageWrapper-1506075061459-1 {
                            max-width: 702.991452991453px;
                        }
                    }

                </style>

                <div id="TextColumnImageWrapper-1506075061459-1" class="feature-row__image-wrapper js">
                    <div style="padding-top:106.6869301%;">
                        <img id="TextColumnImage-1506075061459-1" class="feature-row__image lazyautosizes lazyloaded"
                             src="//cdn.shopify.com/s/files/1/2334/0831/files/Picture1_d7a94a16-f5f8-4025-a867-d36082c2e07d_300x300.png?v=1505565943"
                             data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                             data-aspectratio="0.9373219373219374" data-sizes="auto" alt=""
                             data-srcset="//cdn.shopify.com/s/files/1/2334/0831/files/Picture1_d7a94a16-f5f8-4025-a867-d36082c2e07d_180x.png?v=1505565943 180w, //cdn.shopify.com/s/files/1/2334/0831/files/Picture1_d7a94a16-f5f8-4025-a867-d36082c2e07d_360x.png?v=1505565943 360w, //cdn.shopify.com/s/files/1/2334/0831/files/Picture1_d7a94a16-f5f8-4025-a867-d36082c2e07d_540x.png?v=1505565943 540w, //cdn.shopify.com/s/files/1/2334/0831/files/Picture1_d7a94a16-f5f8-4025-a867-d36082c2e07d_720x.png?v=1505565943 720w, //cdn.shopify.com/s/files/1/2334/0831/files/Picture1_d7a94a16-f5f8-4025-a867-d36082c2e07d_900x.png?v=1505565943 900w, //cdn.shopify.com/s/files/1/2334/0831/files/Picture1_d7a94a16-f5f8-4025-a867-d36082c2e07d_1080x.png?v=1505565943 1080w, //cdn.shopify.com/s/files/1/2334/0831/files/Picture1_d7a94a16-f5f8-4025-a867-d36082c2e07d_1296x.png?v=1505565943 1296w, //cdn.shopify.com/s/files/1/2334/0831/files/Picture1_d7a94a16-f5f8-4025-a867-d36082c2e07d_1512x.png?v=1505565943 1512w, //cdn.shopify.com/s/files/1/2334/0831/files/Picture1_d7a94a16-f5f8-4025-a867-d36082c2e07d_1728x.png?v=1505565943 1728w, //cdn.shopify.com/s/files/1/2334/0831/files/Picture1_d7a94a16-f5f8-4025-a867-d36082c2e07d_2048x.png?v=1505565943 2048w"
                             sizes="293px"
                             srcset="//cdn.shopify.com/s/files/1/2334/0831/files/Picture1_d7a94a16-f5f8-4025-a867-d36082c2e07d_180x.png?v=1505565943 180w, //cdn.shopify.com/s/files/1/2334/0831/files/Picture1_d7a94a16-f5f8-4025-a867-d36082c2e07d_360x.png?v=1505565943 360w, //cdn.shopify.com/s/files/1/2334/0831/files/Picture1_d7a94a16-f5f8-4025-a867-d36082c2e07d_540x.png?v=1505565943 540w, //cdn.shopify.com/s/files/1/2334/0831/files/Picture1_d7a94a16-f5f8-4025-a867-d36082c2e07d_720x.png?v=1505565943 720w, //cdn.shopify.com/s/files/1/2334/0831/files/Picture1_d7a94a16-f5f8-4025-a867-d36082c2e07d_900x.png?v=1505565943 900w, //cdn.shopify.com/s/files/1/2334/0831/files/Picture1_d7a94a16-f5f8-4025-a867-d36082c2e07d_1080x.png?v=1505565943 1080w, //cdn.shopify.com/s/files/1/2334/0831/files/Picture1_d7a94a16-f5f8-4025-a867-d36082c2e07d_1296x.png?v=1505565943 1296w, //cdn.shopify.com/s/files/1/2334/0831/files/Picture1_d7a94a16-f5f8-4025-a867-d36082c2e07d_1512x.png?v=1505565943 1512w, //cdn.shopify.com/s/files/1/2334/0831/files/Picture1_d7a94a16-f5f8-4025-a867-d36082c2e07d_1728x.png?v=1505565943 1728w, //cdn.shopify.com/s/files/1/2334/0831/files/Picture1_d7a94a16-f5f8-4025-a867-d36082c2e07d_2048x.png?v=1505565943 2048w">
                    </div>
                </div>
                <noscript>
                    &lt;p&gt;
                    &lt;img
                    src="//cdn.shopify.com/s/files/1/2334/0831/files/Picture1_d7a94a16-f5f8-4025-a867-d36082c2e07d_480x480@2x.png?v=1505565943"
                    alt="" class="feature-row__image" /&gt;
                    &lt;/p&gt;
                </noscript>


                <h3 class="h4" data-theme-editor-setting="section.1506075061459.block.1506075061459-1.title/escape">
                    闫婧文</h3>


                <div class="rte-setting" data-theme-editor-setting="section.1506075061459.block.1506075061459-1.text">
                    <p>钢琴部音乐总监，主要负责钢琴课程，奥尔夫课程，乐理课程</p></div>


                <a href="/pages/%E9%97%AB%E5%A9%A7%E6%96%87" class="btn btn--secondary btn--small"
                   data-theme-editor-setting="section.1506075061459.block.1506075061459-1.button_label/escape">
                    了解更多
                </a>

            </div>


            <div class="grid__item medium-up--one-third text-center"
                 data-theme-editor-block-35858929742="{&quot;id&quot;:&quot;1506075061459-2&quot;,&quot;type&quot;:&quot;text_block&quot;}">


                <style>


                    @media screen and (min-width: 750px) {
                        #TextColumnImage-1506075061459-2 {
                            max-width: 345px;
                            max-height: 229.50323974082073px;
                        }

                        #TextColumnImageWrapper-1506075061459-2 {
                            max-width: 345px;
                            max-height: 229.50323974082073px;
                        }
                    }

                    @media screen and (max-width: 749px) {
                        #TextColumnImage-1506075061459-2 {
                            max-width: 463px;
                            max-height: 750px;
                        }

                        #TextColumnImageWrapper-1506075061459-2 {
                            max-width: 463px;
                        }
                    }

                </style>

                <div id="TextColumnImageWrapper-1506075061459-2" class="feature-row__image-wrapper js">
                    <div style="padding-top:66.52267818574514%;">
                        <img id="TextColumnImage-1506075061459-2" class="feature-row__image lazyautosizes lazyloaded"
                             src="//cdn.shopify.com/s/files/1/2334/0831/files/Picture1_8486bfcc-df0e-42be-9cce-668aabc58255_300x300.png?v=1505565567"
                             data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                             data-aspectratio="1.5032467532467533" data-sizes="auto" alt=""
                             data-srcset="//cdn.shopify.com/s/files/1/2334/0831/files/Picture1_8486bfcc-df0e-42be-9cce-668aabc58255_180x.png?v=1505565567 180w, //cdn.shopify.com/s/files/1/2334/0831/files/Picture1_8486bfcc-df0e-42be-9cce-668aabc58255_360x.png?v=1505565567 360w, //cdn.shopify.com/s/files/1/2334/0831/files/Picture1_8486bfcc-df0e-42be-9cce-668aabc58255_540x.png?v=1505565567 540w, //cdn.shopify.com/s/files/1/2334/0831/files/Picture1_8486bfcc-df0e-42be-9cce-668aabc58255_720x.png?v=1505565567 720w, //cdn.shopify.com/s/files/1/2334/0831/files/Picture1_8486bfcc-df0e-42be-9cce-668aabc58255_900x.png?v=1505565567 900w, //cdn.shopify.com/s/files/1/2334/0831/files/Picture1_8486bfcc-df0e-42be-9cce-668aabc58255_1080x.png?v=1505565567 1080w, //cdn.shopify.com/s/files/1/2334/0831/files/Picture1_8486bfcc-df0e-42be-9cce-668aabc58255_1296x.png?v=1505565567 1296w, //cdn.shopify.com/s/files/1/2334/0831/files/Picture1_8486bfcc-df0e-42be-9cce-668aabc58255_1512x.png?v=1505565567 1512w, //cdn.shopify.com/s/files/1/2334/0831/files/Picture1_8486bfcc-df0e-42be-9cce-668aabc58255_1728x.png?v=1505565567 1728w, //cdn.shopify.com/s/files/1/2334/0831/files/Picture1_8486bfcc-df0e-42be-9cce-668aabc58255_2048x.png?v=1505565567 2048w"
                             sizes="293px"
                             srcset="//cdn.shopify.com/s/files/1/2334/0831/files/Picture1_8486bfcc-df0e-42be-9cce-668aabc58255_180x.png?v=1505565567 180w, //cdn.shopify.com/s/files/1/2334/0831/files/Picture1_8486bfcc-df0e-42be-9cce-668aabc58255_360x.png?v=1505565567 360w, //cdn.shopify.com/s/files/1/2334/0831/files/Picture1_8486bfcc-df0e-42be-9cce-668aabc58255_540x.png?v=1505565567 540w, //cdn.shopify.com/s/files/1/2334/0831/files/Picture1_8486bfcc-df0e-42be-9cce-668aabc58255_720x.png?v=1505565567 720w, //cdn.shopify.com/s/files/1/2334/0831/files/Picture1_8486bfcc-df0e-42be-9cce-668aabc58255_900x.png?v=1505565567 900w, //cdn.shopify.com/s/files/1/2334/0831/files/Picture1_8486bfcc-df0e-42be-9cce-668aabc58255_1080x.png?v=1505565567 1080w, //cdn.shopify.com/s/files/1/2334/0831/files/Picture1_8486bfcc-df0e-42be-9cce-668aabc58255_1296x.png?v=1505565567 1296w, //cdn.shopify.com/s/files/1/2334/0831/files/Picture1_8486bfcc-df0e-42be-9cce-668aabc58255_1512x.png?v=1505565567 1512w, //cdn.shopify.com/s/files/1/2334/0831/files/Picture1_8486bfcc-df0e-42be-9cce-668aabc58255_1728x.png?v=1505565567 1728w, //cdn.shopify.com/s/files/1/2334/0831/files/Picture1_8486bfcc-df0e-42be-9cce-668aabc58255_2048x.png?v=1505565567 2048w">
                    </div>
                </div>
                <noscript>
                    &lt;p&gt;
                    &lt;img
                    src="//cdn.shopify.com/s/files/1/2334/0831/files/Picture1_8486bfcc-df0e-42be-9cce-668aabc58255_480x480@2x.png?v=1505565567"
                    alt="" class="feature-row__image" /&gt;
                    &lt;/p&gt;
                </noscript>


                <h3 class="h4" data-theme-editor-setting="section.1506075061459.block.1506075061459-2.title/escape">
                    董亮君</h3>


                <div class="rte-setting" data-theme-editor-setting="section.1506075061459.block.1506075061459-2.text">
                    <p>钢琴课程讲师</p></div>


                <a href="/pages/%E8%91%A3%E4%BA%AE%E5%90%9B" class="btn btn--secondary btn--small"
                   data-theme-editor-setting="section.1506075061459.block.1506075061459-2.button_label/escape">
                    了解更多
                </a>

            </div>


            <div class="grid__item medium-up--one-third text-center"
                 data-theme-editor-block-35858929742="{&quot;id&quot;:&quot;1506075784391&quot;,&quot;type&quot;:&quot;text_block&quot;}">


                <style>


                    @media screen and (min-width: 750px) {
                        #TextColumnImage-1506075784391 {
                            max-width: 204px;
                            max-height: 272px;
                        }

                        #TextColumnImageWrapper-1506075784391 {
                            max-width: 204px;
                            max-height: 272px;
                        }
                    }

                    @media screen and (max-width: 749px) {
                        #TextColumnImage-1506075784391 {
                            max-width: 562.5px;
                            max-height: 750px;
                        }

                        #TextColumnImageWrapper-1506075784391 {
                            max-width: 562.5px;
                        }
                    }

                </style>

                <div id="TextColumnImageWrapper-1506075784391" class="feature-row__image-wrapper js">
                    <div style="padding-top:133.3333333%;">
                        <img id="TextColumnImage-1506075784391" class="feature-row__image lazyautosizes lazyloaded"
                             src="//cdn.shopify.com/s/files/1/2334/0831/files/Picture1_a6eeacad-3c94-4de2-a2ff-41183b28ee40_300x300.png?v=1505566365"
                             data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                             data-aspectratio="0.75" data-sizes="auto" alt=""
                             data-srcset="//cdn.shopify.com/s/files/1/2334/0831/files/Picture1_a6eeacad-3c94-4de2-a2ff-41183b28ee40_180x.png?v=1505566365 180w, //cdn.shopify.com/s/files/1/2334/0831/files/Picture1_a6eeacad-3c94-4de2-a2ff-41183b28ee40_360x.png?v=1505566365 360w, //cdn.shopify.com/s/files/1/2334/0831/files/Picture1_a6eeacad-3c94-4de2-a2ff-41183b28ee40_540x.png?v=1505566365 540w, //cdn.shopify.com/s/files/1/2334/0831/files/Picture1_a6eeacad-3c94-4de2-a2ff-41183b28ee40_720x.png?v=1505566365 720w, //cdn.shopify.com/s/files/1/2334/0831/files/Picture1_a6eeacad-3c94-4de2-a2ff-41183b28ee40_900x.png?v=1505566365 900w, //cdn.shopify.com/s/files/1/2334/0831/files/Picture1_a6eeacad-3c94-4de2-a2ff-41183b28ee40_1080x.png?v=1505566365 1080w, //cdn.shopify.com/s/files/1/2334/0831/files/Picture1_a6eeacad-3c94-4de2-a2ff-41183b28ee40_1296x.png?v=1505566365 1296w, //cdn.shopify.com/s/files/1/2334/0831/files/Picture1_a6eeacad-3c94-4de2-a2ff-41183b28ee40_1512x.png?v=1505566365 1512w, //cdn.shopify.com/s/files/1/2334/0831/files/Picture1_a6eeacad-3c94-4de2-a2ff-41183b28ee40_1728x.png?v=1505566365 1728w, //cdn.shopify.com/s/files/1/2334/0831/files/Picture1_a6eeacad-3c94-4de2-a2ff-41183b28ee40_2048x.png?v=1505566365 2048w"
                             sizes="293px"
                             srcset="//cdn.shopify.com/s/files/1/2334/0831/files/Picture1_a6eeacad-3c94-4de2-a2ff-41183b28ee40_180x.png?v=1505566365 180w, //cdn.shopify.com/s/files/1/2334/0831/files/Picture1_a6eeacad-3c94-4de2-a2ff-41183b28ee40_360x.png?v=1505566365 360w, //cdn.shopify.com/s/files/1/2334/0831/files/Picture1_a6eeacad-3c94-4de2-a2ff-41183b28ee40_540x.png?v=1505566365 540w, //cdn.shopify.com/s/files/1/2334/0831/files/Picture1_a6eeacad-3c94-4de2-a2ff-41183b28ee40_720x.png?v=1505566365 720w, //cdn.shopify.com/s/files/1/2334/0831/files/Picture1_a6eeacad-3c94-4de2-a2ff-41183b28ee40_900x.png?v=1505566365 900w, //cdn.shopify.com/s/files/1/2334/0831/files/Picture1_a6eeacad-3c94-4de2-a2ff-41183b28ee40_1080x.png?v=1505566365 1080w, //cdn.shopify.com/s/files/1/2334/0831/files/Picture1_a6eeacad-3c94-4de2-a2ff-41183b28ee40_1296x.png?v=1505566365 1296w, //cdn.shopify.com/s/files/1/2334/0831/files/Picture1_a6eeacad-3c94-4de2-a2ff-41183b28ee40_1512x.png?v=1505566365 1512w, //cdn.shopify.com/s/files/1/2334/0831/files/Picture1_a6eeacad-3c94-4de2-a2ff-41183b28ee40_1728x.png?v=1505566365 1728w, //cdn.shopify.com/s/files/1/2334/0831/files/Picture1_a6eeacad-3c94-4de2-a2ff-41183b28ee40_2048x.png?v=1505566365 2048w">
                    </div>
                </div>
                <noscript>
                    &lt;p&gt;
                    &lt;img
                    src="//cdn.shopify.com/s/files/1/2334/0831/files/Picture1_a6eeacad-3c94-4de2-a2ff-41183b28ee40_480x480@2x.png?v=1505566365"
                    alt="" class="feature-row__image" /&gt;
                    &lt;/p&gt;
                </noscript>


                <h3 class="h4" data-theme-editor-setting="section.1506075061459.block.1506075784391.title/escape">
                    鲁萧</h3>


                <div class="rte-setting" data-theme-editor-setting="section.1506075061459.block.1506075784391.text"><p>
                        钢琴课程讲师</p></div>


                <a href="/pages/%E9%B2%81%E8%90%A7" class="btn btn--secondary btn--small"
                   data-theme-editor-setting="section.1506075061459.block.1506075784391.button_label/escape">
                    了解更多
                </a>

            </div>


            <div class="grid__item medium-up--one-third text-center"
                 data-theme-editor-block-35858929742="{&quot;id&quot;:&quot;1506075786480&quot;,&quot;type&quot;:&quot;text_block&quot;}">


                <style>


                    @media screen and (min-width: 750px) {
                        #TextColumnImage-1506075786480 {
                            max-width: 345px;
                            max-height: 229.41326530612247px;
                        }

                        #TextColumnImageWrapper-1506075786480 {
                            max-width: 345px;
                            max-height: 229.41326530612247px;
                        }
                    }

                    @media screen and (max-width: 749px) {
                        #TextColumnImage-1506075786480 {
                            max-width: 588px;
                            max-height: 750px;
                        }

                        #TextColumnImageWrapper-1506075786480 {
                            max-width: 588px;
                        }
                    }

                </style>

                <div id="TextColumnImageWrapper-1506075786480" class="feature-row__image-wrapper js">
                    <div style="padding-top:66.49659863945578%;">
                        <img id="TextColumnImage-1506075786480" class="feature-row__image lazyautosizes lazyloaded"
                             src="//cdn.shopify.com/s/files/1/2334/0831/files/Picture1_300x300.png?v=1505565098"
                             data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                             data-aspectratio="1.5038363171355498" data-sizes="auto" alt=""
                             data-srcset="//cdn.shopify.com/s/files/1/2334/0831/files/Picture1_180x.png?v=1505565098 180w, //cdn.shopify.com/s/files/1/2334/0831/files/Picture1_360x.png?v=1505565098 360w, //cdn.shopify.com/s/files/1/2334/0831/files/Picture1_540x.png?v=1505565098 540w, //cdn.shopify.com/s/files/1/2334/0831/files/Picture1_720x.png?v=1505565098 720w, //cdn.shopify.com/s/files/1/2334/0831/files/Picture1_900x.png?v=1505565098 900w, //cdn.shopify.com/s/files/1/2334/0831/files/Picture1_1080x.png?v=1505565098 1080w, //cdn.shopify.com/s/files/1/2334/0831/files/Picture1_1296x.png?v=1505565098 1296w, //cdn.shopify.com/s/files/1/2334/0831/files/Picture1_1512x.png?v=1505565098 1512w, //cdn.shopify.com/s/files/1/2334/0831/files/Picture1_1728x.png?v=1505565098 1728w, //cdn.shopify.com/s/files/1/2334/0831/files/Picture1_2048x.png?v=1505565098 2048w"
                             sizes="293px"
                             srcset="//cdn.shopify.com/s/files/1/2334/0831/files/Picture1_180x.png?v=1505565098 180w, //cdn.shopify.com/s/files/1/2334/0831/files/Picture1_360x.png?v=1505565098 360w, //cdn.shopify.com/s/files/1/2334/0831/files/Picture1_540x.png?v=1505565098 540w, //cdn.shopify.com/s/files/1/2334/0831/files/Picture1_720x.png?v=1505565098 720w, //cdn.shopify.com/s/files/1/2334/0831/files/Picture1_900x.png?v=1505565098 900w, //cdn.shopify.com/s/files/1/2334/0831/files/Picture1_1080x.png?v=1505565098 1080w, //cdn.shopify.com/s/files/1/2334/0831/files/Picture1_1296x.png?v=1505565098 1296w, //cdn.shopify.com/s/files/1/2334/0831/files/Picture1_1512x.png?v=1505565098 1512w, //cdn.shopify.com/s/files/1/2334/0831/files/Picture1_1728x.png?v=1505565098 1728w, //cdn.shopify.com/s/files/1/2334/0831/files/Picture1_2048x.png?v=1505565098 2048w">
                    </div>
                </div>
                <noscript>
                    &lt;p&gt;
                    &lt;img src="//cdn.shopify.com/s/files/1/2334/0831/files/Picture1_480x480@2x.png?v=1505565098"
                    alt="" class="feature-row__image" /&gt;
                    &lt;/p&gt;
                </noscript>


                <h3 class="h4" data-theme-editor-setting="section.1506075061459.block.1506075786480.title/escape">
                    李子安</h3>


                <div class="rte-setting" data-theme-editor-setting="section.1506075061459.block.1506075786480.text"><p>
                        小提琴课程讲师</p></div>


                <a href="/pages/%E6%9D%8E%E5%AD%90%E5%AE%89" class="btn btn--secondary btn--small"
                   data-theme-editor-setting="section.1506075061459.block.1506075786480.button_label/escape">
                    了解更多
                </a>

            </div>


            <div class="grid__item medium-up--one-third text-center"
                 data-theme-editor-block-35858929742="{&quot;id&quot;:&quot;1506075921033&quot;,&quot;type&quot;:&quot;text_block&quot;}">


                <style>


                    @media screen and (min-width: 750px) {
                        #TextColumnImage-1506075921033 {
                            max-width: 213px;
                            max-height: 258px;
                        }

                        #TextColumnImageWrapper-1506075921033 {
                            max-width: 213px;
                            max-height: 258px;
                        }
                    }

                    @media screen and (max-width: 749px) {
                        #TextColumnImage-1506075921033 {
                            max-width: 619.1860465116279px;
                            max-height: 750px;
                        }

                        #TextColumnImageWrapper-1506075921033 {
                            max-width: 619.1860465116279px;
                        }
                    }

                </style>

                <div id="TextColumnImageWrapper-1506075921033" class="feature-row__image-wrapper js">
                    <div style="padding-top:121.1267606%;">
                        <img id="TextColumnImage-1506075921033" class="feature-row__image lazyautosizes lazyloaded"
                             src="//cdn.shopify.com/s/files/1/2334/0831/files/Picture1_9c53d115-6222-427c-b367-59a97971e35f_300x300.png?v=1505566937"
                             data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                             data-aspectratio="0.8255813953488372" data-sizes="auto" alt=""
                             data-srcset="//cdn.shopify.com/s/files/1/2334/0831/files/Picture1_9c53d115-6222-427c-b367-59a97971e35f_180x.png?v=1505566937 180w, //cdn.shopify.com/s/files/1/2334/0831/files/Picture1_9c53d115-6222-427c-b367-59a97971e35f_360x.png?v=1505566937 360w, //cdn.shopify.com/s/files/1/2334/0831/files/Picture1_9c53d115-6222-427c-b367-59a97971e35f_540x.png?v=1505566937 540w, //cdn.shopify.com/s/files/1/2334/0831/files/Picture1_9c53d115-6222-427c-b367-59a97971e35f_720x.png?v=1505566937 720w, //cdn.shopify.com/s/files/1/2334/0831/files/Picture1_9c53d115-6222-427c-b367-59a97971e35f_900x.png?v=1505566937 900w, //cdn.shopify.com/s/files/1/2334/0831/files/Picture1_9c53d115-6222-427c-b367-59a97971e35f_1080x.png?v=1505566937 1080w, //cdn.shopify.com/s/files/1/2334/0831/files/Picture1_9c53d115-6222-427c-b367-59a97971e35f_1296x.png?v=1505566937 1296w, //cdn.shopify.com/s/files/1/2334/0831/files/Picture1_9c53d115-6222-427c-b367-59a97971e35f_1512x.png?v=1505566937 1512w, //cdn.shopify.com/s/files/1/2334/0831/files/Picture1_9c53d115-6222-427c-b367-59a97971e35f_1728x.png?v=1505566937 1728w, //cdn.shopify.com/s/files/1/2334/0831/files/Picture1_9c53d115-6222-427c-b367-59a97971e35f_2048x.png?v=1505566937 2048w"
                             sizes="293px"
                             srcset="//cdn.shopify.com/s/files/1/2334/0831/files/Picture1_9c53d115-6222-427c-b367-59a97971e35f_180x.png?v=1505566937 180w, //cdn.shopify.com/s/files/1/2334/0831/files/Picture1_9c53d115-6222-427c-b367-59a97971e35f_360x.png?v=1505566937 360w, //cdn.shopify.com/s/files/1/2334/0831/files/Picture1_9c53d115-6222-427c-b367-59a97971e35f_540x.png?v=1505566937 540w, //cdn.shopify.com/s/files/1/2334/0831/files/Picture1_9c53d115-6222-427c-b367-59a97971e35f_720x.png?v=1505566937 720w, //cdn.shopify.com/s/files/1/2334/0831/files/Picture1_9c53d115-6222-427c-b367-59a97971e35f_900x.png?v=1505566937 900w, //cdn.shopify.com/s/files/1/2334/0831/files/Picture1_9c53d115-6222-427c-b367-59a97971e35f_1080x.png?v=1505566937 1080w, //cdn.shopify.com/s/files/1/2334/0831/files/Picture1_9c53d115-6222-427c-b367-59a97971e35f_1296x.png?v=1505566937 1296w, //cdn.shopify.com/s/files/1/2334/0831/files/Picture1_9c53d115-6222-427c-b367-59a97971e35f_1512x.png?v=1505566937 1512w, //cdn.shopify.com/s/files/1/2334/0831/files/Picture1_9c53d115-6222-427c-b367-59a97971e35f_1728x.png?v=1505566937 1728w, //cdn.shopify.com/s/files/1/2334/0831/files/Picture1_9c53d115-6222-427c-b367-59a97971e35f_2048x.png?v=1505566937 2048w">
                    </div>
                </div>
                <noscript>
                    &lt;p&gt;
                    &lt;img
                    src="//cdn.shopify.com/s/files/1/2334/0831/files/Picture1_9c53d115-6222-427c-b367-59a97971e35f_480x480@2x.png?v=1505566937"
                    alt="" class="feature-row__image" /&gt;
                    &lt;/p&gt;
                </noscript>


                <h3 class="h4" data-theme-editor-setting="section.1506075061459.block.1506075921033.title/escape">
                    曾宥霖</h3>


                <div class="rte-setting" data-theme-editor-setting="section.1506075061459.block.1506075921033.text"><p>
                        古筝课程讲师</p></div>


                <a href="/pages/%E6%9B%BE%E5%AE%A5%E9%9C%96" class="btn btn--secondary btn--small"
                   data-theme-editor-setting="section.1506075061459.block.1506075921033.button_label/escape">
                    了解更多
                </a>

            </div>


            <div class="grid__item medium-up--one-third text-center"
                 data-theme-editor-block-35858929742="{&quot;id&quot;:&quot;1506075959888&quot;,&quot;type&quot;:&quot;text_block&quot;}">


                <style>


                    @media screen and (min-width: 750px) {
                        #TextColumnImage-1506075959888 {
                            max-width: 259.40340909090907px;
                            max-height: 345px;
                        }

                        #TextColumnImageWrapper-1506075959888 {
                            max-width: 259.40340909090907px;
                            max-height: 345px;
                        }
                    }

                    @media screen and (max-width: 749px) {
                        #TextColumnImage-1506075959888 {
                            max-width: 563.9204545454545px;
                            max-height: 750px;
                        }

                        #TextColumnImageWrapper-1506075959888 {
                            max-width: 563.9204545454545px;
                        }
                    }

                </style>

                <div id="TextColumnImageWrapper-1506075959888" class="feature-row__image-wrapper js">
                    <div style="padding-top:132.9974811%;">
                        <img id="TextColumnImage-1506075959888" class="feature-row__image lazyautosizes lazyloaded"
                             src="//cdn.shopify.com/s/files/1/2334/0831/files/Picture1_11b2685f-8aba-475d-810c-d7299e033f76_300x300.png?v=1505566805"
                             data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                             data-aspectratio="0.7518939393939394" data-sizes="auto" alt=""
                             data-srcset="//cdn.shopify.com/s/files/1/2334/0831/files/Picture1_11b2685f-8aba-475d-810c-d7299e033f76_180x.png?v=1505566805 180w, //cdn.shopify.com/s/files/1/2334/0831/files/Picture1_11b2685f-8aba-475d-810c-d7299e033f76_360x.png?v=1505566805 360w, //cdn.shopify.com/s/files/1/2334/0831/files/Picture1_11b2685f-8aba-475d-810c-d7299e033f76_540x.png?v=1505566805 540w, //cdn.shopify.com/s/files/1/2334/0831/files/Picture1_11b2685f-8aba-475d-810c-d7299e033f76_720x.png?v=1505566805 720w, //cdn.shopify.com/s/files/1/2334/0831/files/Picture1_11b2685f-8aba-475d-810c-d7299e033f76_900x.png?v=1505566805 900w, //cdn.shopify.com/s/files/1/2334/0831/files/Picture1_11b2685f-8aba-475d-810c-d7299e033f76_1080x.png?v=1505566805 1080w, //cdn.shopify.com/s/files/1/2334/0831/files/Picture1_11b2685f-8aba-475d-810c-d7299e033f76_1296x.png?v=1505566805 1296w, //cdn.shopify.com/s/files/1/2334/0831/files/Picture1_11b2685f-8aba-475d-810c-d7299e033f76_1512x.png?v=1505566805 1512w, //cdn.shopify.com/s/files/1/2334/0831/files/Picture1_11b2685f-8aba-475d-810c-d7299e033f76_1728x.png?v=1505566805 1728w, //cdn.shopify.com/s/files/1/2334/0831/files/Picture1_11b2685f-8aba-475d-810c-d7299e033f76_2048x.png?v=1505566805 2048w"
                             sizes="293px"
                             srcset="//cdn.shopify.com/s/files/1/2334/0831/files/Picture1_11b2685f-8aba-475d-810c-d7299e033f76_180x.png?v=1505566805 180w, //cdn.shopify.com/s/files/1/2334/0831/files/Picture1_11b2685f-8aba-475d-810c-d7299e033f76_360x.png?v=1505566805 360w, //cdn.shopify.com/s/files/1/2334/0831/files/Picture1_11b2685f-8aba-475d-810c-d7299e033f76_540x.png?v=1505566805 540w, //cdn.shopify.com/s/files/1/2334/0831/files/Picture1_11b2685f-8aba-475d-810c-d7299e033f76_720x.png?v=1505566805 720w, //cdn.shopify.com/s/files/1/2334/0831/files/Picture1_11b2685f-8aba-475d-810c-d7299e033f76_900x.png?v=1505566805 900w, //cdn.shopify.com/s/files/1/2334/0831/files/Picture1_11b2685f-8aba-475d-810c-d7299e033f76_1080x.png?v=1505566805 1080w, //cdn.shopify.com/s/files/1/2334/0831/files/Picture1_11b2685f-8aba-475d-810c-d7299e033f76_1296x.png?v=1505566805 1296w, //cdn.shopify.com/s/files/1/2334/0831/files/Picture1_11b2685f-8aba-475d-810c-d7299e033f76_1512x.png?v=1505566805 1512w, //cdn.shopify.com/s/files/1/2334/0831/files/Picture1_11b2685f-8aba-475d-810c-d7299e033f76_1728x.png?v=1505566805 1728w, //cdn.shopify.com/s/files/1/2334/0831/files/Picture1_11b2685f-8aba-475d-810c-d7299e033f76_2048x.png?v=1505566805 2048w">
                    </div>
                </div>
                <noscript>
                    &lt;p&gt;
                    &lt;img
                    src="//cdn.shopify.com/s/files/1/2334/0831/files/Picture1_11b2685f-8aba-475d-810c-d7299e033f76_480x480@2x.png?v=1505566805"
                    alt="" class="feature-row__image" /&gt;
                    &lt;/p&gt;
                </noscript>


                <h3 class="h4" data-theme-editor-setting="section.1506075061459.block.1506075959888.title/escape">
                    张苓</h3>


                <div class="rte-setting" data-theme-editor-setting="section.1506075061459.block.1506075959888.text"><p>
                        琵琶、葫芦丝课程讲师</p></div>


                <a href="/pages/%E5%BC%A0%E8%8B%93" class="btn btn--secondary btn--small"
                   data-theme-editor-setting="section.1506075061459.block.1506075959888.button_label/escape">
                    了解更多
                </a>

            </div>


            <div class="grid__item medium-up--one-third text-center"
                 data-theme-editor-block-35858929742="{&quot;id&quot;:&quot;1506076562960&quot;,&quot;type&quot;:&quot;text_block&quot;}">


                <style>


                    @media screen and (min-width: 750px) {
                        #TextColumnImage-1506076562960 {
                            max-width: 345px;
                            max-height: 269.3371522094927px;
                        }

                        #TextColumnImageWrapper-1506076562960 {
                            max-width: 345px;
                            max-height: 269.3371522094927px;
                        }
                    }

                    @media screen and (max-width: 749px) {
                        #TextColumnImage-1506076562960 {
                            max-width: 611px;
                            max-height: 750px;
                        }

                        #TextColumnImageWrapper-1506076562960 {
                            max-width: 611px;
                        }
                    }

                </style>

                <div id="TextColumnImageWrapper-1506076562960" class="feature-row__image-wrapper js">
                    <div style="padding-top:78.06873977086742%;">
                        <img id="TextColumnImage-1506076562960" class="feature-row__image lazyautosizes lazyloaded"
                             src="//cdn.shopify.com/s/files/1/2334/0831/files/Picture1_edde90f1-7bec-4764-9edf-b034afa1f411_300x300.png?v=1506076193"
                             data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                             data-aspectratio="1.280922431865828" data-sizes="auto" alt=""
                             data-srcset="//cdn.shopify.com/s/files/1/2334/0831/files/Picture1_edde90f1-7bec-4764-9edf-b034afa1f411_180x.png?v=1506076193 180w, //cdn.shopify.com/s/files/1/2334/0831/files/Picture1_edde90f1-7bec-4764-9edf-b034afa1f411_360x.png?v=1506076193 360w, //cdn.shopify.com/s/files/1/2334/0831/files/Picture1_edde90f1-7bec-4764-9edf-b034afa1f411_540x.png?v=1506076193 540w, //cdn.shopify.com/s/files/1/2334/0831/files/Picture1_edde90f1-7bec-4764-9edf-b034afa1f411_720x.png?v=1506076193 720w, //cdn.shopify.com/s/files/1/2334/0831/files/Picture1_edde90f1-7bec-4764-9edf-b034afa1f411_900x.png?v=1506076193 900w, //cdn.shopify.com/s/files/1/2334/0831/files/Picture1_edde90f1-7bec-4764-9edf-b034afa1f411_1080x.png?v=1506076193 1080w, //cdn.shopify.com/s/files/1/2334/0831/files/Picture1_edde90f1-7bec-4764-9edf-b034afa1f411_1296x.png?v=1506076193 1296w, //cdn.shopify.com/s/files/1/2334/0831/files/Picture1_edde90f1-7bec-4764-9edf-b034afa1f411_1512x.png?v=1506076193 1512w, //cdn.shopify.com/s/files/1/2334/0831/files/Picture1_edde90f1-7bec-4764-9edf-b034afa1f411_1728x.png?v=1506076193 1728w, //cdn.shopify.com/s/files/1/2334/0831/files/Picture1_edde90f1-7bec-4764-9edf-b034afa1f411_2048x.png?v=1506076193 2048w"
                             sizes="293px"
                             srcset="//cdn.shopify.com/s/files/1/2334/0831/files/Picture1_edde90f1-7bec-4764-9edf-b034afa1f411_180x.png?v=1506076193 180w, //cdn.shopify.com/s/files/1/2334/0831/files/Picture1_edde90f1-7bec-4764-9edf-b034afa1f411_360x.png?v=1506076193 360w, //cdn.shopify.com/s/files/1/2334/0831/files/Picture1_edde90f1-7bec-4764-9edf-b034afa1f411_540x.png?v=1506076193 540w, //cdn.shopify.com/s/files/1/2334/0831/files/Picture1_edde90f1-7bec-4764-9edf-b034afa1f411_720x.png?v=1506076193 720w, //cdn.shopify.com/s/files/1/2334/0831/files/Picture1_edde90f1-7bec-4764-9edf-b034afa1f411_900x.png?v=1506076193 900w, //cdn.shopify.com/s/files/1/2334/0831/files/Picture1_edde90f1-7bec-4764-9edf-b034afa1f411_1080x.png?v=1506076193 1080w, //cdn.shopify.com/s/files/1/2334/0831/files/Picture1_edde90f1-7bec-4764-9edf-b034afa1f411_1296x.png?v=1506076193 1296w, //cdn.shopify.com/s/files/1/2334/0831/files/Picture1_edde90f1-7bec-4764-9edf-b034afa1f411_1512x.png?v=1506076193 1512w, //cdn.shopify.com/s/files/1/2334/0831/files/Picture1_edde90f1-7bec-4764-9edf-b034afa1f411_1728x.png?v=1506076193 1728w, //cdn.shopify.com/s/files/1/2334/0831/files/Picture1_edde90f1-7bec-4764-9edf-b034afa1f411_2048x.png?v=1506076193 2048w">
                    </div>
                </div>
                <noscript>
                    &lt;p&gt;
                    &lt;img
                    src="//cdn.shopify.com/s/files/1/2334/0831/files/Picture1_edde90f1-7bec-4764-9edf-b034afa1f411_480x480@2x.png?v=1506076193"
                    alt="" class="feature-row__image" /&gt;
                    &lt;/p&gt;
                </noscript>


                <h3 class="h4" data-theme-editor-setting="section.1506075061459.block.1506076562960.title/escape">
                    孙嘉忆</h3>


                <div class="rte-setting" data-theme-editor-setting="section.1506075061459.block.1506076562960.text"><p>
                        钢琴课程讲师</p></div>


                <a href="/pages/iris" class="btn btn--secondary btn--small"
                   data-theme-editor-setting="section.1506075061459.block.1506076562960.button_label/escape">
                    了解更多
                </a>

            </div>


            <div class="grid__item medium-up--one-third text-center"
                 data-theme-editor-block-35858929742="{&quot;id&quot;:&quot;1506076600661&quot;,&quot;type&quot;:&quot;text_block&quot;}">


                <style>


                    @media screen and (min-width: 750px) {
                        #TextColumnImage-1506076600661 {
                            max-width: 345px;
                            max-height: 254.25px;
                        }

                        #TextColumnImageWrapper-1506076600661 {
                            max-width: 345px;
                            max-height: 254.25px;
                        }
                    }

                    @media screen and (max-width: 749px) {
                        #TextColumnImage-1506076600661 {
                            max-width: 460px;
                            max-height: 750px;
                        }

                        #TextColumnImageWrapper-1506076600661 {
                            max-width: 460px;
                        }
                    }

                </style>

                <div id="TextColumnImageWrapper-1506076600661" class="feature-row__image-wrapper js">
                    <div style="padding-top:73.69565217391305%;">
                        <img id="TextColumnImage-1506076600661" class="feature-row__image lazyautosizes lazyloaded"
                             src="//cdn.shopify.com/s/files/1/2334/0831/files/Picture1_53d7dfe4-eb5b-49e9-8607-39e553cf850f_300x300.png?v=1506076852"
                             data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                             data-aspectratio="1.3569321533923304" data-sizes="auto" alt=""
                             data-srcset="//cdn.shopify.com/s/files/1/2334/0831/files/Picture1_53d7dfe4-eb5b-49e9-8607-39e553cf850f_180x.png?v=1506076852 180w, //cdn.shopify.com/s/files/1/2334/0831/files/Picture1_53d7dfe4-eb5b-49e9-8607-39e553cf850f_360x.png?v=1506076852 360w, //cdn.shopify.com/s/files/1/2334/0831/files/Picture1_53d7dfe4-eb5b-49e9-8607-39e553cf850f_540x.png?v=1506076852 540w, //cdn.shopify.com/s/files/1/2334/0831/files/Picture1_53d7dfe4-eb5b-49e9-8607-39e553cf850f_720x.png?v=1506076852 720w, //cdn.shopify.com/s/files/1/2334/0831/files/Picture1_53d7dfe4-eb5b-49e9-8607-39e553cf850f_900x.png?v=1506076852 900w, //cdn.shopify.com/s/files/1/2334/0831/files/Picture1_53d7dfe4-eb5b-49e9-8607-39e553cf850f_1080x.png?v=1506076852 1080w, //cdn.shopify.com/s/files/1/2334/0831/files/Picture1_53d7dfe4-eb5b-49e9-8607-39e553cf850f_1296x.png?v=1506076852 1296w, //cdn.shopify.com/s/files/1/2334/0831/files/Picture1_53d7dfe4-eb5b-49e9-8607-39e553cf850f_1512x.png?v=1506076852 1512w, //cdn.shopify.com/s/files/1/2334/0831/files/Picture1_53d7dfe4-eb5b-49e9-8607-39e553cf850f_1728x.png?v=1506076852 1728w, //cdn.shopify.com/s/files/1/2334/0831/files/Picture1_53d7dfe4-eb5b-49e9-8607-39e553cf850f_2048x.png?v=1506076852 2048w"
                             sizes="293px"
                             srcset="//cdn.shopify.com/s/files/1/2334/0831/files/Picture1_53d7dfe4-eb5b-49e9-8607-39e553cf850f_180x.png?v=1506076852 180w, //cdn.shopify.com/s/files/1/2334/0831/files/Picture1_53d7dfe4-eb5b-49e9-8607-39e553cf850f_360x.png?v=1506076852 360w, //cdn.shopify.com/s/files/1/2334/0831/files/Picture1_53d7dfe4-eb5b-49e9-8607-39e553cf850f_540x.png?v=1506076852 540w, //cdn.shopify.com/s/files/1/2334/0831/files/Picture1_53d7dfe4-eb5b-49e9-8607-39e553cf850f_720x.png?v=1506076852 720w, //cdn.shopify.com/s/files/1/2334/0831/files/Picture1_53d7dfe4-eb5b-49e9-8607-39e553cf850f_900x.png?v=1506076852 900w, //cdn.shopify.com/s/files/1/2334/0831/files/Picture1_53d7dfe4-eb5b-49e9-8607-39e553cf850f_1080x.png?v=1506076852 1080w, //cdn.shopify.com/s/files/1/2334/0831/files/Picture1_53d7dfe4-eb5b-49e9-8607-39e553cf850f_1296x.png?v=1506076852 1296w, //cdn.shopify.com/s/files/1/2334/0831/files/Picture1_53d7dfe4-eb5b-49e9-8607-39e553cf850f_1512x.png?v=1506076852 1512w, //cdn.shopify.com/s/files/1/2334/0831/files/Picture1_53d7dfe4-eb5b-49e9-8607-39e553cf850f_1728x.png?v=1506076852 1728w, //cdn.shopify.com/s/files/1/2334/0831/files/Picture1_53d7dfe4-eb5b-49e9-8607-39e553cf850f_2048x.png?v=1506076852 2048w">
                    </div>
                </div>
                <noscript>
                    &lt;p&gt;
                    &lt;img
                    src="//cdn.shopify.com/s/files/1/2334/0831/files/Picture1_53d7dfe4-eb5b-49e9-8607-39e553cf850f_480x480@2x.png?v=1506076852"
                    alt="" class="feature-row__image" /&gt;
                    &lt;/p&gt;
                </noscript>


                <h3 class="h4" data-theme-editor-setting="section.1506075061459.block.1506076600661.title/escape">
                    章心桐</h3>


                <div class="rte-setting" data-theme-editor-setting="section.1506075061459.block.1506076600661.text"><p>
                        钢琴初学幼儿启蒙教育讲师</p></div>


                <a href="/pages/isabella" class="btn btn--secondary btn--small"
                   data-theme-editor-setting="section.1506075061459.block.1506076600661.button_label/escape">
                    了解更多
                </a>

            </div>

        </div>


    </div>


</div>
<div class="page-width" style="display: none">
    <div class="grid">
        <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
            <div class="section-header text-center">
                <h1>{{ page.title }}</h1>
            </div>

            <div class="rte">
                {{ page.content }}
            </div>
        </div>
    </div>
</div>
