<div id="shopify-section-1505564481810" class="shopify-section index-section index-section--flush"
     data-theme-editor-section-35846773046="{&quot;id&quot;:&quot;1505564481810&quot;,&quot;type&quot;:&quot;hero&quot;,&quot;hidden&quot;:false}">
    <div class="hero hero--medium hero__overlay box ratio-container js lazyloaded" data-bgset="//cdn.shopify.com/s/files/1/2334/0831/files/university-study-group_180x.jpg?v=1505564833 180w 120h,
    //cdn.shopify.com/s/files/1/2334/0831/files/university-study-group_360x.jpg?v=1505564833 360w 240h,
    //cdn.shopify.com/s/files/1/2334/0831/files/university-study-group_540x.jpg?v=1505564833 540w 360h,
    //cdn.shopify.com/s/files/1/2334/0831/files/university-study-group_720x.jpg?v=1505564833 720w 480h,
    //cdn.shopify.com/s/files/1/2334/0831/files/university-study-group_900x.jpg?v=1505564833 900w 600h,
    //cdn.shopify.com/s/files/1/2334/0831/files/university-study-group_1080x.jpg?v=1505564833 1080w 720h,
    //cdn.shopify.com/s/files/1/2334/0831/files/university-study-group_1296x.jpg?v=1505564833 1296w 864h,
    //cdn.shopify.com/s/files/1/2334/0831/files/university-study-group_1512x.jpg?v=1505564833 1512w 1008h,
    //cdn.shopify.com/s/files/1/2334/0831/files/university-study-group_1728x.jpg?v=1505564833 1728w 1152h,
    //cdn.shopify.com/s/files/1/2334/0831/files/university-study-group_1950x.jpg?v=1505564833 1950w 1300h,
    //cdn.shopify.com/s/files/1/2334/0831/files/university-study-group_2100x.jpg?v=1505564833 2100w 1400h,
    //cdn.shopify.com/s/files/1/2334/0831/files/university-study-group_2260x.jpg?v=1505564833 2260w 1507h,
    //cdn.shopify.com/s/files/1/2334/0831/files/university-study-group_2450x.jpg?v=1505564833 2450w 1633h,
    //cdn.shopify.com/s/files/1/2334/0831/files/university-study-group_2700x.jpg?v=1505564833 2700w 1800h,
    //cdn.shopify.com/s/files/1/2334/0831/files/university-study-group_3000x.jpg?v=1505564833 3000w 2000h,
    //cdn.shopify.com/s/files/1/2334/0831/files/university-study-group_3350x.jpg?v=1505564833 3350w 2233h,
    //cdn.shopify.com/s/files/1/2334/0831/files/university-study-group.jpg?v=1505564833 3648w 2432h"
         data-parent-fit="cover"
         style="background-position: center center; background-image: url(&quot;https://cdn.shopify.com/s/files/1/2334/0831/files/university-study-group_2260x.jpg?v=1505564833&quot;);">
        <div class="hero__inner">
            <div class="page-width text-center">
                <div class="rte-setting mega-subtitle" data-theme-editor-setting="section.1505564481810.text"><p>
                        ADAMANTINE MUSIC TEAM, WE ARE A CARING BUNCH AND WE TAKE PRIDE IN PROVIDING YOU QUALITY SERVICE.
                        WHETHER YOU ARE LOOKING FOR AN INSTRUMENT OR DEVELOP A MUSICAL TALENT WE ARE HERE TO HELP. CALL
                        US TODAY.</p></div>
            </div>
        </div>
        <picture style="display: none;">
            <source data-srcset="//cdn.shopify.com/s/files/1/2334/0831/files/university-study-group_180x.jpg?v=1505564833 180w 120h, //cdn.shopify.com/s/files/1/2334/0831/files/university-study-group_360x.jpg?v=1505564833 360w 240h, //cdn.shopify.com/s/files/1/2334/0831/files/university-study-group_540x.jpg?v=1505564833 540w 360h, //cdn.shopify.com/s/files/1/2334/0831/files/university-study-group_720x.jpg?v=1505564833 720w 480h, //cdn.shopify.com/s/files/1/2334/0831/files/university-study-group_900x.jpg?v=1505564833 900w 600h, //cdn.shopify.com/s/files/1/2334/0831/files/university-study-group_1080x.jpg?v=1505564833 1080w 720h, //cdn.shopify.com/s/files/1/2334/0831/files/university-study-group_1296x.jpg?v=1505564833 1296w 864h, //cdn.shopify.com/s/files/1/2334/0831/files/university-study-group_1512x.jpg?v=1505564833 1512w 1008h, //cdn.shopify.com/s/files/1/2334/0831/files/university-study-group_1728x.jpg?v=1505564833 1728w 1152h, //cdn.shopify.com/s/files/1/2334/0831/files/university-study-group_1950x.jpg?v=1505564833 1950w 1300h, //cdn.shopify.com/s/files/1/2334/0831/files/university-study-group_2100x.jpg?v=1505564833 2100w 1400h, //cdn.shopify.com/s/files/1/2334/0831/files/university-study-group_2260x.jpg?v=1505564833 2260w 1507h, //cdn.shopify.com/s/files/1/2334/0831/files/university-study-group_2450x.jpg?v=1505564833 2450w 1633h, //cdn.shopify.com/s/files/1/2334/0831/files/university-study-group_2700x.jpg?v=1505564833 2700w 1800h, //cdn.shopify.com/s/files/1/2334/0831/files/university-study-group_3000x.jpg?v=1505564833 3000w 2000h, //cdn.shopify.com/s/files/1/2334/0831/files/university-study-group_3350x.jpg?v=1505564833 3350w 2233h, //cdn.shopify.com/s/files/1/2334/0831/files/university-study-group.jpg?v=1505564833 3648w 2432h"
                    sizes="749px"
                    srcset="//cdn.shopify.com/s/files/1/2334/0831/files/university-study-group_180x.jpg?v=1505564833 180w 120h, //cdn.shopify.com/s/files/1/2334/0831/files/university-study-group_360x.jpg?v=1505564833 360w 240h, //cdn.shopify.com/s/files/1/2334/0831/files/university-study-group_540x.jpg?v=1505564833 540w 360h, //cdn.shopify.com/s/files/1/2334/0831/files/university-study-group_720x.jpg?v=1505564833 720w 480h, //cdn.shopify.com/s/files/1/2334/0831/files/university-study-group_900x.jpg?v=1505564833 900w 600h, //cdn.shopify.com/s/files/1/2334/0831/files/university-study-group_1080x.jpg?v=1505564833 1080w 720h, //cdn.shopify.com/s/files/1/2334/0831/files/university-study-group_1296x.jpg?v=1505564833 1296w 864h, //cdn.shopify.com/s/files/1/2334/0831/files/university-study-group_1512x.jpg?v=1505564833 1512w 1008h, //cdn.shopify.com/s/files/1/2334/0831/files/university-study-group_1728x.jpg?v=1505564833 1728w 1152h, //cdn.shopify.com/s/files/1/2334/0831/files/university-study-group_1950x.jpg?v=1505564833 1950w 1300h, //cdn.shopify.com/s/files/1/2334/0831/files/university-study-group_2100x.jpg?v=1505564833 2100w 1400h, //cdn.shopify.com/s/files/1/2334/0831/files/university-study-group_2260x.jpg?v=1505564833 2260w 1507h, //cdn.shopify.com/s/files/1/2334/0831/files/university-study-group_2450x.jpg?v=1505564833 2450w 1633h, //cdn.shopify.com/s/files/1/2334/0831/files/university-study-group_2700x.jpg?v=1505564833 2700w 1800h, //cdn.shopify.com/s/files/1/2334/0831/files/university-study-group_3000x.jpg?v=1505564833 3000w 2000h, //cdn.shopify.com/s/files/1/2334/0831/files/university-study-group_3350x.jpg?v=1505564833 3350w 2233h, //cdn.shopify.com/s/files/1/2334/0831/files/university-study-group.jpg?v=1505564833 3648w 2432h">
            <img alt="" class="lazyautosizes lazyloaded" data-sizes="auto" data-parent-fit="cover" sizes="749px">
        </picture>
    </div>
    <noscript>
        &lt;div class="hero hero--medium hero__overlay" style="background-image:
        url('//cdn.shopify.com/s/files/1/2334/0831/files/university-study-group_2048x.jpg?v=1505564833');
        background-position: center center;"&gt;&lt;/div&gt;
    </noscript>
</div>

<div id="shopify-section-1506075061459" class="shopify-section index-section"
     data-theme-editor-section-35858929742="{&quot;id&quot;:&quot;1506075061459&quot;,&quot;type&quot;:&quot;feature-columns&quot;,&quot;hidden&quot;:false}">
    <div class="page-width">


        <div class="grid grid--uniform grid--flush-bottom">


            <div class="grid__item medium-up--one-third text-center"
                 data-theme-editor-block-35858929742="{&quot;id&quot;:&quot;1506075061459-0&quot;,&quot;type&quot;:&quot;text_block&quot;}">

                <div id="TextColumnImageWrapper-1506075061459-0" class="feature-row__image-wrapper js">
                    <div class="teacher-avatar"
                         style="background-image:url('//cdn.shopify.com/s/files/1/2334/0831/files/Picture1_80ac0ec8-4937-406b-be91-06f7ba000bd3.png?v=1505565764')"></div>
                </div>

                <h3 class="h4" data-theme-editor-setting="section.1506075061459.block.1506075061459-0.title/escape">
                    杨曼珊</h3>


                <div class="rte-setting" data-theme-editor-setting="section.1506075061459.block.1506075061459-0.text">
                    <p>弦乐部音乐总监，主要负责小提琴课程，乐理课程，弦乐队</p></div>


                <a href="/pages/%E6%9D%A8%E6%9B%BC%E7%8F%8A" class="btn btn--secondary btn--small"
                   data-theme-editor-setting="section.1506075061459.block.1506075061459-0.button_label/escape">
                    了解更多
                </a>

            </div>


            <div class="grid__item medium-up--one-third text-center"
                 data-theme-editor-block-35858929742="{&quot;id&quot;:&quot;1506075061459-1&quot;,&quot;type&quot;:&quot;text_block&quot;}">

                <div id="TextColumnImageWrapper-1506075061459-1" class="feature-row__image-wrapper js">
                    <div class="teacher-avatar"
                         style="background-image:url('//cdn.shopify.com/s/files/1/2334/0831/files/Picture1_d7a94a16-f5f8-4025-a867-d36082c2e07d.png?v=1505565943')"></div>
                </div>

                <h3 class="h4" data-theme-editor-setting="section.1506075061459.block.1506075061459-1.title/escape">
                    闫婧文</h3>


                <div class="rte-setting" data-theme-editor-setting="section.1506075061459.block.1506075061459-1.text">
                    <p>钢琴部音乐总监，主要负责钢琴课程，奥尔夫课程，乐理课程</p></div>


                <a href="/pages/%E9%97%AB%E5%A9%A7%E6%96%87" class="btn btn--secondary btn--small"
                   data-theme-editor-setting="section.1506075061459.block.1506075061459-1.button_label/escape">
                    了解更多
                </a>

            </div>


            <div class="grid__item medium-up--one-third text-center"
                 data-theme-editor-block-35858929742="{&quot;id&quot;:&quot;1506075061459-2&quot;,&quot;type&quot;:&quot;text_block&quot;}">

                <div id="TextColumnImageWrapper-1506075061459-2" class="feature-row__image-wrapper js">
                    <div class="teacher-avatar"
                         style="background-image:url('//cdn.shopify.com/s/files/1/2334/0831/files/Picture1_8486bfcc-df0e-42be-9cce-668aabc58255.png?v=1505565567')"></div>
                </div>

                <h3 class="h4" data-theme-editor-setting="section.1506075061459.block.1506075061459-2.title/escape">
                    董亮君</h3>


                <div class="rte-setting" data-theme-editor-setting="section.1506075061459.block.1506075061459-2.text">
                    <p>钢琴课程讲师</p></div>


                <a href="/pages/%E8%91%A3%E4%BA%AE%E5%90%9B" class="btn btn--secondary btn--small"
                   data-theme-editor-setting="section.1506075061459.block.1506075061459-2.button_label/escape">
                    了解更多
                </a>

            </div>


            <div class="grid__item medium-up--one-third text-center"
                 data-theme-editor-block-35858929742="{&quot;id&quot;:&quot;1506075784391&quot;,&quot;type&quot;:&quot;text_block&quot;}">

                <div id="TextColumnImageWrapper-1506075784391" class="feature-row__image-wrapper js">
                    <div class="teacher-avatar"
                         style="background-image:url('//cdn.shopify.com/s/files/1/2334/0831/files/Picture1_a6eeacad-3c94-4de2-a2ff-41183b28ee40.png?v=1505566365')"></div>
                </div>
                <h3 class="h4" data-theme-editor-setting="section.1506075061459.block.1506075784391.title/escape">
                    鲁萧</h3>


                <div class="rte-setting" data-theme-editor-setting="section.1506075061459.block.1506075784391.text"><p>
                        钢琴课程讲师</p></div>


                <a href="/pages/%E9%B2%81%E8%90%A7" class="btn btn--secondary btn--small"
                   data-theme-editor-setting="section.1506075061459.block.1506075784391.button_label/escape">
                    了解更多
                </a>

            </div>


            <div class="grid__item medium-up--one-third text-center"
                 data-theme-editor-block-35858929742="{&quot;id&quot;:&quot;1506075786480&quot;,&quot;type&quot;:&quot;text_block&quot;}">


                <div id="TextColumnImageWrapper-1506075786480" class="feature-row__image-wrapper js">
                    <div class="teacher-avatar"
                         style="background-image:url('//cdn.shopify.com/s/files/1/2334/0831/files/Picture1.png?v=1505565098')"></div>
                </div>

                <h3 class="h4" data-theme-editor-setting="section.1506075061459.block.1506075786480.title/escape">
                    李子安</h3>


                <div class="rte-setting" data-theme-editor-setting="section.1506075061459.block.1506075786480.text"><p>
                        小提琴课程讲师</p></div>


                <a href="/pages/%E6%9D%8E%E5%AD%90%E5%AE%89" class="btn btn--secondary btn--small"
                   data-theme-editor-setting="section.1506075061459.block.1506075786480.button_label/escape">
                    了解更多
                </a>

            </div>


            <div class="grid__item medium-up--one-third text-center"
                 data-theme-editor-block-35858929742="{&quot;id&quot;:&quot;1506075921033&quot;,&quot;type&quot;:&quot;text_block&quot;}">

                <div id="TextColumnImageWrapper-1506075921033" class="feature-row__image-wrapper js">
                    <div class="teacher-avatar"
                         style="background-image:url('//cdn.shopify.com/s/files/1/2334/0831/files/Picture1_9c53d115-6222-427c-b367-59a97971e35f.png?v=1505566937')"></div>
                </div>


                <h3 class="h4" data-theme-editor-setting="section.1506075061459.block.1506075921033.title/escape">
                    曾宥霖</h3>


                <div class="rte-setting" data-theme-editor-setting="section.1506075061459.block.1506075921033.text"><p>
                        古筝课程讲师</p></div>


                <a href="/pages/%E6%9B%BE%E5%AE%A5%E9%9C%96" class="btn btn--secondary btn--small"
                   data-theme-editor-setting="section.1506075061459.block.1506075921033.button_label/escape">
                    了解更多
                </a>

            </div>


            <div class="grid__item medium-up--one-third text-center"
                 data-theme-editor-block-35858929742="{&quot;id&quot;:&quot;1506075959888&quot;,&quot;type&quot;:&quot;text_block&quot;}">

                <div id="TextColumnImageWrapper-1506075959888" class="feature-row__image-wrapper js">
                    <div class="teacher-avatar"
                         style="background-image:url('//cdn.shopify.com/s/files/1/2334/0831/files/Picture1_11b2685f-8aba-475d-810c-d7299e033f76.png?v=1505566805')"></div>
                </div>


                <h3 class="h4" data-theme-editor-setting="section.1506075061459.block.1506075959888.title/escape">
                    张苓</h3>


                <div class="rte-setting" data-theme-editor-setting="section.1506075061459.block.1506075959888.text"><p>
                        琵琶、葫芦丝课程讲师</p></div>


                <a href="/pages/%E5%BC%A0%E8%8B%93" class="btn btn--secondary btn--small"
                   data-theme-editor-setting="section.1506075061459.block.1506075959888.button_label/escape">
                    了解更多
                </a>

            </div>


            <div class="grid__item medium-up--one-third text-center"
                 data-theme-editor-block-35858929742="{&quot;id&quot;:&quot;1506076562960&quot;,&quot;type&quot;:&quot;text_block&quot;}">


                <div id="TextColumnImageWrapper-1506076562960" class="feature-row__image-wrapper js">
                    <div class="teacher-avatar"
                         style="background-image:url('//cdn.shopify.com/s/files/1/2334/0831/files/Picture1_edde90f1-7bec-4764-9edf-b034afa1f411.png?v=1506076193')"></div>
                </div>


                <h3 class="h4" data-theme-editor-setting="section.1506075061459.block.1506076562960.title/escape">
                    孙嘉忆</h3>


                <div class="rte-setting" data-theme-editor-setting="section.1506075061459.block.1506076562960.text"><p>
                        钢琴课程讲师</p></div>


                <a href="/pages/iris" class="btn btn--secondary btn--small"
                   data-theme-editor-setting="section.1506075061459.block.1506076562960.button_label/escape">
                    了解更多
                </a>

            </div>


            <div class="grid__item medium-up--one-third text-center"
                 data-theme-editor-block-35858929742="{&quot;id&quot;:&quot;1506076600661&quot;,&quot;type&quot;:&quot;text_block&quot;}">

                <div id="TextColumnImageWrapper-1506076600661" class="feature-row__image-wrapper js">
                    <div class="teacher-avatar"
                         style="background-image:url('//cdn.shopify.com/s/files/1/2334/0831/files/Picture1_53d7dfe4-eb5b-49e9-8607-39e553cf850f.png?v=1506076852')"></div>
                </div>


                <h3 class="h4" data-theme-editor-setting="section.1506075061459.block.1506076600661.title/escape">
                    章心桐</h3>


                <div class="rte-setting" data-theme-editor-setting="section.1506075061459.block.1506076600661.text"><p>
                        钢琴初学幼儿启蒙教育讲师</p></div>


                <a href="/pages/isabella" class="btn btn--secondary btn--small"
                   data-theme-editor-setting="section.1506075061459.block.1506076600661.button_label/escape">
                    了解更多
                </a>
            </div>
        </div>
    </div>
</div>
<div class="page-width" style="display: none">
    <div class="grid">
        <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
            <div class="section-header text-center">
                <h1>{{ page.title }}</h1>
            </div>

            <div class="rte">
                {{ page.content }}
            </div>
        </div>
    </div>
</div>
