<div id="shopify-section-1505986383451" class="shopify-section index-section index-section--flush" data-theme-editor-section-35856810728="{&quot;id&quot;:&quot;1505986383451&quot;,&quot;type&quot;:&quot;hero&quot;,&quot;hidden&quot;:false}"><div class="hero hero--medium hero__overlay box ratio-container js lazyloaded" data-bgset="//cdn.shopify.com/s/files/1/2334/0831/files/craftsmanship-1_180x.jpg?v=1505986395 180w 56h,
    //cdn.shopify.com/s/files/1/2334/0831/files/craftsmanship-1_360x.jpg?v=1505986395 360w 111h,
    //cdn.shopify.com/s/files/1/2334/0831/files/craftsmanship-1_540x.jpg?v=1505986395 540w 167h,
    //cdn.shopify.com/s/files/1/2334/0831/files/craftsmanship-1_720x.jpg?v=1505986395 720w 222h,
    //cdn.shopify.com/s/files/1/2334/0831/files/craftsmanship-1_900x.jpg?v=1505986395 900w 278h,
    //cdn.shopify.com/s/files/1/2334/0831/files/craftsmanship-1_1080x.jpg?v=1505986395 1080w 333h,
    //cdn.shopify.com/s/files/1/2334/0831/files/craftsmanship-1_1296x.jpg?v=1505986395 1296w 400h,
    //cdn.shopify.com/s/files/1/2334/0831/files/craftsmanship-1_1512x.jpg?v=1505986395 1512w 467h,
    //cdn.shopify.com/s/files/1/2334/0831/files/craftsmanship-1_1728x.jpg?v=1505986395 1728w 533h,
    //cdn.shopify.com/s/files/1/2334/0831/files/craftsmanship-1_1950x.jpg?v=1505986395 1950w 602h,
    //cdn.shopify.com/s/files/1/2334/0831/files/craftsmanship-1_2100x.jpg?v=1505986395 2100w 648h,
    //cdn.shopify.com/s/files/1/2334/0831/files/craftsmanship-1_2260x.jpg?v=1505986395 2260w 697h,
    //cdn.shopify.com/s/files/1/2334/0831/files/craftsmanship-1_2450x.jpg?v=1505986395 2450w 756h,
    //cdn.shopify.com/s/files/1/2334/0831/files/craftsmanship-1_2700x.jpg?v=1505986395 2700w 833h,
    //cdn.shopify.com/s/files/1/2334/0831/files/craftsmanship-1_3000x.jpg?v=1505986395 3000w 926h,
    //cdn.shopify.com/s/files/1/2334/0831/files/craftsmanship-1_3350x.jpg?v=1505986395 3350w 1034h,


    //cdn.shopify.com/s/files/1/2334/0831/files/craftsmanship-1.jpg?v=1505986395 3500w 1080h" data-parent-fit="cover" style="background-position: center center; background-image: url(&quot;https://cdn.shopify.com/s/files/1/2334/0831/files/craftsmanship-1_2260x.jpg?v=1505986395&quot;);">

        <div class="hero__inner">
            <div class="page-width text-center">

                <h2 class="h1 mega-title" data-theme-editor-setting="section.1505986383451.title/escape">技 术</h2>



            </div>
        </div>
        <picture style="display: none;"><source data-srcset="//cdn.shopify.com/s/files/1/2334/0831/files/craftsmanship-1_180x.jpg?v=1505986395 180w 56h, //cdn.shopify.com/s/files/1/2334/0831/files/craftsmanship-1_360x.jpg?v=1505986395 360w 111h, //cdn.shopify.com/s/files/1/2334/0831/files/craftsmanship-1_540x.jpg?v=1505986395 540w 167h, //cdn.shopify.com/s/files/1/2334/0831/files/craftsmanship-1_720x.jpg?v=1505986395 720w 222h, //cdn.shopify.com/s/files/1/2334/0831/files/craftsmanship-1_900x.jpg?v=1505986395 900w 278h, //cdn.shopify.com/s/files/1/2334/0831/files/craftsmanship-1_1080x.jpg?v=1505986395 1080w 333h, //cdn.shopify.com/s/files/1/2334/0831/files/craftsmanship-1_1296x.jpg?v=1505986395 1296w 400h, //cdn.shopify.com/s/files/1/2334/0831/files/craftsmanship-1_1512x.jpg?v=1505986395 1512w 467h, //cdn.shopify.com/s/files/1/2334/0831/files/craftsmanship-1_1728x.jpg?v=1505986395 1728w 533h, //cdn.shopify.com/s/files/1/2334/0831/files/craftsmanship-1_1950x.jpg?v=1505986395 1950w 602h, //cdn.shopify.com/s/files/1/2334/0831/files/craftsmanship-1_2100x.jpg?v=1505986395 2100w 648h, //cdn.shopify.com/s/files/1/2334/0831/files/craftsmanship-1_2260x.jpg?v=1505986395 2260w 697h, //cdn.shopify.com/s/files/1/2334/0831/files/craftsmanship-1_2450x.jpg?v=1505986395 2450w 756h, //cdn.shopify.com/s/files/1/2334/0831/files/craftsmanship-1_2700x.jpg?v=1505986395 2700w 833h, //cdn.shopify.com/s/files/1/2334/0831/files/craftsmanship-1_3000x.jpg?v=1505986395 3000w 926h, //cdn.shopify.com/s/files/1/2334/0831/files/craftsmanship-1_3350x.jpg?v=1505986395 3350w 1034h, //cdn.shopify.com/s/files/1/2334/0831/files/craftsmanship-1.jpg?v=1505986395 3500w 1080h" sizes="1147.5000000000002px" srcset="//cdn.shopify.com/s/files/1/2334/0831/files/craftsmanship-1_180x.jpg?v=1505986395 180w 56h, //cdn.shopify.com/s/files/1/2334/0831/files/craftsmanship-1_360x.jpg?v=1505986395 360w 111h, //cdn.shopify.com/s/files/1/2334/0831/files/craftsmanship-1_540x.jpg?v=1505986395 540w 167h, //cdn.shopify.com/s/files/1/2334/0831/files/craftsmanship-1_720x.jpg?v=1505986395 720w 222h, //cdn.shopify.com/s/files/1/2334/0831/files/craftsmanship-1_900x.jpg?v=1505986395 900w 278h, //cdn.shopify.com/s/files/1/2334/0831/files/craftsmanship-1_1080x.jpg?v=1505986395 1080w 333h, //cdn.shopify.com/s/files/1/2334/0831/files/craftsmanship-1_1296x.jpg?v=1505986395 1296w 400h, //cdn.shopify.com/s/files/1/2334/0831/files/craftsmanship-1_1512x.jpg?v=1505986395 1512w 467h, //cdn.shopify.com/s/files/1/2334/0831/files/craftsmanship-1_1728x.jpg?v=1505986395 1728w 533h, //cdn.shopify.com/s/files/1/2334/0831/files/craftsmanship-1_1950x.jpg?v=1505986395 1950w 602h, //cdn.shopify.com/s/files/1/2334/0831/files/craftsmanship-1_2100x.jpg?v=1505986395 2100w 648h, //cdn.shopify.com/s/files/1/2334/0831/files/craftsmanship-1_2260x.jpg?v=1505986395 2260w 697h, //cdn.shopify.com/s/files/1/2334/0831/files/craftsmanship-1_2450x.jpg?v=1505986395 2450w 756h, //cdn.shopify.com/s/files/1/2334/0831/files/craftsmanship-1_2700x.jpg?v=1505986395 2700w 833h, //cdn.shopify.com/s/files/1/2334/0831/files/craftsmanship-1_3000x.jpg?v=1505986395 3000w 926h, //cdn.shopify.com/s/files/1/2334/0831/files/craftsmanship-1_3350x.jpg?v=1505986395 3350w 1034h, //cdn.shopify.com/s/files/1/2334/0831/files/craftsmanship-1.jpg?v=1505986395 3500w 1080h"><img alt="" class="lazyautosizes lazyloaded" data-sizes="auto" data-parent-fit="cover" sizes="1147.5000000000002px"></picture></div>

    <noscript>
        &lt;div class="hero hero--medium hero__overlay" style="background-image: url('//cdn.shopify.com/s/files/1/2334/0831/files/craftsmanship-1_2048x.jpg?v=1505986395'); background-position: center center;"&gt;&lt;/div&gt;
    </noscript>


</div>
<div id="shopify-section-1505986438033" class="shopify-section index-section" data-theme-editor-section-35856810728="{&quot;id&quot;:&quot;1505986438033&quot;,&quot;type&quot;:&quot;custom-content&quot;,&quot;hidden&quot;:false}"><div class="page-width">

        <div class="section-header text-center">
            <h4 class="h2" data-theme-editor-setting="section.1505986438033.title/escape">阿拉斯加云杉实木音板</h4>
        </div>


        <div class="custom-content">








            <style>



                #CustomImage--1-11334877212 {
                    max-width: 1090px;
                    max-height: 317.620178041543px;
                }
                #CustomImageWrapper--1-11334877212 {
                    max-width: 1090px;
                    max-height: 317.620178041543px;
                }



            </style>




            <div class="custom__item custom__item--1505986438033-1 one-whole align--center" data-theme-editor-block-35856810728="{&quot;id&quot;:&quot;1505986438033-1&quot;,&quot;type&quot;:&quot;image&quot;}">
                <div class="custom__item-inner custom__item-inner--image" id="CustomImageWrapper--1-11334877212">


                    <div style="padding-top:29.13946587537092%;">
                        <img id="CustomImage--1-11334877212" class="custom__image js lazyautosizes lazyloaded" src="//cdn.shopify.com/s/files/1/2334/0831/files/wood-tree-grain-fallen_300x300.jpg?v=1505986463" data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]" data-aspectratio="3.4317718940936865" data-sizes="auto" alt="" data-srcset="//cdn.shopify.com/s/files/1/2334/0831/files/wood-tree-grain-fallen_180x.jpg?v=1505986463 180w, //cdn.shopify.com/s/files/1/2334/0831/files/wood-tree-grain-fallen_360x.jpg?v=1505986463 360w, //cdn.shopify.com/s/files/1/2334/0831/files/wood-tree-grain-fallen_540x.jpg?v=1505986463 540w, //cdn.shopify.com/s/files/1/2334/0831/files/wood-tree-grain-fallen_720x.jpg?v=1505986463 720w, //cdn.shopify.com/s/files/1/2334/0831/files/wood-tree-grain-fallen_900x.jpg?v=1505986463 900w, //cdn.shopify.com/s/files/1/2334/0831/files/wood-tree-grain-fallen_1080x.jpg?v=1505986463 1080w, //cdn.shopify.com/s/files/1/2334/0831/files/wood-tree-grain-fallen_1296x.jpg?v=1505986463 1296w, //cdn.shopify.com/s/files/1/2334/0831/files/wood-tree-grain-fallen_1512x.jpg?v=1505986463 1512w, //cdn.shopify.com/s/files/1/2334/0831/files/wood-tree-grain-fallen_1728x.jpg?v=1505986463 1728w, //cdn.shopify.com/s/files/1/2334/0831/files/wood-tree-grain-fallen_2048x.jpg?v=1505986463 2048w" sizes="588px" srcset="//cdn.shopify.com/s/files/1/2334/0831/files/wood-tree-grain-fallen_180x.jpg?v=1505986463 180w, //cdn.shopify.com/s/files/1/2334/0831/files/wood-tree-grain-fallen_360x.jpg?v=1505986463 360w, //cdn.shopify.com/s/files/1/2334/0831/files/wood-tree-grain-fallen_540x.jpg?v=1505986463 540w, //cdn.shopify.com/s/files/1/2334/0831/files/wood-tree-grain-fallen_720x.jpg?v=1505986463 720w, //cdn.shopify.com/s/files/1/2334/0831/files/wood-tree-grain-fallen_900x.jpg?v=1505986463 900w, //cdn.shopify.com/s/files/1/2334/0831/files/wood-tree-grain-fallen_1080x.jpg?v=1505986463 1080w, //cdn.shopify.com/s/files/1/2334/0831/files/wood-tree-grain-fallen_1296x.jpg?v=1505986463 1296w, //cdn.shopify.com/s/files/1/2334/0831/files/wood-tree-grain-fallen_1512x.jpg?v=1505986463 1512w, //cdn.shopify.com/s/files/1/2334/0831/files/wood-tree-grain-fallen_1728x.jpg?v=1505986463 1728w, //cdn.shopify.com/s/files/1/2334/0831/files/wood-tree-grain-fallen_2048x.jpg?v=1505986463 2048w">
                    </div>
                    <noscript>

                        &lt;img src="//cdn.shopify.com/s/files/1/2334/0831/files/wood-tree-grain-fallen_1090x_crop_top@2x.jpg?v=1505986463" alt="" class="custom__image" /&gt;
                    </noscript>


                </div>
            </div>


        </div>


    </div>


</div>
<div id="shopify-section-1505986482240" class="shopify-section index-section" data-theme-editor-section-35856810728="{&quot;id&quot;:&quot;1505986482240&quot;,&quot;type&quot;:&quot;feature-row&quot;,&quot;hidden&quot;:false}"><div class="page-width feature-row">


        <div class="feature-row">


            <div class="feature-row__item feature-row__text feature-row__text--right">

                <h2 class="h3" data-theme-editor-setting="section.1505986482240.title/escape">进口云杉实木音板—耗时的” 慢制作” 音板</h2>


                <div class="rte-setting featured-row__subtext" data-theme-editor-setting="section.1505986482240.text"><p><strong>进口云杉实木音板—耗时的” 慢制作” 音板</strong></p>
                    <p>WILH. STEINBERG三角钢琴和立式钢琴系列音板不仅采用最适合钢琴制作的美国阿拉斯加进口云杉原始林原木，并且不惜采用耗时的“慢制作”干燥工艺，通过3年以上的天然放置、2次人工干燥和1~3个月的静止放置，确保了音板的耐候性，使音色纯净通透，极具质感。</p>
                    <p><strong>授权生产・三角钢琴/立式钢琴系列（金宝工厂生产）</strong></p>
                    <p><strong>音板是钢琴制造过程中最重要的零部件之一。德国授权生产的三角钢琴/</strong><strong>立式钢琴系列采用阿拉斯加西加云杉实木音板。</strong></p>
                    <p>为了拥有饱满浑厚的音色，WILH. STEINBERG钢琴严格甄选木材气干密度为0.45g/cm³、年轮细密均匀的阿拉斯加云杉作为原材料。同时，桥码和肋木部分采用独创设计，确保了饱满丰厚、明亮细腻的音色。</p></div>


            </div>



            <div class="feature-row__item">



                <style>


                    @media screen and (min-width: 750px) {
                        #FeatureRowImage-1505986482240 {
                            max-width: 380px;
                            max-height: 384px;
                        }
                        #FeatureRowImageWrapper-1505986482240 {
                            max-width: 380px;
                            max-height: 384px;
                        }
                    }



                    @media screen and (max-width: 749px) {
                        #FeatureRowImage-1505986482240 {
                            max-width: 742.1875px;
                            max-height: 750px;
                        }
                        #FeatureRowImageWrapper-1505986482240 {
                            max-width: 742.1875px;
                        }
                    }

                </style>

                <div id="FeatureRowImageWrapper-1505986482240" class="feature-row__image-wrapper js">
                    <div style="padding-top:101.0526316%;">
                        <img id="FeatureRowImage-1505986482240" class="feature-row__image lazyautosizes lazyloaded" src="//cdn.shopify.com/s/files/1/2334/0831/files/eagle_200x200.png?v=1505986493" data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]" data-aspectratio="0.9895833333333334" data-sizes="auto" alt="" data-srcset="//cdn.shopify.com/s/files/1/2334/0831/files/eagle_180x.png?v=1505986493 180w, //cdn.shopify.com/s/files/1/2334/0831/files/eagle_360x.png?v=1505986493 360w, //cdn.shopify.com/s/files/1/2334/0831/files/eagle_540x.png?v=1505986493 540w, //cdn.shopify.com/s/files/1/2334/0831/files/eagle_720x.png?v=1505986493 720w, //cdn.shopify.com/s/files/1/2334/0831/files/eagle_900x.png?v=1505986493 900w, //cdn.shopify.com/s/files/1/2334/0831/files/eagle_1080x.png?v=1505986493 1080w, //cdn.shopify.com/s/files/1/2334/0831/files/eagle_1296x.png?v=1505986493 1296w, //cdn.shopify.com/s/files/1/2334/0831/files/eagle_1512x.png?v=1505986493 1512w, //cdn.shopify.com/s/files/1/2334/0831/files/eagle_1728x.png?v=1505986493 1728w, //cdn.shopify.com/s/files/1/2334/0831/files/eagle_2048x.png?v=1505986493 2048w" sizes="588px" srcset="//cdn.shopify.com/s/files/1/2334/0831/files/eagle_180x.png?v=1505986493 180w, //cdn.shopify.com/s/files/1/2334/0831/files/eagle_360x.png?v=1505986493 360w, //cdn.shopify.com/s/files/1/2334/0831/files/eagle_540x.png?v=1505986493 540w, //cdn.shopify.com/s/files/1/2334/0831/files/eagle_720x.png?v=1505986493 720w, //cdn.shopify.com/s/files/1/2334/0831/files/eagle_900x.png?v=1505986493 900w, //cdn.shopify.com/s/files/1/2334/0831/files/eagle_1080x.png?v=1505986493 1080w, //cdn.shopify.com/s/files/1/2334/0831/files/eagle_1296x.png?v=1505986493 1296w, //cdn.shopify.com/s/files/1/2334/0831/files/eagle_1512x.png?v=1505986493 1512w, //cdn.shopify.com/s/files/1/2334/0831/files/eagle_1728x.png?v=1505986493 1728w, //cdn.shopify.com/s/files/1/2334/0831/files/eagle_2048x.png?v=1505986493 2048w">
                    </div>
                </div>

                <noscript>
                    &lt;img src="//cdn.shopify.com/s/files/1/2334/0831/files/eagle_600x600@2x.png?v=1505986493" alt="" class="feature-row__image" /&gt;
                </noscript>

            </div>


        </div>
    </div>


</div>
<div id="shopify-section-1505986565692" class="shopify-section index-section" data-theme-editor-section-35856810728="{&quot;id&quot;:&quot;1505986565692&quot;,&quot;type&quot;:&quot;feature-row&quot;,&quot;hidden&quot;:false}"><div class="page-width feature-row">


        <div class="feature-row">


            <div class="feature-row__item">



                <style>


                    @media screen and (min-width: 750px) {
                        #FeatureRowImage-1505986565692 {
                            max-width: 545px;
                            max-height: 363.5107421875px;
                        }
                        #FeatureRowImageWrapper-1505986565692 {
                            max-width: 545px;
                            max-height: 363.5107421875px;
                        }
                    }



                    @media screen and (max-width: 749px) {
                        #FeatureRowImage-1505986565692 {
                            max-width: 750px;
                            max-height: 750px;
                        }
                        #FeatureRowImageWrapper-1505986565692 {
                            max-width: 750px;
                        }
                    }

                </style>

                <div id="FeatureRowImageWrapper-1505986565692" class="feature-row__image-wrapper js">
                    <div style="padding-top:66.69921875%;">
                        <img id="FeatureRowImage-1505986565692" class="feature-row__image lazyautosizes lazyloaded" src="//cdn.shopify.com/s/files/1/2334/0831/files/01-1024x683_aea309bb-c72d-462d-aa74-a9e464c04811_200x200.jpg?v=1505986591" data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]" data-aspectratio="1.499267935578331" data-sizes="auto" alt="" data-srcset="//cdn.shopify.com/s/files/1/2334/0831/files/01-1024x683_aea309bb-c72d-462d-aa74-a9e464c04811_180x.jpg?v=1505986591 180w, //cdn.shopify.com/s/files/1/2334/0831/files/01-1024x683_aea309bb-c72d-462d-aa74-a9e464c04811_360x.jpg?v=1505986591 360w, //cdn.shopify.com/s/files/1/2334/0831/files/01-1024x683_aea309bb-c72d-462d-aa74-a9e464c04811_540x.jpg?v=1505986591 540w, //cdn.shopify.com/s/files/1/2334/0831/files/01-1024x683_aea309bb-c72d-462d-aa74-a9e464c04811_720x.jpg?v=1505986591 720w, //cdn.shopify.com/s/files/1/2334/0831/files/01-1024x683_aea309bb-c72d-462d-aa74-a9e464c04811_900x.jpg?v=1505986591 900w, //cdn.shopify.com/s/files/1/2334/0831/files/01-1024x683_aea309bb-c72d-462d-aa74-a9e464c04811_1080x.jpg?v=1505986591 1080w, //cdn.shopify.com/s/files/1/2334/0831/files/01-1024x683_aea309bb-c72d-462d-aa74-a9e464c04811_1296x.jpg?v=1505986591 1296w, //cdn.shopify.com/s/files/1/2334/0831/files/01-1024x683_aea309bb-c72d-462d-aa74-a9e464c04811_1512x.jpg?v=1505986591 1512w, //cdn.shopify.com/s/files/1/2334/0831/files/01-1024x683_aea309bb-c72d-462d-aa74-a9e464c04811_1728x.jpg?v=1505986591 1728w, //cdn.shopify.com/s/files/1/2334/0831/files/01-1024x683_aea309bb-c72d-462d-aa74-a9e464c04811_2048x.jpg?v=1505986591 2048w" sizes="588px" srcset="//cdn.shopify.com/s/files/1/2334/0831/files/01-1024x683_aea309bb-c72d-462d-aa74-a9e464c04811_180x.jpg?v=1505986591 180w, //cdn.shopify.com/s/files/1/2334/0831/files/01-1024x683_aea309bb-c72d-462d-aa74-a9e464c04811_360x.jpg?v=1505986591 360w, //cdn.shopify.com/s/files/1/2334/0831/files/01-1024x683_aea309bb-c72d-462d-aa74-a9e464c04811_540x.jpg?v=1505986591 540w, //cdn.shopify.com/s/files/1/2334/0831/files/01-1024x683_aea309bb-c72d-462d-aa74-a9e464c04811_720x.jpg?v=1505986591 720w, //cdn.shopify.com/s/files/1/2334/0831/files/01-1024x683_aea309bb-c72d-462d-aa74-a9e464c04811_900x.jpg?v=1505986591 900w, //cdn.shopify.com/s/files/1/2334/0831/files/01-1024x683_aea309bb-c72d-462d-aa74-a9e464c04811_1080x.jpg?v=1505986591 1080w, //cdn.shopify.com/s/files/1/2334/0831/files/01-1024x683_aea309bb-c72d-462d-aa74-a9e464c04811_1296x.jpg?v=1505986591 1296w, //cdn.shopify.com/s/files/1/2334/0831/files/01-1024x683_aea309bb-c72d-462d-aa74-a9e464c04811_1512x.jpg?v=1505986591 1512w, //cdn.shopify.com/s/files/1/2334/0831/files/01-1024x683_aea309bb-c72d-462d-aa74-a9e464c04811_1728x.jpg?v=1505986591 1728w, //cdn.shopify.com/s/files/1/2334/0831/files/01-1024x683_aea309bb-c72d-462d-aa74-a9e464c04811_2048x.jpg?v=1505986591 2048w">
                    </div>
                </div>

                <noscript>
                    &lt;img src="//cdn.shopify.com/s/files/1/2334/0831/files/01-1024x683_aea309bb-c72d-462d-aa74-a9e464c04811_600x600@2x.jpg?v=1505986591" alt="" class="feature-row__image" /&gt;
                </noscript>

            </div>



            <div class="feature-row__item feature-row__text feature-row__text--left">

                <h2 class="h3" data-theme-editor-setting="section.1505986565692.title/escape">Image with text</h2>


                <div class="rte-setting featured-row__subtext" data-theme-editor-setting="section.1505986565692.text"><p><strong>WILH. STEINBERG钢琴全部采用经严格甄选的阿拉斯加云杉实木音板</strong></p>
                    <p><strong>实木音板的主要特征</strong></p>
                    <p>音板决定了钢琴最基本的音色平衡和特性。干燥处理、材料甄选、粘接技术和加工厚度等因素都会影响音板的质量，钢琴越大，其差别越明显。</p>
                    <p>不同产地拥有不同特征。以德国云杉为代表的、主要出产于欧洲地区的欧洲云杉，比北美云杉的杨氏模量（Young’s modulus）更高，更富有传统音色；而阿拉斯加云杉因其拥有良好的平衡感和稳定的音色，近年来作为高级音板获得了很高评价。</p>
                    <p>近年来，出于环保的考虑，各地区的木材产量受到很大限制。由于阿拉斯加云杉音色丰厚，平衡性好，许多世界著名钢琴制造商都陆续从德国云杉转向使用阿拉斯加云杉，阿拉斯加云杉也逐渐成为钢琴音板的主流用材。</p>
                    <p><br><br><br><br><br></p></div>


            </div>


        </div>
    </div>


</div>
<div id="shopify-section-1505986880450" class="shopify-section index-section" data-theme-editor-section-35856810728="{&quot;id&quot;:&quot;1505986880450&quot;,&quot;type&quot;:&quot;feature-row&quot;,&quot;hidden&quot;:false}"><div class="page-width feature-row">


        <div class="feature-row">


            <div class="feature-row__item feature-row__text feature-row__text--right">

                <h2 class="h3" data-theme-editor-setting="section.1505986880450.title/escape">德国Renner弦槌</h2>


                <div class="rte-setting featured-row__subtext" data-theme-editor-setting="section.1505986880450.text"><p>拥有鼎盛辉煌历史的德国Renner公司，其制造弦槌的历史与德国钢琴工业的发展史紧密相连 。Renner公司拥有125年的历史渊源和艺术底蕴， 其承载的百年兴盛与辉煌使其当之无愧地成为世界钢琴工业的标杆。</p>
                    <p>Renner弦槌不但使WILH. STEINBERG钢琴德国系列拥有细腻淳厚的音色，同时，它与击弦机的完美呼应更保证了出色的演奏性和丰富的表现力。</p></div>


            </div>



            <div class="feature-row__item">



                <style>


                    @media screen and (min-width: 750px) {
                        #FeatureRowImage-1505986880450 {
                            max-width: 545px;
                            max-height: 328.81666666666666px;
                        }
                        #FeatureRowImageWrapper-1505986880450 {
                            max-width: 545px;
                            max-height: 328.81666666666666px;
                        }
                    }



                    @media screen and (max-width: 749px) {
                        #FeatureRowImage-1505986880450 {
                            max-width: 600px;
                            max-height: 750px;
                        }
                        #FeatureRowImageWrapper-1505986880450 {
                            max-width: 600px;
                        }
                    }

                </style>

                <div id="FeatureRowImageWrapper-1505986880450" class="feature-row__image-wrapper js">
                    <div style="padding-top:60.33333333333334%;">
                        <img id="FeatureRowImage-1505986880450" class="feature-row__image lazyautosizes lazyloaded" src="//cdn.shopify.com/s/files/1/2334/0831/files/technology_06-1_200x200.jpg?v=1505986891" data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]" data-aspectratio="1.6574585635359116" data-sizes="auto" alt="" data-srcset="//cdn.shopify.com/s/files/1/2334/0831/files/technology_06-1_180x.jpg?v=1505986891 180w, //cdn.shopify.com/s/files/1/2334/0831/files/technology_06-1_360x.jpg?v=1505986891 360w, //cdn.shopify.com/s/files/1/2334/0831/files/technology_06-1_540x.jpg?v=1505986891 540w, //cdn.shopify.com/s/files/1/2334/0831/files/technology_06-1_720x.jpg?v=1505986891 720w, //cdn.shopify.com/s/files/1/2334/0831/files/technology_06-1_900x.jpg?v=1505986891 900w, //cdn.shopify.com/s/files/1/2334/0831/files/technology_06-1_1080x.jpg?v=1505986891 1080w, //cdn.shopify.com/s/files/1/2334/0831/files/technology_06-1_1296x.jpg?v=1505986891 1296w, //cdn.shopify.com/s/files/1/2334/0831/files/technology_06-1_1512x.jpg?v=1505986891 1512w, //cdn.shopify.com/s/files/1/2334/0831/files/technology_06-1_1728x.jpg?v=1505986891 1728w, //cdn.shopify.com/s/files/1/2334/0831/files/technology_06-1_2048x.jpg?v=1505986891 2048w" sizes="588px" srcset="//cdn.shopify.com/s/files/1/2334/0831/files/technology_06-1_180x.jpg?v=1505986891 180w, //cdn.shopify.com/s/files/1/2334/0831/files/technology_06-1_360x.jpg?v=1505986891 360w, //cdn.shopify.com/s/files/1/2334/0831/files/technology_06-1_540x.jpg?v=1505986891 540w, //cdn.shopify.com/s/files/1/2334/0831/files/technology_06-1_720x.jpg?v=1505986891 720w, //cdn.shopify.com/s/files/1/2334/0831/files/technology_06-1_900x.jpg?v=1505986891 900w, //cdn.shopify.com/s/files/1/2334/0831/files/technology_06-1_1080x.jpg?v=1505986891 1080w, //cdn.shopify.com/s/files/1/2334/0831/files/technology_06-1_1296x.jpg?v=1505986891 1296w, //cdn.shopify.com/s/files/1/2334/0831/files/technology_06-1_1512x.jpg?v=1505986891 1512w, //cdn.shopify.com/s/files/1/2334/0831/files/technology_06-1_1728x.jpg?v=1505986891 1728w, //cdn.shopify.com/s/files/1/2334/0831/files/technology_06-1_2048x.jpg?v=1505986891 2048w">
                    </div>
                </div>

                <noscript>
                    &lt;img src="//cdn.shopify.com/s/files/1/2334/0831/files/technology_06-1_600x600@2x.jpg?v=1505986891" alt="" class="feature-row__image" /&gt;
                </noscript>

            </div>


        </div>
    </div>


</div>
<div id="shopify-section-1505986922947" class="shopify-section index-section" data-theme-editor-section-35856810728="{&quot;id&quot;:&quot;1505986922947&quot;,&quot;type&quot;:&quot;custom-content&quot;,&quot;hidden&quot;:false}"><div class="page-width">


        <div class="custom-content">





            <div class="custom__item custom__item--1505986922947-0 one-whole align--center" data-theme-editor-block-35856810728="{&quot;id&quot;:&quot;1505986922947-0&quot;,&quot;type&quot;:&quot;text&quot;}">
                <div class="custom__item-inner custom__item-inner--text">

                    <div class="medium-up--text-left">

                        <h4 class="h3" data-theme-editor-setting="section.1505986922947.block.1505986922947-0.title/escape">Renner弦槌的优异性</h4>


                        <div class="rte-setting" data-theme-editor-setting="section.1505986922947.block.1505986922947-0.text"><p>最值得一提的是其形状特别设计的形状使其在与弦接触时能弹奏出音域宽广、饱满丰润的音色</p>
                            <p></p>
                            <p>精心甄选的毛毡材料采用FFW等公司专为钢琴特制的顶级毛毡，在纤维纵横排列度、残脂率及毛毡纤维长度等方面拥有突出表现。</p>
                            <p></p>
                            <p>制造弦槌时对毛毡湿度进行精密的管理。</p>
                            <p></p>
                            <p><strong>另外， Renner 公司还采用独创的制造方法。其弦槌内硬外柔（ 榔头表面柔软、中心部较硬）的硬度分布保证了饱满丰润的音色。因为具备这些优越的特性，无论演奏者想要表现饱满明亮的有力强音，还是微妙变化的纤细弱音，都能快速对应，完美演绎出明亮丰满、拥有良好平衡感的音色。</strong></p></div>

                    </div>

                </div>
            </div>


        </div>


    </div>


</div>
<div id="shopify-section-1505987079475" class="shopify-section index-section" data-theme-editor-section-35856810728="{&quot;id&quot;:&quot;1505987079475&quot;,&quot;type&quot;:&quot;feature-row&quot;,&quot;hidden&quot;:false}"><div class="page-width feature-row">


        <div class="feature-row">


            <div class="feature-row__item">



                <style>


                    @media screen and (min-width: 750px) {
                        #FeatureRowImage-1505987079475 {
                            max-width: 545px;
                            max-height: 363.5107421875px;
                        }
                        #FeatureRowImageWrapper-1505987079475 {
                            max-width: 545px;
                            max-height: 363.5107421875px;
                        }
                    }



                    @media screen and (max-width: 749px) {
                        #FeatureRowImage-1505987079475 {
                            max-width: 750px;
                            max-height: 750px;
                        }
                        #FeatureRowImageWrapper-1505987079475 {
                            max-width: 750px;
                        }
                    }

                </style>

                <div id="FeatureRowImageWrapper-1505987079475" class="feature-row__image-wrapper js">
                    <div style="padding-top:66.69921875%;">
                        <img id="FeatureRowImage-1505987079475" class="feature-row__image lazyautosizes lazyloaded" src="//cdn.shopify.com/s/files/1/2334/0831/files/01-1024x683_aea309bb-c72d-462d-aa74-a9e464c04811_200x200.jpg?v=1505986591" data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]" data-aspectratio="1.499267935578331" data-sizes="auto" alt="" data-srcset="//cdn.shopify.com/s/files/1/2334/0831/files/01-1024x683_aea309bb-c72d-462d-aa74-a9e464c04811_180x.jpg?v=1505986591 180w, //cdn.shopify.com/s/files/1/2334/0831/files/01-1024x683_aea309bb-c72d-462d-aa74-a9e464c04811_360x.jpg?v=1505986591 360w, //cdn.shopify.com/s/files/1/2334/0831/files/01-1024x683_aea309bb-c72d-462d-aa74-a9e464c04811_540x.jpg?v=1505986591 540w, //cdn.shopify.com/s/files/1/2334/0831/files/01-1024x683_aea309bb-c72d-462d-aa74-a9e464c04811_720x.jpg?v=1505986591 720w, //cdn.shopify.com/s/files/1/2334/0831/files/01-1024x683_aea309bb-c72d-462d-aa74-a9e464c04811_900x.jpg?v=1505986591 900w, //cdn.shopify.com/s/files/1/2334/0831/files/01-1024x683_aea309bb-c72d-462d-aa74-a9e464c04811_1080x.jpg?v=1505986591 1080w, //cdn.shopify.com/s/files/1/2334/0831/files/01-1024x683_aea309bb-c72d-462d-aa74-a9e464c04811_1296x.jpg?v=1505986591 1296w, //cdn.shopify.com/s/files/1/2334/0831/files/01-1024x683_aea309bb-c72d-462d-aa74-a9e464c04811_1512x.jpg?v=1505986591 1512w, //cdn.shopify.com/s/files/1/2334/0831/files/01-1024x683_aea309bb-c72d-462d-aa74-a9e464c04811_1728x.jpg?v=1505986591 1728w, //cdn.shopify.com/s/files/1/2334/0831/files/01-1024x683_aea309bb-c72d-462d-aa74-a9e464c04811_2048x.jpg?v=1505986591 2048w" sizes="588px" srcset="//cdn.shopify.com/s/files/1/2334/0831/files/01-1024x683_aea309bb-c72d-462d-aa74-a9e464c04811_180x.jpg?v=1505986591 180w, //cdn.shopify.com/s/files/1/2334/0831/files/01-1024x683_aea309bb-c72d-462d-aa74-a9e464c04811_360x.jpg?v=1505986591 360w, //cdn.shopify.com/s/files/1/2334/0831/files/01-1024x683_aea309bb-c72d-462d-aa74-a9e464c04811_540x.jpg?v=1505986591 540w, //cdn.shopify.com/s/files/1/2334/0831/files/01-1024x683_aea309bb-c72d-462d-aa74-a9e464c04811_720x.jpg?v=1505986591 720w, //cdn.shopify.com/s/files/1/2334/0831/files/01-1024x683_aea309bb-c72d-462d-aa74-a9e464c04811_900x.jpg?v=1505986591 900w, //cdn.shopify.com/s/files/1/2334/0831/files/01-1024x683_aea309bb-c72d-462d-aa74-a9e464c04811_1080x.jpg?v=1505986591 1080w, //cdn.shopify.com/s/files/1/2334/0831/files/01-1024x683_aea309bb-c72d-462d-aa74-a9e464c04811_1296x.jpg?v=1505986591 1296w, //cdn.shopify.com/s/files/1/2334/0831/files/01-1024x683_aea309bb-c72d-462d-aa74-a9e464c04811_1512x.jpg?v=1505986591 1512w, //cdn.shopify.com/s/files/1/2334/0831/files/01-1024x683_aea309bb-c72d-462d-aa74-a9e464c04811_1728x.jpg?v=1505986591 1728w, //cdn.shopify.com/s/files/1/2334/0831/files/01-1024x683_aea309bb-c72d-462d-aa74-a9e464c04811_2048x.jpg?v=1505986591 2048w">
                    </div>
                </div>

                <noscript>
                    &lt;img src="//cdn.shopify.com/s/files/1/2334/0831/files/01-1024x683_aea309bb-c72d-462d-aa74-a9e464c04811_600x600@2x.jpg?v=1505986591" alt="" class="feature-row__image" /&gt;
                </noscript>

            </div>



            <div class="feature-row__item feature-row__text feature-row__text--left">

                <h2 class="h3" data-theme-editor-setting="section.1505987079475.title/escape">全球最著名的德国Renner击弦机</h2>


                <div class="rte-setting featured-row__subtext" data-theme-editor-setting="section.1505987079475.text"><p>领袖级旗舰—WILH. STEINBERG钢琴&nbsp;“S”系列</p>
                    <p>每台击弦机上平均拥有8800个由木材、毛毡及金属构成的零件。作为德国唯一的击弦机制造商， Renner 的每件产品都采用最上乘的材料和最精益求精的工艺，100多年来在竞争激烈的钢琴制造业中始终以完美品质立于不败之地。</p>
                    <p>WILH. STEINBERG钢琴“S”系列，采用德国精密工业中拥有125年历史、至今已生产出300万架三角钢琴和立式钢琴的Renner击弦机，保证每一台WILH. STEINBERG钢琴都拥有细腻精准的音质， 忠实完美地传达演奏者每一次最细微的音乐演绎。</p></div>


            </div>


        </div>
    </div>


</div>
<div id="shopify-section-1505987116430" class="shopify-section index-section" data-theme-editor-section-35856810728="{&quot;id&quot;:&quot;1505987116430&quot;,&quot;type&quot;:&quot;feature-row&quot;,&quot;hidden&quot;:false}"><div class="page-width feature-row">


        <div class="feature-row">


            <div class="feature-row__item feature-row__text feature-row__text--right">

                <h2 class="h3" data-theme-editor-setting="section.1505987116430.title/escape">Renner击弦机的独特优势</h2>


                <div class="rte-setting featured-row__subtext" data-theme-editor-setting="section.1505987116430.text"><p>Renner公司的一大特征是根据各厂家的不同需求，设计相应的击弦机。在欧洲，由于众多中小厂家无法自行生产击弦机，因此该领域得以细分发展。Renner公司由于深谙击弦机的特质，能设计和生产满足不同厂家需求的击弦机，在业界享有盛名。</p>
                    <p>与厂家的长期合作，使Renner公司得以听取钢琴家们的意见不断改善产品，制造出深受好评的击弦机。作为击弦工具，击弦机必须拥有“轻快的打击力及适度的阻力”。这与各部分的设计尺寸、摩擦力及轴架扭矩都有密切关系。</p>
                    <p></p>
                    <p>Renner公司在轴架扭矩的加工组装方面花费了很多心思，特别采用独特的工艺体系保证了扭矩精密的稳定性。</p>
                    <p></p>
                    <p><strong>木材、毛毡、皮革等材料全部经过精心甄选、严格进行静置管理和刀具管理—德国独特细致的木材零件加工方式堪称世界一流，由此成就了Renner击弦机卓越稳定的品质。</strong></p></div>


            </div>



            <div class="feature-row__item">



                <style>


                    @media screen and (min-width: 750px) {
                        #FeatureRowImage-1505987116430 {
                            max-width: 545px;
                            max-height: 327.0px;
                        }
                        #FeatureRowImageWrapper-1505987116430 {
                            max-width: 545px;
                            max-height: 327.0px;
                        }
                    }



                    @media screen and (max-width: 749px) {
                        #FeatureRowImage-1505987116430 {
                            max-width: 555px;
                            max-height: 750px;
                        }
                        #FeatureRowImageWrapper-1505987116430 {
                            max-width: 555px;
                        }
                    }

                </style>

                <div id="FeatureRowImageWrapper-1505987116430" class="feature-row__image-wrapper js">
                    <div style="padding-top:60.0%;">
                        <img id="FeatureRowImage-1505987116430" class="feature-row__image lazyautosizes lazyloaded" src="//cdn.shopify.com/s/files/1/2334/0831/files/technology_08_200x200.jpg?v=1505987131" data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]" data-aspectratio="1.6666666666666667" data-sizes="auto" alt="" data-srcset="//cdn.shopify.com/s/files/1/2334/0831/files/technology_08_180x.jpg?v=1505987131 180w, //cdn.shopify.com/s/files/1/2334/0831/files/technology_08_360x.jpg?v=1505987131 360w, //cdn.shopify.com/s/files/1/2334/0831/files/technology_08_540x.jpg?v=1505987131 540w, //cdn.shopify.com/s/files/1/2334/0831/files/technology_08_720x.jpg?v=1505987131 720w, //cdn.shopify.com/s/files/1/2334/0831/files/technology_08_900x.jpg?v=1505987131 900w, //cdn.shopify.com/s/files/1/2334/0831/files/technology_08_1080x.jpg?v=1505987131 1080w, //cdn.shopify.com/s/files/1/2334/0831/files/technology_08_1296x.jpg?v=1505987131 1296w, //cdn.shopify.com/s/files/1/2334/0831/files/technology_08_1512x.jpg?v=1505987131 1512w, //cdn.shopify.com/s/files/1/2334/0831/files/technology_08_1728x.jpg?v=1505987131 1728w, //cdn.shopify.com/s/files/1/2334/0831/files/technology_08_2048x.jpg?v=1505987131 2048w" sizes="555px" srcset="//cdn.shopify.com/s/files/1/2334/0831/files/technology_08_180x.jpg?v=1505987131 180w, //cdn.shopify.com/s/files/1/2334/0831/files/technology_08_360x.jpg?v=1505987131 360w, //cdn.shopify.com/s/files/1/2334/0831/files/technology_08_540x.jpg?v=1505987131 540w, //cdn.shopify.com/s/files/1/2334/0831/files/technology_08_720x.jpg?v=1505987131 720w, //cdn.shopify.com/s/files/1/2334/0831/files/technology_08_900x.jpg?v=1505987131 900w, //cdn.shopify.com/s/files/1/2334/0831/files/technology_08_1080x.jpg?v=1505987131 1080w, //cdn.shopify.com/s/files/1/2334/0831/files/technology_08_1296x.jpg?v=1505987131 1296w, //cdn.shopify.com/s/files/1/2334/0831/files/technology_08_1512x.jpg?v=1505987131 1512w, //cdn.shopify.com/s/files/1/2334/0831/files/technology_08_1728x.jpg?v=1505987131 1728w, //cdn.shopify.com/s/files/1/2334/0831/files/technology_08_2048x.jpg?v=1505987131 2048w">
                    </div>
                </div>

                <noscript>
                    &lt;img src="//cdn.shopify.com/s/files/1/2334/0831/files/technology_08_600x600@2x.jpg?v=1505987131" alt="" class="feature-row__image" /&gt;
                </noscript>

            </div>


        </div>
    </div>


</div>
<div id="shopify-section-1505987169599" class="shopify-section index-section" data-theme-editor-section-35856810728="{&quot;id&quot;:&quot;1505987169599&quot;,&quot;type&quot;:&quot;feature-row&quot;,&quot;hidden&quot;:false}"><div class="page-width feature-row">


        <div class="feature-row">


            <div class="feature-row__item">



                <style>


                    @media screen and (min-width: 750px) {
                        #FeatureRowImage-1505987169599 {
                            max-width: 545px;
                            max-height: 334.26666666666665px;
                        }
                        #FeatureRowImageWrapper-1505987169599 {
                            max-width: 545px;
                            max-height: 334.26666666666665px;
                        }
                    }



                    @media screen and (max-width: 749px) {
                        #FeatureRowImage-1505987169599 {
                            max-width: 600px;
                            max-height: 750px;
                        }
                        #FeatureRowImageWrapper-1505987169599 {
                            max-width: 600px;
                        }
                    }

                </style>

                <div id="FeatureRowImageWrapper-1505987169599" class="feature-row__image-wrapper js">
                    <div style="padding-top:61.33333333333334%;">
                        <img id="FeatureRowImage-1505987169599" class="feature-row__image lazyautosizes lazyloaded" src="//cdn.shopify.com/s/files/1/2334/0831/files/technology_09_200x200.jpg?v=1505987190" data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]" data-aspectratio="1.6304347826086956" data-sizes="auto" alt="" data-srcset="//cdn.shopify.com/s/files/1/2334/0831/files/technology_09_180x.jpg?v=1505987190 180w, //cdn.shopify.com/s/files/1/2334/0831/files/technology_09_360x.jpg?v=1505987190 360w, //cdn.shopify.com/s/files/1/2334/0831/files/technology_09_540x.jpg?v=1505987190 540w, //cdn.shopify.com/s/files/1/2334/0831/files/technology_09_720x.jpg?v=1505987190 720w, //cdn.shopify.com/s/files/1/2334/0831/files/technology_09_900x.jpg?v=1505987190 900w, //cdn.shopify.com/s/files/1/2334/0831/files/technology_09_1080x.jpg?v=1505987190 1080w, //cdn.shopify.com/s/files/1/2334/0831/files/technology_09_1296x.jpg?v=1505987190 1296w, //cdn.shopify.com/s/files/1/2334/0831/files/technology_09_1512x.jpg?v=1505987190 1512w, //cdn.shopify.com/s/files/1/2334/0831/files/technology_09_1728x.jpg?v=1505987190 1728w, //cdn.shopify.com/s/files/1/2334/0831/files/technology_09_2048x.jpg?v=1505987190 2048w" sizes="588px" srcset="//cdn.shopify.com/s/files/1/2334/0831/files/technology_09_180x.jpg?v=1505987190 180w, //cdn.shopify.com/s/files/1/2334/0831/files/technology_09_360x.jpg?v=1505987190 360w, //cdn.shopify.com/s/files/1/2334/0831/files/technology_09_540x.jpg?v=1505987190 540w, //cdn.shopify.com/s/files/1/2334/0831/files/technology_09_720x.jpg?v=1505987190 720w, //cdn.shopify.com/s/files/1/2334/0831/files/technology_09_900x.jpg?v=1505987190 900w, //cdn.shopify.com/s/files/1/2334/0831/files/technology_09_1080x.jpg?v=1505987190 1080w, //cdn.shopify.com/s/files/1/2334/0831/files/technology_09_1296x.jpg?v=1505987190 1296w, //cdn.shopify.com/s/files/1/2334/0831/files/technology_09_1512x.jpg?v=1505987190 1512w, //cdn.shopify.com/s/files/1/2334/0831/files/technology_09_1728x.jpg?v=1505987190 1728w, //cdn.shopify.com/s/files/1/2334/0831/files/technology_09_2048x.jpg?v=1505987190 2048w">
                    </div>
                </div>

                <noscript>
                    &lt;img src="//cdn.shopify.com/s/files/1/2334/0831/files/technology_09_600x600@2x.jpg?v=1505987190" alt="" class="feature-row__image" /&gt;
                </noscript>

            </div>



            <div class="feature-row__item feature-row__text feature-row__text--left">

                <h2 class="h3" data-theme-editor-setting="section.1505987169599.title/escape">德国Kluge键盘</h2>


                <div class="rte-setting featured-row__subtext" data-theme-editor-setting="section.1505987169599.text"><p><strong>完美纯正的手感</strong></p>
                    <p>世界上最古老及最传统的键盘制造商Kluge使WILH. STEINBERG钢琴拥有完美设计的键盘， 保证了它拥有个性化的音色和丰富的表现力。</p>
                    <p>键盘是连接钢琴与钢琴家之间的桥梁。Kluge键盘的黑键采用气干密度高达1.3g/cm³的进口乌木加工，<br>键面更光滑，手感更舒适，拥有更为出色的表现力和演奏性。</p>
                    <p></p>
                    <p><strong>德国Kluge键盘的黑键采用实木黑檀，白键采用特殊材料，拥有传统欧洲钢琴所独有的触感、较高的吸湿度及良好的演奏性。</strong></p></div>


            </div>


        </div>
    </div>


</div>
<div id="shopify-section-1505987222247" class="shopify-section index-section" data-theme-editor-section-35856810728="{&quot;id&quot;:&quot;1505987222247&quot;,&quot;type&quot;:&quot;feature-row&quot;,&quot;hidden&quot;:false}"><div class="page-width feature-row">


        <div class="feature-row">


            <div class="feature-row__item feature-row__text feature-row__text--right">

                <h2 class="h3" data-theme-editor-setting="section.1505987222247.title/escape">WILH. STEINBERG钢琴使用德国Röslau琴弦</h2>


                <div class="rte-setting featured-row__subtext" data-theme-editor-setting="section.1505987222247.text"><p><strong>徳国Röslau蓝牌琴弦，彰显大师魅力，使钢琴拥有圆润饱满、悦耳动听的音色。</strong></p>
                    <p>虽然Röslau琴弦成本较高，但由于其拥有完美的音色，历来为世界各大著名钢琴制造商所采用。</p>
                    <p>Röslau琴弦的最大特征， 是在断弦试验中， 其断弦率比其他同类产品低约10 %。究其原因，是因为它表面非常光滑，几乎无限接近于圆形之故。因此，它没有多余的噪音，拥有完美圆润的音色。</p></div>


            </div>



            <div class="feature-row__item">



                <style>


                    @media screen and (min-width: 750px) {
                        #FeatureRowImage-1505987222247 {
                            max-width: 488.35125448028674px;
                            max-height: 545px;
                        }
                        #FeatureRowImageWrapper-1505987222247 {
                            max-width: 488.35125448028674px;
                            max-height: 545px;
                        }
                    }



                    @media screen and (max-width: 749px) {
                        #FeatureRowImage-1505987222247 {
                            max-width: 672.0430107526881px;
                            max-height: 750px;
                        }
                        #FeatureRowImageWrapper-1505987222247 {
                            max-width: 672.0430107526881px;
                        }
                    }

                </style>

                <div id="FeatureRowImageWrapper-1505987222247" class="feature-row__image-wrapper js">
                    <div style="padding-top:111.6%;">
                        <img id="FeatureRowImage-1505987222247" class="feature-row__image lazyautosizes lazyloaded" src="//cdn.shopify.com/s/files/1/2334/0831/files/003_200x200.jpg?v=1505987234" data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]" data-aspectratio="0.8960573476702509" data-sizes="auto" alt="" data-srcset="//cdn.shopify.com/s/files/1/2334/0831/files/003_180x.jpg?v=1505987234 180w, //cdn.shopify.com/s/files/1/2334/0831/files/003_360x.jpg?v=1505987234 360w, //cdn.shopify.com/s/files/1/2334/0831/files/003_540x.jpg?v=1505987234 540w, //cdn.shopify.com/s/files/1/2334/0831/files/003_720x.jpg?v=1505987234 720w, //cdn.shopify.com/s/files/1/2334/0831/files/003_900x.jpg?v=1505987234 900w, //cdn.shopify.com/s/files/1/2334/0831/files/003_1080x.jpg?v=1505987234 1080w, //cdn.shopify.com/s/files/1/2334/0831/files/003_1296x.jpg?v=1505987234 1296w, //cdn.shopify.com/s/files/1/2334/0831/files/003_1512x.jpg?v=1505987234 1512w, //cdn.shopify.com/s/files/1/2334/0831/files/003_1728x.jpg?v=1505987234 1728w, //cdn.shopify.com/s/files/1/2334/0831/files/003_2048x.jpg?v=1505987234 2048w" sizes="588px" srcset="//cdn.shopify.com/s/files/1/2334/0831/files/003_180x.jpg?v=1505987234 180w, //cdn.shopify.com/s/files/1/2334/0831/files/003_360x.jpg?v=1505987234 360w, //cdn.shopify.com/s/files/1/2334/0831/files/003_540x.jpg?v=1505987234 540w, //cdn.shopify.com/s/files/1/2334/0831/files/003_720x.jpg?v=1505987234 720w, //cdn.shopify.com/s/files/1/2334/0831/files/003_900x.jpg?v=1505987234 900w, //cdn.shopify.com/s/files/1/2334/0831/files/003_1080x.jpg?v=1505987234 1080w, //cdn.shopify.com/s/files/1/2334/0831/files/003_1296x.jpg?v=1505987234 1296w, //cdn.shopify.com/s/files/1/2334/0831/files/003_1512x.jpg?v=1505987234 1512w, //cdn.shopify.com/s/files/1/2334/0831/files/003_1728x.jpg?v=1505987234 1728w, //cdn.shopify.com/s/files/1/2334/0831/files/003_2048x.jpg?v=1505987234 2048w">
                    </div>
                </div>

                <noscript>
                    &lt;img src="//cdn.shopify.com/s/files/1/2334/0831/files/003_600x600@2x.jpg?v=1505987234" alt="" class="feature-row__image" /&gt;
                </noscript>

            </div>


        </div>
    </div>


</div>
<div class="page-width" style="display: none">
    <div class="grid">
        <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
            <div class="section-header text-center">
                <h1>{{ page.title }}</h1>
            </div>

            <div class="rte">
                {{ page.content }}
            </div>
        </div>
    </div>
</div>