<div id="shopify-section-1505987693338" class="shopify-section index-section" data-theme-editor-section-35856849718="{&quot;id&quot;:&quot;1505987693338&quot;,&quot;type&quot;:&quot;custom-content&quot;,&quot;hidden&quot;:false}"><div class="page-width">

        <div class="section-header text-center">
            <h4 class="h2" data-theme-editor-setting="section.1505987693338.title/escape">人间巧艺夺天工</h4>
        </div>


        <div class="custom-content">





            <div class="custom__item custom__item--1505987693338-0 one-whole align--center" data-theme-editor-block-35856849718="{&quot;id&quot;:&quot;1505987693338-0&quot;,&quot;type&quot;:&quot;text&quot;}">
                <div class="custom__item-inner custom__item-inner--text">

                    <div class="medium-up--text-left">

                        <h4 class="h3" data-theme-editor-setting="section.1505987693338.block.1505987693338-0.title/escape">碳纤维击弦机</h4>


                        <div class="rte-setting" data-theme-editor-setting="section.1505987693338.block.1505987693338-0.text"><p>碳纤维击弦机具有不同于传统击弦机的优良耐候性，能使击弦机各组件不随温湿度的变化而变化（不变形），确保其经久耐用的品质。 并能保证各零部件配合精准、组装精度高、整体调整小，有效提高击弦机系统的整体性能，使系统运作效果达到更佳。同时， 反应灵敏的触键感，由于阻力小、可控性高，能实现更舒适更流畅的弹奏效果。</p>
                            <p>碳纤维材料还具有耐磨、耐腐蚀性强的优点，能确保长时间使用下击弦机性能的稳定和系统的均衡。在节约资源，保护环境的同时，它还具有防静电的功能，能有效避免组件受静电作用影响击弦效果。</p></div>

                    </div>

                </div>
            </div>









            <style>



                #CustomImage--2-11340316700 {
                    max-width: 371px;
                    max-height: 261px;
                }
                #CustomImageWrapper--2-11340316700 {
                    max-width: 371px;
                    max-height: 261px;
                }



            </style>




            <div class="custom__item custom__item--1505987693338-1 small--one-half medium-up--one-half align--center" data-theme-editor-block-35856849718="{&quot;id&quot;:&quot;1505987693338-1&quot;,&quot;type&quot;:&quot;image&quot;}">
                <div class="custom__item-inner custom__item-inner--image" id="CustomImageWrapper--2-11340316700">


                    <div style="padding-top:70.35040431266847%;">
                        <img id="CustomImage--2-11340316700" class="custom__image js lazyautosizes lazyloaded" src="//cdn.shopify.com/s/files/1/2334/0831/files/icon36_300x300.jpg?v=1505987744" data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]" data-aspectratio="1.421455938697318" data-sizes="auto" alt="" data-srcset="//cdn.shopify.com/s/files/1/2334/0831/files/icon36_180x.jpg?v=1505987744 180w, //cdn.shopify.com/s/files/1/2334/0831/files/icon36_360x.jpg?v=1505987744 360w, //cdn.shopify.com/s/files/1/2334/0831/files/icon36_540x.jpg?v=1505987744 540w, //cdn.shopify.com/s/files/1/2334/0831/files/icon36_720x.jpg?v=1505987744 720w, //cdn.shopify.com/s/files/1/2334/0831/files/icon36_900x.jpg?v=1505987744 900w, //cdn.shopify.com/s/files/1/2334/0831/files/icon36_1080x.jpg?v=1505987744 1080w, //cdn.shopify.com/s/files/1/2334/0831/files/icon36_1296x.jpg?v=1505987744 1296w, //cdn.shopify.com/s/files/1/2334/0831/files/icon36_1512x.jpg?v=1505987744 1512w, //cdn.shopify.com/s/files/1/2334/0831/files/icon36_1728x.jpg?v=1505987744 1728w, //cdn.shopify.com/s/files/1/2334/0831/files/icon36_2048x.jpg?v=1505987744 2048w" sizes="283px" srcset="//cdn.shopify.com/s/files/1/2334/0831/files/icon36_180x.jpg?v=1505987744 180w, //cdn.shopify.com/s/files/1/2334/0831/files/icon36_360x.jpg?v=1505987744 360w, //cdn.shopify.com/s/files/1/2334/0831/files/icon36_540x.jpg?v=1505987744 540w, //cdn.shopify.com/s/files/1/2334/0831/files/icon36_720x.jpg?v=1505987744 720w, //cdn.shopify.com/s/files/1/2334/0831/files/icon36_900x.jpg?v=1505987744 900w, //cdn.shopify.com/s/files/1/2334/0831/files/icon36_1080x.jpg?v=1505987744 1080w, //cdn.shopify.com/s/files/1/2334/0831/files/icon36_1296x.jpg?v=1505987744 1296w, //cdn.shopify.com/s/files/1/2334/0831/files/icon36_1512x.jpg?v=1505987744 1512w, //cdn.shopify.com/s/files/1/2334/0831/files/icon36_1728x.jpg?v=1505987744 1728w, //cdn.shopify.com/s/files/1/2334/0831/files/icon36_2048x.jpg?v=1505987744 2048w">
                    </div>
                    <noscript>

                        &lt;img src="//cdn.shopify.com/s/files/1/2334/0831/files/icon36_530x_crop_top@2x.jpg?v=1505987744" alt="" class="custom__image" /&gt;
                    </noscript>


                </div>
            </div>









            <style>



                #CustomImage--3-11340415004 {
                    max-width: 373px;
                    max-height: 262px;
                }
                #CustomImageWrapper--3-11340415004 {
                    max-width: 373px;
                    max-height: 262px;
                }



            </style>




            <div class="custom__item custom__item--1505987737484 small--one-half medium-up--one-half align--center" data-theme-editor-block-35856849718="{&quot;id&quot;:&quot;1505987737484&quot;,&quot;type&quot;:&quot;image&quot;}">
                <div class="custom__item-inner custom__item-inner--image" id="CustomImageWrapper--3-11340415004">


                    <div style="padding-top:70.24128686327077%;">
                        <img id="CustomImage--3-11340415004" class="custom__image js lazyautosizes lazyloaded" src="//cdn.shopify.com/s/files/1/2334/0831/files/icon35_300x300.jpg?v=1505987752" data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]" data-aspectratio="1.4236641221374047" data-sizes="auto" alt="" data-srcset="//cdn.shopify.com/s/files/1/2334/0831/files/icon35_180x.jpg?v=1505987752 180w, //cdn.shopify.com/s/files/1/2334/0831/files/icon35_360x.jpg?v=1505987752 360w, //cdn.shopify.com/s/files/1/2334/0831/files/icon35_540x.jpg?v=1505987752 540w, //cdn.shopify.com/s/files/1/2334/0831/files/icon35_720x.jpg?v=1505987752 720w, //cdn.shopify.com/s/files/1/2334/0831/files/icon35_900x.jpg?v=1505987752 900w, //cdn.shopify.com/s/files/1/2334/0831/files/icon35_1080x.jpg?v=1505987752 1080w, //cdn.shopify.com/s/files/1/2334/0831/files/icon35_1296x.jpg?v=1505987752 1296w, //cdn.shopify.com/s/files/1/2334/0831/files/icon35_1512x.jpg?v=1505987752 1512w, //cdn.shopify.com/s/files/1/2334/0831/files/icon35_1728x.jpg?v=1505987752 1728w, //cdn.shopify.com/s/files/1/2334/0831/files/icon35_2048x.jpg?v=1505987752 2048w" sizes="283px" srcset="//cdn.shopify.com/s/files/1/2334/0831/files/icon35_180x.jpg?v=1505987752 180w, //cdn.shopify.com/s/files/1/2334/0831/files/icon35_360x.jpg?v=1505987752 360w, //cdn.shopify.com/s/files/1/2334/0831/files/icon35_540x.jpg?v=1505987752 540w, //cdn.shopify.com/s/files/1/2334/0831/files/icon35_720x.jpg?v=1505987752 720w, //cdn.shopify.com/s/files/1/2334/0831/files/icon35_900x.jpg?v=1505987752 900w, //cdn.shopify.com/s/files/1/2334/0831/files/icon35_1080x.jpg?v=1505987752 1080w, //cdn.shopify.com/s/files/1/2334/0831/files/icon35_1296x.jpg?v=1505987752 1296w, //cdn.shopify.com/s/files/1/2334/0831/files/icon35_1512x.jpg?v=1505987752 1512w, //cdn.shopify.com/s/files/1/2334/0831/files/icon35_1728x.jpg?v=1505987752 1728w, //cdn.shopify.com/s/files/1/2334/0831/files/icon35_2048x.jpg?v=1505987752 2048w">
                    </div>
                    <noscript>

                        &lt;img src="//cdn.shopify.com/s/files/1/2334/0831/files/icon35_530x_crop_top@2x.jpg?v=1505987752" alt="" class="custom__image" /&gt;
                    </noscript>


                </div>
            </div>






            <div class="custom__item custom__item--1505987764364 three-quarters align--center" data-theme-editor-block-35856849718="{&quot;id&quot;:&quot;1505987764364&quot;,&quot;type&quot;:&quot;text&quot;}">
                <div class="custom__item-inner custom__item-inner--text">

                    <div class="medium-up--text-left">

                        <h4 class="h3" data-theme-editor-setting="section.1505987693338.block.1505987764364.title/escape">进口云杉实木音板</h4>


                        <div class="rte-setting" data-theme-editor-setting="section.1505987693338.block.1505987764364.text"><p>音板原材料采用美国阿拉斯加进口的云杉原始林原木，它具有年轮线致密、密度高（密度0.4 5，远比其他云杉要高）、传音速度快，颜色漂亮、口径及锥度大等优点，是生产各类乐器的最佳材料，能为钢琴带来更厚重、更雄浑的声音。</p></div>

                    </div>

                </div>
            </div>









            <style>



                #CustomImage--5-11340873756 {
                    max-width: 188px;
                    max-height: 134px;
                }
                #CustomImageWrapper--5-11340873756 {
                    max-width: 188px;
                    max-height: 134px;
                }



            </style>




            <div class="custom__item custom__item--1505987781199 small--one-half medium-up--one-quarter align--center" data-theme-editor-block-35856849718="{&quot;id&quot;:&quot;1505987781199&quot;,&quot;type&quot;:&quot;image&quot;}">
                <div class="custom__item-inner custom__item-inner--image" id="CustomImageWrapper--5-11340873756">


                    <div style="padding-top:71.27659574468085%;">
                        <img id="CustomImage--5-11340873756" class="custom__image js lazyautosizes lazyloaded" src="//cdn.shopify.com/s/files/1/2334/0831/files/icon38_300x300.jpg?v=1505987797" data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]" data-aspectratio="1.4029850746268657" data-sizes="auto" alt="" data-srcset="//cdn.shopify.com/s/files/1/2334/0831/files/icon38_180x.jpg?v=1505987797 180w, //cdn.shopify.com/s/files/1/2334/0831/files/icon38_360x.jpg?v=1505987797 360w, //cdn.shopify.com/s/files/1/2334/0831/files/icon38_540x.jpg?v=1505987797 540w, //cdn.shopify.com/s/files/1/2334/0831/files/icon38_720x.jpg?v=1505987797 720w, //cdn.shopify.com/s/files/1/2334/0831/files/icon38_900x.jpg?v=1505987797 900w, //cdn.shopify.com/s/files/1/2334/0831/files/icon38_1080x.jpg?v=1505987797 1080w, //cdn.shopify.com/s/files/1/2334/0831/files/icon38_1296x.jpg?v=1505987797 1296w, //cdn.shopify.com/s/files/1/2334/0831/files/icon38_1512x.jpg?v=1505987797 1512w, //cdn.shopify.com/s/files/1/2334/0831/files/icon38_1728x.jpg?v=1505987797 1728w, //cdn.shopify.com/s/files/1/2334/0831/files/icon38_2048x.jpg?v=1505987797 2048w" sizes="188px" srcset="//cdn.shopify.com/s/files/1/2334/0831/files/icon38_180x.jpg?v=1505987797 180w, //cdn.shopify.com/s/files/1/2334/0831/files/icon38_360x.jpg?v=1505987797 360w, //cdn.shopify.com/s/files/1/2334/0831/files/icon38_540x.jpg?v=1505987797 540w, //cdn.shopify.com/s/files/1/2334/0831/files/icon38_720x.jpg?v=1505987797 720w, //cdn.shopify.com/s/files/1/2334/0831/files/icon38_900x.jpg?v=1505987797 900w, //cdn.shopify.com/s/files/1/2334/0831/files/icon38_1080x.jpg?v=1505987797 1080w, //cdn.shopify.com/s/files/1/2334/0831/files/icon38_1296x.jpg?v=1505987797 1296w, //cdn.shopify.com/s/files/1/2334/0831/files/icon38_1512x.jpg?v=1505987797 1512w, //cdn.shopify.com/s/files/1/2334/0831/files/icon38_1728x.jpg?v=1505987797 1728w, //cdn.shopify.com/s/files/1/2334/0831/files/icon38_2048x.jpg?v=1505987797 2048w">
                    </div>
                    <noscript>

                        &lt;img src="//cdn.shopify.com/s/files/1/2334/0831/files/icon38_250x_crop_top@2x.jpg?v=1505987797" alt="" class="custom__image" /&gt;
                    </noscript>


                </div>
            </div>






            <div class="custom__item custom__item--1505987839008 three-quarters align--center" data-theme-editor-block-35856849718="{&quot;id&quot;:&quot;1505987839008&quot;,&quot;type&quot;:&quot;text&quot;}">
                <div class="custom__item-inner custom__item-inner--text">

                    <div class="medium-up--text-left">


                        <div class="rte-setting" data-theme-editor-setting="section.1505987693338.block.1505987839008.text"><p>耐候性问题一直是钢琴制造业的难点，世界各国一直致力于耐候性的研究。对于长江钢琴音板材料的耐候性处理，我们采取了6个月的天干放置、2次人工干燥和1个月的静止放置，以此彻底消除板材的内应力，使木材平衡含 水率达到最佳值，保证木材内部分子结构的稳定，从根本上改善木材在外界温湿度变化时容易发生变形和开裂的问题，有效确保音板的耐候性，使其传音性能更稳定，音色更纯净、更通透。</p></div>

                    </div>

                </div>
            </div>









            <style>



                #CustomImage--7-11341135900 {
                    max-width: 188px;
                    max-height: 152px;
                }
                #CustomImageWrapper--7-11341135900 {
                    max-width: 188px;
                    max-height: 152px;
                }



            </style>




            <div class="custom__item custom__item--1505987848777 small--one-half medium-up--one-quarter align--center" data-theme-editor-block-35856849718="{&quot;id&quot;:&quot;1505987848777&quot;,&quot;type&quot;:&quot;image&quot;}">
                <div class="custom__item-inner custom__item-inner--image" id="CustomImageWrapper--7-11341135900">


                    <div style="padding-top:80.85106382978724%;">
                        <img id="CustomImage--7-11341135900" class="custom__image js lazyautosizes lazyloaded" src="//cdn.shopify.com/s/files/1/2334/0831/files/icon39_300x300.jpg?v=1505987853" data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]" data-aspectratio="1.236842105263158" data-sizes="auto" alt="" data-srcset="//cdn.shopify.com/s/files/1/2334/0831/files/icon39_180x.jpg?v=1505987853 180w, //cdn.shopify.com/s/files/1/2334/0831/files/icon39_360x.jpg?v=1505987853 360w, //cdn.shopify.com/s/files/1/2334/0831/files/icon39_540x.jpg?v=1505987853 540w, //cdn.shopify.com/s/files/1/2334/0831/files/icon39_720x.jpg?v=1505987853 720w, //cdn.shopify.com/s/files/1/2334/0831/files/icon39_900x.jpg?v=1505987853 900w, //cdn.shopify.com/s/files/1/2334/0831/files/icon39_1080x.jpg?v=1505987853 1080w, //cdn.shopify.com/s/files/1/2334/0831/files/icon39_1296x.jpg?v=1505987853 1296w, //cdn.shopify.com/s/files/1/2334/0831/files/icon39_1512x.jpg?v=1505987853 1512w, //cdn.shopify.com/s/files/1/2334/0831/files/icon39_1728x.jpg?v=1505987853 1728w, //cdn.shopify.com/s/files/1/2334/0831/files/icon39_2048x.jpg?v=1505987853 2048w" sizes="188px" srcset="//cdn.shopify.com/s/files/1/2334/0831/files/icon39_180x.jpg?v=1505987853 180w, //cdn.shopify.com/s/files/1/2334/0831/files/icon39_360x.jpg?v=1505987853 360w, //cdn.shopify.com/s/files/1/2334/0831/files/icon39_540x.jpg?v=1505987853 540w, //cdn.shopify.com/s/files/1/2334/0831/files/icon39_720x.jpg?v=1505987853 720w, //cdn.shopify.com/s/files/1/2334/0831/files/icon39_900x.jpg?v=1505987853 900w, //cdn.shopify.com/s/files/1/2334/0831/files/icon39_1080x.jpg?v=1505987853 1080w, //cdn.shopify.com/s/files/1/2334/0831/files/icon39_1296x.jpg?v=1505987853 1296w, //cdn.shopify.com/s/files/1/2334/0831/files/icon39_1512x.jpg?v=1505987853 1512w, //cdn.shopify.com/s/files/1/2334/0831/files/icon39_1728x.jpg?v=1505987853 1728w, //cdn.shopify.com/s/files/1/2334/0831/files/icon39_2048x.jpg?v=1505987853 2048w">
                    </div>
                    <noscript>

                        &lt;img src="//cdn.shopify.com/s/files/1/2334/0831/files/icon39_250x_crop_top@2x.jpg?v=1505987853" alt="" class="custom__image" /&gt;
                    </noscript>


                </div>
            </div>


        </div>


    </div>


</div>
<div class="page-width" style="display: none">
    <div class="grid">
        <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
            <div class="section-header text-center">
                <h1>{{ page.title }}</h1>
            </div>

            <div class="rte">
                {{ page.content }}
            </div>
        </div>
    </div>
</div>